@charset "UTF-8";
/*user_admin.scss로 병합해야 될 파일*/
body { background: rgba(0, 0, 0, 0.5); }

.wrap_admin_mall_pop { padding: 0 30px; border-radius: 10px; background: #f8f8f8; }

.wrap_admin_mall_pop .head_area { position: relative; padding-top: 33px; padding-bottom: 15px; color: #4d4d4d; font-size: 2rem; font-weight: 500; text-align: left; border-bottom: 1px solid #d7d7d7; }

.wrap_admin_mall_pop .head_area .btn_close { display: block; width: 21px; height: 21px; background: url("../images/btn_close.svg") no-repeat left top; background-size: 21px 21px; -webkit-background-size: 20px; position: absolute; top: 15px; right: -15px; background-size: 20px; cursor: pointer; }

.wrap_admin_mall_pop .btns { width: 110px; height: 32px; line-height: 32px !important; }

.wrap_admin_mall_pop .box_btn { padding: 30px 0; text-align: right; }

.wrap_admin_mall_pop .box_btn .btn_cancle { display: inline-block; border-radius: 4px; background: #4d4d4d; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.4rem; line-height: 1; cursor: pointer; }

.wrap_admin_mall_pop .box_btn .btn_favorite { width: 150px; display: inline-block; border-radius: 4px; background: #e17373; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.4rem; line-height: 1; cursor: pointer; margin: 0 19px; }

.wrap_admin_mall_pop .box_btn .btn_save { display: inline-block; border-radius: 4px; background: #28abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.4rem; line-height: 1; cursor: pointer; margin-right: 0; }

.pop_product_info { width: 690px; }

.pop_product_info .btn_favorite_info { margin-left: auto; display: inline-block; border-radius: 4px; background: #4b4b4b; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.4rem; line-height: 1; cursor: pointer; }

.pop_product_info .wrap_title_area { display: flex; padding: 30px 0; align-items: center; }

.pop_product_info .wrap_title_area .title_goods { font-size: 1.8rem; font-weight: 500; }

.list_product_info.delivery { margin-top: 11px; }

.list_product_info.delivery .cont { padding-top: 13px; }

.list_product_info.delivery .cont span, .list_product_info.delivery .cont input { font-size: 18px; color: #4b4b4b; vertical-align: initial; }

.list_product_info.delivery .cont .type, .list_product_info.delivery .cont .mb17 { margin-bottom: 17px; }

.list_product_info.delivery .cont .notice { font-size: 14px; color: #757575; }

.list_product_info.delivery .cont .notice::before { content: " "; display: inline-block; width: 5px; height: 5px; margin-top: -3px; margin-left: 11px; margin-right: 6px; border-radius: 5px; background: #ff0000; vertical-align: middle; }

.list_product_info.delivery .cont .txt_price { letter-spacing: -1; }

.list_product_info.delivery .cont .type_shipitem { margin-top: 20px; }

.list_product_info.delivery .cont .ml25 { margin-left: 10px; }

.list_product_info.delivery .cont .ml25 { margin-left: 25px; }

.list_product_info.delivery .cont .w75 { display: inline-block; width: 75px; }

.list_product_info.delivery .cont .txt { display: inline-block; width: 175px; margin-left: 8px; }

.list_product_info.delivery .inp_write_price { width: 134px; padding-right: 8px; text-align: right; border-bottom: 1px solid #9e9e9e; }

.list_product_info.delivery .add_delivery { margin: 22px 0 0 128px; padding: 1px 0 0 31px; font-size: 18px; cursor: pointer; background: url("../images/btn_add.svg") no-repeat left center; background-size: 22px; }

.list_product_info li { margin-bottom: 10px; padding: 20px; border: solid 1px #d7d7d7; background: #fff; }

.list_product_info .twice_col { overflow: hidden; }

.list_product_info .twice_col dl { float: left; }

.list_product_info .twice_col dl:first-child { margin-right: 24px; }

.list_product_info .twice_col dl:last-child { margin-left: 24px; }

.list_product_info .twice_col dl textarea { width: 270px; }

.list_product_info dt { padding-bottom: 14px; font-size: 1.8rem; color: #4b4b4b; font-weight: 500; }

.list_product_info dt.lh133 { padding-left: 8px; text-indent: -8px; line-height: 1.33; }

.list_product_info dt::before { content: " "; display: inline-block; width: 3px; height: 3px; margin-right: 4px; border-radius: 3px; background: #4d4d4d; vertical-align: middle; }

.list_product_info .input_product_info, .list_product_info .inp_admin_select { display: block; width: 100%; font-size: 18px; border-bottom: 1px solid #9e9e9e; }

.list_product_info .inp_admin_select { appearance: menulist; }

.list_product_info textarea { padding: 0 8px 9px; height: 37px; font-weight: 350; }

.list_product_info p { margin-top: 2px; font-size: 14px; font-weight: 350; letter-spacing: -0.1px; line-height: 1.29; color: #828282; }

.favorit_write { width: 400px; }

.favorit_write .btn_save { margin-left: 20px; }

.inp_favorit_write { width: 250px; margin: 41px 0 0 45px; padding: 5px 7px; border: none; border-bottom: 1px solid #9e9e9e; font-size: 16px; font-weight: 350; }

.list_favorit_item { margin-top: 39px; }

.list_favorit_item li { position: relative; margin-bottom: 19px; font-size: 18px; font-weight: 500; color: #4b4b4b; }

.list_favorit_item li::before { content: " "; display: inline-block; width: 3px; height: 3px; margin-right: 4px; border-radius: 50%; background: #4d4d4d; vertical-align: middle; }

.list_favorit_item li .btn_del { position: absolute; top: 7px; right: 0; width: 10px; height: 10px; cursor: pointer; background: url("../images/btn_delitem_favorite.png") no-repeat left top; }

.pop_receive_modify { width: 690px; }

.pop_receive_modify .box_btn { padding-top: 0; }

.pop_receive_modify .btn_save { margin-left: 20px; }

.pop_cancel { width: 1100px; }

.pop_cancel .order_num { position: relative; margin: 31px 0 0 20px; padding-left: 8px; font-weight: 500; font-size: 18px; }

.pop_cancel .order_num::before { content: ''; display: block; width: 3px; height: 3px; position: absolute; left: 0; top: 7px; border-radius: 50%; background: #4d4d4d; }

.pop_cancel .order_num .nbr { display: inline-block; padding-left: 10px; font-weight: 350; vertical-align: top; }

.pop_cancel .mall_manage_list_tbl { position: relative; margin-top: 17px; }

.pop_cancel .mall_manage_list_tbl .kong_unit { position: absolute; right: 0; top: -28px; text-align: right; }

.pop_cancel .mall_manage_list_tbl .kong_unit .txt { position: relative; font-weight: 350; font-size: 14px; color: #757575; line-height: 14px; }

.pop_cancel .mall_manage_list_tbl .kong_unit .txt:before { content: ''; display: block; width: 5px; height: 5px; position: absolute; left: -11px; top: 8px; border-radius: 50%; background: red; }

.pop_cancel .mall_manage_list_tbl th { position: relative; height: 60px; line-height: 60px; background: #4b4b4b; font-weight: 500; font-size: 1.6rem; color: #fff; text-align: center; }

.pop_cancel .mall_manage_list_tbl td { vertical-align: top; border: 1px solid #d7d7d7; background: #fff; }

.pop_cancel .mall_manage_list_tbl .tip_area { display: inline-block; position: relative; z-index: 2; margin-left: 6px; vertical-align: 1px; color: #242424; text-align: left; }

.pop_cancel .mall_manage_list_tbl .tip_area .mark_tooltip { display: inline-block; position: relative; width: 21px; height: 21px; border-radius: 50%; font-size: 1.4rem; font-family: "본고딕"; text-align: center; line-height: 21px; vertical-align: top; background-color: #fff; border: 1px solid #ddd; }

.pop_cancel .mall_manage_list_tbl .tip_area .mark_tooltip:hover { cursor: pointer; }

.pop_cancel .mall_manage_list_tbl .tip_area .mark_tooltip:hover ~ .tooltip_note { display: block; }

.pop_cancel .mall_manage_list_tbl .tip_area .tooltip_note { display: none; position: absolute; left: 50%; margin-left: -195px; top: -145px; padding: 30px 27px 0; width: 390px; height: 167px; background: url("../images/bg_tooltip1.svg") no-repeat left top; background-size: 390px 167px; box-sizing: border-box; }

.pop_cancel .mall_manage_list_tbl .tip_area .tooltip_note p { font-size: 1.4rem; font-weight: 350; line-height: 1.4; letter-spacing: -0.8px; padding-bottom: 15px; }

.pop_cancel .mall_manage_list_tbl .tip_area .tooltip_note p:last-child { padding-bottom: 0; }

.pop_cancel .mall_manage_list_tbl .tip_area .mark_tooltip { vertical-align: text-top; }

.pop_cancel .orderdprod_td { padding: 16px 25px 28px; }

.pop_cancel .orderdprod_td .prd_info { color: #383838; }

.pop_cancel .orderdprod_td .prd_info .prod_nbr { font-size: 12px; }

.pop_cancel .orderdprod_td .prd_info .prod_tit { padding: 19px 0 34px; font-size: 14px; }

.pop_cancel .orderdprod_td .prd_info .prod_options { overflow: hidden; font-size: 14px; }

.pop_cancel .orderdprod_td .prd_info .prod_options .opt_name, .pop_cancel .orderdprod_td .prd_info .prod_options .opt_val { float: left; }

.pop_cancel .orderdprod_td .prd_info .prod_options .opt_name.sty2 { padding-left: 10px; }

.pop_cancel .orderdprod_td .prd_info .prod_options .opt_val.sty2 { padding-right: 10px; }

.pop_cancel .orderstat_td { padding: 13px 18px; text-align: center; }

.pop_cancel .orderstat_td .order_status { font-size: 14px; color: #4b4b4b; }

.pop_cancel .cancelinfo_td { padding: 13px 18px; text-align: center; }

.pop_cancel .cancelinfo_td .reason_txt { font-size: 14px; color: #4b4b4b; }

.pop_cancel .prodprice_td { padding: 13px 8px; text-align: right; font-size: 14px; color: #4b4b4b; }

.pop_cancel .prodprice_td .prod_price .price { vertical-align: top; }

.pop_cancel .cancelfee_td { padding: 6px; text-align: right; }

.pop_cancel .cancelfee_td .inp_cancel_fee { width: 100px; height: 27px; line-height: 27px; padding: 0 6px; background: #fff; border: 1px solid #d7d7d7; font-size: 14px; text-align: right; }

.pop_cancel .cancelfee_td .krwon_txt { padding-left: 3px; font-size: 14px; color: #4b4b4b; line-height: 27px; vertical-align: top; }

.pop_cancel .payinfo_td { padding: 13px 21px; text-align: right; color: #4b4b4b; }

.pop_cancel .payinfo_td .credit { font-size: 14px; }

.pop_cancel .payinfo_td .credit .txt { vertical-align: top; }

.pop_cancel .payinfo_td .kong { font-size: 12px; }

.pop_cancel .payinfo_td .kong .txt { vertical-align: top; }

.pop_cancel .payinfo_td .card_payauth { padding: 8px 0 10px; font-size: 12px; }

.pop_cancel .payinfo_td .card_nbr { padding-bottom: 19px; font-size: 12px; }

.pop_cancel .payinfo_td .card_nbr .card_company, .pop_cancel .payinfo_td .card_nbr .card_full_nbr { vertical-align: top; }

.pop_cancel .ttl_refund_money { width: 580px; margin-top: 27px; margin-left: auto; }

.pop_cancel .ttl_refund_money:after { content: ''; display: block; clear: both; }

.pop_cancel .ttl_refund_money li { float: left; font-size: 14px; color: #4b4b4b; }

.pop_cancel .ttl_refund_money li:after { content: ''; display: block; clear: both; }

.pop_cancel .ttl_refund_money li .tit { display: block; float: left; text-align: left; }

.pop_cancel .ttl_refund_money li .prod_price, .pop_cancel .ttl_refund_money li .cancel_price { float: right; }

.pop_cancel .ttl_refund_money li:nth-child(odd) { width: 249px; }

.pop_cancel .ttl_refund_money li:nth-child(odd) .tit { padding-left: 10px; }

.pop_cancel .ttl_refund_money li:nth-child(odd) .prod_price, .pop_cancel .ttl_refund_money li:nth-child(odd) .cancel_price { padding-right: 40px; }

.pop_cancel .ttl_refund_money li:nth-child(even) { width: 330px; padding-right: 20px; padding-left: 60px; }

.pop_cancel .ttl_refund_money li .tip_area { display: inline-block; position: relative; z-index: 2; margin-left: 6px; vertical-align: 1px; margin-right: 6px; float: left; text-align: left; vertical-align: top; }

.pop_cancel .ttl_refund_money li .tip_area .mark_tooltip { display: inline-block; position: relative; width: 21px; height: 21px; border-radius: 50%; font-size: 1.4rem; font-family: "본고딕"; text-align: center; line-height: 21px; vertical-align: top; background-color: #fff; border: 1px solid #ddd; }

.pop_cancel .ttl_refund_money li .tip_area .mark_tooltip:hover { cursor: pointer; }

.pop_cancel .ttl_refund_money li .tip_area .mark_tooltip:hover ~ .tooltip_note { display: block; }

.pop_cancel .ttl_refund_money li .tip_area .tooltip_note { display: none; position: absolute; left: 50%; margin-left: -195px; top: -140px; padding: 30px 27px 0; width: 390px; height: 147px; background: url("../images/bg_tooltip1.svg") no-repeat left top; background-size: 390px 147px; box-sizing: border-box; }

.pop_cancel .ttl_refund_money li .tip_area .tooltip_note p { font-size: 1.4rem; font-weight: 350; line-height: 1.4; letter-spacing: -0.8px; padding-bottom: 15px; }

.pop_cancel .ttl_refund_money li .tip_area .tooltip_note p:last-child { padding-bottom: 0; }

.pop_cancel .ttl_refund_money li .tip_area.sty2 { display: inline-block; position: relative; z-index: 2; margin-left: 6px; vertical-align: 1px; }

.pop_cancel .ttl_refund_money li .tip_area.sty2 .mark_tooltip { display: inline-block; position: relative; width: 21px; height: 21px; border-radius: 50%; font-size: 1.4rem; font-family: "본고딕"; text-align: center; line-height: 21px; vertical-align: top; background-color: #fff; border: 1px solid #ddd; }

.pop_cancel .ttl_refund_money li .tip_area.sty2 .mark_tooltip:hover { cursor: pointer; }

.pop_cancel .ttl_refund_money li .tip_area.sty2 .mark_tooltip:hover ~ .tooltip_note { display: block; }

.pop_cancel .ttl_refund_money li .tip_area.sty2 .tooltip_note { display: none; position: absolute; left: 50%; margin-left: -195px; top: -165px; padding: 30px 27px 0; width: 390px; height: 167px; background: url("../images/bg_tooltip1.svg") no-repeat left top; background-size: 390px 167px; box-sizing: border-box; }

.pop_cancel .ttl_refund_money li .tip_area.sty2 .tooltip_note p { font-size: 1.4rem; font-weight: 350; line-height: 1.4; letter-spacing: -0.8px; padding-bottom: 15px; }

.pop_cancel .ttl_refund_money li .tip_area.sty2 .tooltip_note p:last-child { padding-bottom: 0; }

.pop_cancel .ttl_refund_money li .tip_area.sty2 p.sty1 { padding-left: 16px; text-indent: -16px; }

.pop_cancel .ttl_refund_money li:first-child, .pop_cancel .ttl_refund_money li:nth-child(2) { margin-bottom: 15px; }

.pop_cancel .ttl_refund_money li .price { vertical-align: top; }

.pop_cancel .message { width: 100%; padding-top: 25px; }

.pop_cancel .message textarea { width: 100%; height: 136px; padding: 19px 28px; border: 1px solid #d7d7d7; background: #fff; font-size: 14px; }

.pop_cancel .box_btn { padding-top: 22px; }

.pop_cancel .box_btn .btn_cancle { margin-right: 19px; }
/*# sourceMappingURL=admin_shop.css.map */