@font-face {
  font-family: '본고딕';
  font-style : normal;
  font-weight: 500;
  src        : local('NotoSans-Medium'), local('NotoSans-Medium');
  src        : url('../fonts/NotoSans-Medium.eot'),
    /* IE9 Compat Modes */
    url('../fonts/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/NotoSans-Medium.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/NotoSans-Medium.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/NotoSans-Medium.otf') format('truetype');
}

@font-face {
    font-family: '본고딕';
    font-style: normal;
    font-weight: 400;
    src: local('NotoSans-Regular'), local('NotoSans-Regular');
    src: url('../fonts/NotoSans-Regular.eot'), /* IE9 Compat Modes */
    url('../fonts/NotoSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/NotoSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/NotoSans-Regular.woff') format('woff'), /* Modern Browsers */
	url('../fonts/NotoSans-Regular.otf') format('truetype');
}

@font-face {
  font-family: '본고딕';
  font-style : normal;
  font-weight: 300;
  src        : local('NotoSans-Light'), local('NotoSans-Light');
  src        : url('../fonts/NotoSans-Light.eot'),
    /* IE9 Compat Modes */
    url('../fonts/NotoSans-Light.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/NotoSans-Light.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/NotoSans-Light.otf') format('truetype');
}

@font-face {
  font-family: '본고딕';
  font-style : normal;
  font-weight: 350;
  src        : local('NotoSans-DemiLight'), local('NotoSans-DemiLight');
  src        : url('../fonts/NotoSans-DemiLight.eot'),
    /* IE9 Compat Modes */
    url('../fonts/NotoSans-DemiLight.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/NotoSans-DemiLight.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/NotoSans-DemiLight.otf') format('truetype');
}

@font-face {
  font-family: '본고딕';
  font-style : normal;
  font-weight: 900;
  src        : url('../fonts/NotoSans-Bold.eot');
  /* IE9 Compat Modes */
  src        : url('../fonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/NotoSans-Bold.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/NotoSans-Bold.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/NotoSans-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style : normal;
  font-weight: 400;
  src        : url('../fonts/roboto-v20-latin-regular.eot');
  /* IE9 Compat Modes */
  src        : local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/roboto-v20-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg');
  /* Legacy iOS */
}


@font-face {
  font-family: '티몬';
  src        : url('../fonts/tmon.eot');
  src        : local(※), url('../fonts/tmon.eot?#iefix') format('embedded-opentype'),
    url('../fonts/tmon.woff2') format('woff2'),
    url('../fonts/tmon.woff') format('woff'),
    url('../fonts/tmon.ttf') format('truetype');
  font-weight : normal;
  font-style  : normal;
  font-display: swap;
}

@font-face {
  font-family: '나눔스퀘어';
  font-weight: 400;
  src        : url(../fonts/NanumSquareR.eot);
  src        : url(../fonts/NanumSquareR.eot?#iefix) format('embedded-opentype'),
    url(../fonts/NanumSquareR.woff) format('woff'),
    url(../fonts/NanumSquareR.ttf) format('truetype');
}


/* 위쪽의 font-weight 로 사용하되 아래는 font-family로 선언한 임시 구문 */
@font-face {
  font-family: 'notoSans-D';
  font-style : normal;
  font-weight: 350;
  src        : local('NotoSans-DemiLight'), local('NotoSans-DemiLight');
  src        : url('../fonts/NotoSans-DemiLight.eot'),
      /* IE9 Compat Modes */
      url('../fonts/NotoSans-DemiLight.woff2') format('woff2'),
      /* Super Modern Browsers */
      url('../fonts/NotoSans-DemiLight.woff') format('woff'),
      /* Modern Browsers */
      url('../fonts/NotoSans-DemiLight.otf') format('truetype');
}

@font-face {
font-family: 'notoSans-M';
font-style : normal;
font-weight: 500;
src        : local('NotoSans-Medium'), local('NotoSans-Medium');
src        : url('../fonts/NotoSans-Medium.eot'),
  /* IE9 Compat Modes */
  url('../fonts/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
  /* IE6-IE8 */
  url('../fonts/NotoSans-Medium.woff2') format('woff2'),
  /* Super Modern Browsers */
  url('../fonts/NotoSans-Medium.woff') format('woff'),
  /* Modern Browsers */
  url('../fonts/NotoSans-Medium.otf') format('truetype');
}

@font-face {
font-family: 'notoSans-b';
font-style : normal;
font-weight: bold;
src        : url('../fonts/NotoSans-Bold.eot');
/* IE9 Compat Modes */
src        : url('../fonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
  /* IE6-IE8 */
  url('../fonts/NotoSans-Bold.woff2') format('woff2'),
  /* Super Modern Browsers */
  url('../fonts/NotoSans-Bold.woff') format('woff'),
  /* Modern Browsers */
  url('../fonts/NotoSans-Bold.otf') format('truetype');
}