@charset "UTF-8";
em, a { vertical-align: top; }

.clfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }

.clfix { display: inline-block; }

.clfix { display: block; }

* html .clfix { height: 1%; }

/* Hides from IE-mac */
.clfix { zoom: 1; }

/*for IE 5.5-7*/
.tit_shop { padding: 27px 0 27px 15px; font-size: 3.6rem; line-height: 1; }

.wrap_thema2_sty { display: -webkit-box; display: -ms-flexbox; display: flex; }

.wrap_thema2_sty .img_area { width: 50%; height: 1067px; }

.wrap_thema2_sty .list_sty_half { width: 50%; }

@media (max-width: 767px) { .wrap_thema2_sty { display: block; }
  .wrap_thema2_sty .img_area { width: 100%; height: auto; }
  .wrap_thema2_sty .list_sty_half { width: 100%; } }

.wrap_shopitem_box .inner_section { padding: 30px 0; }

.wrap_shopitem_box .list { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 23px 0 15px; }

.wrap_shopitem_box .list li { width: 320px; height: 552px; padding: 15px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.wrap_shopitem_box .list li a { display: block; border: 1px solid transparent; text-decoration: none; -webkit-box-sizing: border-box; box-sizing: border-box; }

.wrap_shopitem_box .list li a:hover { color: inherit; }

.wrap_shopitem_box .list li .name { margin-top: 30px; color: #4d4d4d; font-size: 2rem; letter-spacing: -0.3px; line-height: 1.2; }

.wrap_shopitem_box .list li .product-info { overflow: hidden; height: 44px; margin-top: 18px; color: #4d4d4d; font-size: 16px; font-weight: 300; line-height: 1.5; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap: break-word; }

.wrap_shopitem_box .list li .price-area { margin-top: 24px; }

.wrap_shopitem_box .list li .base-price { display: block; color: #828282; height: 24px; font-size: 1.6rem; font-weight: 300; line-height: 1.5; }

.wrap_shopitem_box .list li .price-value { display: block; color: #4d4d4d; font-size: 3rem; line-height: 0.8; }

.wrap_shopitem_box .list.sty2 li { margin-bottom: 30px; }

.wrap_shopitem_box .list .image.soldout { position: relative; }

.wrap_shopitem_box .list .image.soldout:before { content: ''; display: block; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: rgba(130, 130, 130, 0.4); }

.wrap_shopitem_box .list .image.soldout .soldout_txt { display: inline-block; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); font-size: 2.4rem; color: #fff; }

.wrap_shopitem_box .etc_info { display: none; }

.wrap_shopitem_box.sty2 li { float: none; width: 100%; height: auto; }

.wrap_shopitem_box.sty2 .image { width: 14%; padding: 15px; }

.wrap_shopitem_box.sty2 .image.soldout:before { width: calc(100% - 30px); height: calc(100% - 30px); left: 15px; top: 15px; }

.wrap_shopitem_box.sty2 .price-value.soldout { font-size: 3rem; color: #828282; }

.wrap_shopitem_box.sty2 .product-wrap, .wrap_shopitem_box.sty2 .descriptions { display: -webkit-box; display: -ms-flexbox; display: flex; }

.wrap_shopitem_box.sty2 .product-wrap { padding-bottom: 30px; border-bottom: 1px solid #efefef; }

.wrap_shopitem_box.sty2 .descriptions { width: 86%; }

.wrap_shopitem_box.sty2 .wrap_txt_desc { width: 73.2%; padding: 0 15px; margin: 15px 0; border-right: 1px solid #efefef; }

.wrap_shopitem_box.sty2 .wrap_txt_desc .name { margin-top: 0; }

.wrap_shopitem_box.sty2 .wrap_info_desc { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; width: 31%; padding: 0 15px; margin: 15px 0; }

.wrap_shopitem_box.sty2 .wrap_info_desc .badges-wrap, .wrap_shopitem_box.sty2 .wrap_info_desc .price-area, .wrap_shopitem_box.sty2 .wrap_info_desc .etc_info { width: 100%; text-align: right; }

.wrap_shopitem_box.sty2 .wrap_info_desc .badges-wrap { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; margin-top: 0; }

.wrap_shopitem_box.sty2 .wrap_info_desc .price-area { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; }

.wrap_shopitem_box.sty2 .wrap_info_desc .base-price, .wrap_shopitem_box.sty2 .wrap_info_desc .price-value { display: inline-block; vertical-align: baseline; }

.wrap_shopitem_box.sty2 .wrap_info_desc .base-price { margin-right: 9px; }

.wrap_shopitem_box.sty2 .wrap_info_desc .etc_info { -webkit-box-ordinal-group: 4; -ms-flex-order: 3; order: 3; display: block; margin-top: 15px; font-size: 1.6rem; line-height: 1.5; }

.wrap_shopitem_box.sty4 { margin-top: 30px; }

.wrap_shopitem_box.sty3 { margin-bottom: 49px; }

.badges-wrap { overflow: hidden; height: 25px; margin-top: 23px; font-size: 0; }

.bage_com { display: inline-block; width: 60px; height: 25px; margin-right: 16px; font-size: 1.3rem; line-height: 25px; text-align: center; -webkit-box-sizing: border-box; box-sizing: border-box; }

.bage_com:last-child { margin-right: 0; }

.bage_new { color: #fff; background-color: #29abe2; }

.bage_sale { color: #fff; background-color: #ff4e60; }

.bage_hit { color: #ffc000; border: solid 1px #ffc000; }

.bage_best { color: #ff4e60; border: solid 1px #ff4e60; }

.bage_normal { color: #4d4d4d; border: solid 1px #4d4d4d; }

.banner_basic_type1.shop .sub_head .inner_section .wrap_txt { -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; }

.banner_basic_type1.shop .sub_head .inner_section .wrap_txt .wrap_tit { margin: 126px 0 0; }

.banner_basic_type1.shop .sub_head .inner_section .wrap_txt .cont_page_tit { text-align: left; margin-bottom: 18px; font-size: 3.6rem; color: #3e1c1c; }

.banner_basic_type1.shop .sub_head .inner_section .wrap_txt .cont_page_subtit { font-size: 2rem; text-align: left; font-weight: normal; color: #3e1c1c; line-height: 1.5; }

.location { width: 1280px; margin: 0 auto; padding: 60px 0 0 15px; }

.location .location_nav { float: left; }

.location .tool_search { float: right; }

.location .tool_search select { min-width: 145px; margin-top: 11px; border: none; border-bottom: 1px solid #b4b4b5; background: url(../images/arrow_select_shop.png) no-repeat 95% 50%; border-radius: 0px; -webkit-appearance: none; -moz-appearance: none; appearance: none; font-size: 20px; }

.location a { display: inline-block; padding: 15px 0 13px; color: #4d4d4d; font-size: 2rem; line-height: 1; margin-right: 40px; }

.location a.depth1_location { padding-bottom: 0px; margin-right: 21px; padding-right: 28px; background: url("../images/arrow_location.png") no-repeat right top 13px; }

.location a.depth1_location .txt { display: inline-block; padding: 0 1px 13px; font-weight: bold; border-bottom: 2px solid #ff4e60; }

.location a:last-child { margin-right: 0; }

.area_radio { display: -webkit-box; display: -ms-flexbox; display: flex; font-size: 16px; }

.radio_contain { display: block; position: relative; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.radio_contain input { position: absolute; opacity: 0; cursor: pointer; }

.radio_contain .checkmark { position: relative; left: 0; border-radius: 50%; border: 1px solid #efefef; }

.radio_contain .checkmark:after { border-radius: 50%; background: #4d4d4d; }

.checkmark { display: inline-block; background-color: #f8f8f8; border-color: #4d4d4d; width: 21px; height: 20px; top: -1px; }

.radio_contain input:checked ~ .checkmark { border-color: #29abe2; }

.radio_contain input:checked ~ .checkmark:after { content: ""; position: absolute; width: 13px; height: 12px; left: 3px; top: 3px; background: #29abe2; }

.radio_contain:hover .checkmark { background-color: #eeeeee; }

.page_list { margin-bottom: 49px; }

.page_list .pager { width: auto; margin: 0 auto; font-family: "본고딕"; font-size: 1.6rem; text-align: center; color: #1c1c1c; }

.page_list .pager td { width: 40px; cursor: pointer; }

.page_list .pager td .txt_page:hover { color: #799dce; }

.page_list .pager .prev .icon_prev { display: inline-block; width: 17px; height: 17px; background: url("../images/icon_arrow1.svg") no-repeat left top; background-size: 17px 17px; -webkit-transform: rotate(180deg); transform: rotate(180deg); background-position: center; }

.page_list .pager .next .icon_next { display: inline-block; width: 17px; height: 17px; background: url("../images/icon_arrow1.svg") no-repeat left top; background-size: 17px 17px; background-position: center; }

.page_list .pager .current_page .txt_page { display: inline-block; width: 34px; height: 24px; line-height: 24px; border-radius: 12px; font-family: notoSans-M; color: #fff; background: #799dce; }

.page_list .pager .current_page .txt_page:hover { color: #fff; }

.scroll_over { position: fixed !important; }

.tab_bottom_detail { position: relative; margin-top: 135px; }

.tab_bottom_detail .tab-titles { position: absolute; top: 0; width: 1280px; border-bottom: none; font-size: 0; }

.tab_bottom_detail .tab-titles li { display: inline-block; width: 25%; height: 60px; padding: 15px 20px 14px; border-top: 1px solid #ddd; border-right: 1px solid #ddd; border-bottom: 1px solid #4d4d4d; background: #fff; text-align: center; color: #ddd; font-size: 2rem; -webkit-box-sizing: border-box; box-sizing: border-box; cursor: pointer; }

.tab_bottom_detail .tab-titles li.active { color: #4d4d4d; border: 1px solid #4d4d4d; border-bottom: 1px solid #fff; background: #ffffff; }

.tab_bottom_detail .tab-contents { padding-top: 60px; }

.tab_bottom_detail .tab-contents > li { padding-top: 100px; }

.product-detail .product-essential-info { margin-bottom: 30px; }

.product-detail .product-essential-info .table-title { padding-bottom: 10px; font-size: 18px; font-weight: 700; }

.wrap_payment .sdp-review__title { margin-bottom: 4px; }

.wrap_payment .wrap_order { margin-bottom: 72px; }

.wrap_payment .txt_chk_payment { margin: 13px 0 27px; }

.wrap_payment .txt_chk_payment input { margin-right: 5px; }

.wrap_payment, .msg_complete, .wrap_mypage { padding-top: 78px; margin-top: 114px; border-top: 1px solid #e7e7e7; }

.msg_complete .txt1 { margin-top: 80px; }

.box_title_button .sdp-review__title { float: left; }

.box_title_button .btn_title_btn { float: right; padding: 7px 17px; color: #fff; font-size: 16px; border-radius: 6px; background: #799dce; }

.box_title_button .sdp-review__title { float: left; }

.box_title_button .btn_title_btn { float: right; padding: 7px 17px; color: #fff; font-size: 16px; border-radius: 6px; background: #799dce; }

.receive_info .title_area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.receive_info .title_area .btn_payment { width: 120px; height: 30px; margin-left: 14px; font-size: 16px; line-height: 28px; border: 1px solid #b4b4b4b5; border-radius: 3px; text-align: center; cursor: pointer; }

.table_shop { width: 100%; margin-bottom: 72px; table-layout: fixed; border-top: 1px solid #b4b4b5; border-bottom: 1px solid #b4b4b5; font-size: 1em; }

.table_shop th { overflow: hidden; padding: 12px 16px; color: #4d4d4d; font-size: 1.4rem; font-weight: 400; border-bottom: 1px solid #b4b4b5; text-align: center; background-color: #e7e7e7; }

.table_shop td { padding: 12px 16px; color: #333; font-size: 1.4rem; border: none; border-bottom: 1px solid #b4b4b5; white-space: normal; word-break: break-all; }

.table_shop td p { font-size: 1.4rem; }

.table_shop td .more_info { color: #b4b4b5; }

.table_shop td.exchange { padding: 12px 30px; }

.table_shop td.exchange p { padding: 7px 0; }

.table_shop td.exchange .tit { margin-left: -14px; }

.table_shop.sty2 { margin-top: 10px; border-top: none; border-bottom: none; }

.table_shop.sty2 th, .table_shop.sty2 td { padding: 21px 16px 23px; font-size: 16px; }

.table_shop.sty2 td.nodata { padding: 68px 0; border-bottom: none; color: #b4b4b5; font-size: 2.4rem; text-align: center; }

.table_shop.mb0 { margin-bottom: 0 !important; }

.product-review .num { color: #ff4e60; font-size: 1.6rem; }

.product-review .num { color: #ff4e60; font-size: 1.6rem; }

.wrap_order .info, .wrap_order .quantity, .wrap_order .amount, .wrap_order .shipping { display: inline-block; font-size: 1.6rem; text-align: center; }

.wrap_order .info { width: 54%; }

.wrap_order .quantity { width: 12%; }

.wrap_order .amount { width: 15%; }

.wrap_order .shipping { width: 18%; }

.wrap_order .order_tit { width: 100%; height: 50px; border-top: 1px solid #4d4d4d; border-bottom: 1px solid #b4b4b5; background-color: #e7e7e7; }

.wrap_order .order_tit .tit { line-height: 5rem; }

.wrap_order .order_cont { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 27px 0; border-bottom: 1px solid #b4b4b5; }

.wrap_order .order_cont .info { display: -webkit-box; display: -ms-flexbox; display: flex; padding-left: 32px; text-align: left; }

.wrap_order .order_cont .info .thumb img { width: 100px; height: 100px; margin-right: 9px; }

.wrap_order .order_cont .info .desc { width: calc(100% - 100px); }

.wrap_order .order_cont .info .tit { color: #383838; line-height: 1.25; }

.wrap_order .order_cont .info .txt_option { display: block; color: #b4b4b5; font-size: 14px; line-height: 1.43; }

.product-item__table select { -webkit-appearance: auto; }

.product-item__table .th_accent { color: #fff; background: #b4b4b5; }

.product-item__table .th_kong { color: #fff; background: #79a500; }

.product-item__table .inp_kong { width: 105px; height: 31px; border: 1px solid #e7e7e7; vertical-align: middle; }

.product-item__table .txt_kong { margin: 0 20px 0 10px; font-size: 1.6rem; color: #79a500; }

.product-item__table .txt_notice_gray { margin-left: 20px; color: #b4b4b5; }

.product-item__table .box_card { width: 318px; height: 115px; margin: 11px 0 0 25px; padding: 20px; background-color: #e7e7e7; }

.product-item__table .box_card .cardtype { margin-bottom: 14px; }

.product-item__table .box_card select { width: 200px; height: 31px; margin-left: 15px; }

.msg_complete .txt1, .msg_complete .txt2 { text-align: center; line-height: 1.2; }

.msg_complete .txt1 { margin-bottom: 30px; font-size: 3rem; }

.msg_complete .txt1 em { color: #ff4e60; vertical-align: top; }

.msg_complete .txt2 { font-size: 2rem; margin-bottom: 148px; }

.msg_complete .box1, .msg_complete .box2 { float: left; width: 50%; }

.msg_complete .box2 td { padding-left: 57px; }

.msg_complete .table-title { margin-bottom: 10px; font-size: 2.4rem; line-height: 1.5; }

.msg_complete table { margin-bottom: 80px; }

.msg_complete th, .msg_complete td { font-size: 1.6rem; }

.msg_complete th a, .msg_complete td a { color: #29abe2; }

.msg_complete .borbn { border-bottom: none; }

.msg_complete .cell_address { height: 96px; }

.msg_complete .delivery_msg { height: 72px; }

.msg_complete .cell_total_price { height: 73px; }

.msg_complete .cell_total_price th, .msg_complete .cell_total_price td { font-size: 2.4rem; }

.msg_complete .lst { color: #fff; background: #b4b4b5; }

.msg_complete .box_btn { text-align: center; margin-bottom: 200px; }

.msg_complete .box_btn .btns { display: block; width: 200px; height: 50px; margin: 0 auto; line-height: 50px !important; }

.msg_complete .box_btn .btn_order_detail { margin-right: 20px; display: inline-block; border-radius: 4px; background: #fff; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.8rem; line-height: 1; cursor: pointer; border: 1px solid #29abe2; color: #29abe2; }

.msg_complete .box_btn .btn_shopping { display: inline-block; border-radius: 4px; background: #29abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.8rem; line-height: 1; cursor: pointer; border: 1px solid #29abe2; color: #fff; }

.btn_buy { display: inline-block; border-radius: 4px; background: #29abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 2rem; line-height: 1; cursor: pointer; display: block; width: 200px; height: 60px; margin: 0 auto; line-height: 60px !important; }

.btn_blue_line { display: inline-block; border-radius: 4px; background: #fff; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; color: #28abe2; border: 1px solid #28abe2; }

.btn_bg_blue { display: inline-block; border-radius: 4px; background: #28abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; border: 1px solid #28abe2; }

.wrap_mall_pop { border-radius: 4px; background: #fff; }

.wrap_mall_pop .head_area { position: relative; height: 78px; padding-left: 31px; color: #4d4d4d; font-size: 2rem; font-weight: 500; line-height: 78px; text-align: left; border-bottom: 1px solid #b4b4b5; }

.wrap_mall_pop .head_area .btn_close { display: block; width: 21px; height: 21px; background: url("../images/btn_close.svg") no-repeat left top; background-size: 21px 21px; -webkit-background-size: 20px; position: absolute; top: 15px; right: 15px; background-size: 20px; cursor: pointer; }

.wrap_mall_pop .box_btn { margin-top: 20px; text-align: center; }

.wrap_mall_pop .box_btn .btns { width: 180px; height: 50px; line-height: 50px !important; }

.wrap_mall_pop .box_btn .btn_cancle { margin-right: 60px; display: inline-block; border-radius: 4px; background: #828282; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 2rem; line-height: 1; cursor: pointer; }

.wrap_mall_pop .box_btn .btn_complete { display: inline-block; border-radius: 4px; background: #28abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 2rem; line-height: 1; cursor: pointer; }

.pop_qna { width: 584px; }

.pop_qna .cont_area { padding: 30px 28px 20px; }

.pop_qna .cont_area dt { font-size: 16px; line-height: 1.5; }

.pop_qna .cont_area dd textarea { width: 100%; height: 237px; border: solid 1px #b4b4b5; }

.pop_qna .cont_area dd .txt_caution { margin: 10px 0 20px; font-size: 14px; }

.pop_qna .cont_area dd label { font-size: 16px; }

.pop_qna .cont_area dd label input[type="checkbox"] { position: relative; top: 2px; width: 16px; height: 16px; margin-right: 7px; border: 1px solid #b4b4b5; -webkit-appearance: auto; }

.section_product_detail { margin-top: 114px; border-top: 1px solid #e7e7e7; }

.section_product_detail .location { display: -webkit-box; display: -ms-flexbox; display: flex; padding-top: 63px; }

.section_product_detail .location a { font-size: 14px; color: #828282; }

.section_product_detail .wrap_product_info { display: -webkit-box; display: -ms-flexbox; display: flex; }

.section_product_detail .product_img_area { width: 555px; margin-right: 85px; }

.section_product_detail .product_img_area .full_img { display: -webkit-box; display: -ms-flexbox; display: flex; width: 555px; height: 610px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.section_product_detail .product_img_area .thumb_img { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 10px; }

.section_product_detail .product_img_area .thumb_img li { display: -webkit-box; display: -ms-flexbox; display: flex; width: 90px; height: 90px; margin-right: 3px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.section_product_detail .info_area select { -webkit-appearance: auto; font-size: 16px; border: 1px solid #ddd; }

.section_product_detail .info_area .select_size { width: 120px; height: 35px; }

.section_product_detail .info_area .product_top_info { margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid #efefef; }

.section_product_detail .info_area .product_name { width: 610px; height: 61px; font-size: 24px; line-height: 1.5; }

.section_product_detail .info_area .price-area { margin-bottom: 59px; }

.section_product_detail .info_area .price-area .price-value { margin-right: 5px; font-size: 2.4rem; line-height: 1; }

.section_product_detail .info_area .price-area .base-price { color: #828282; font-size: 1.6rem; line-height: 1.5; }

.section_product_detail .info_area .product_desc { margin-bottom: 59px; font-size: 1.6rem; line-height: 1.5; }

.section_product_detail .info_area .more_info { margin-bottom: 59px; }

.section_product_detail .info_area .more_info p { font-size: 2rem; line-height: 1.2; }

.section_product_detail .info_area .more_info p:first-child { margin-bottom: 14px; }

.section_product_detail .info_area .product_input_info dl { margin-bottom: 29px; }

.section_product_detail .info_area .product_input_info dl:last-child { margin-bottom: 15px; }

.section_product_detail .info_area .product_input_info dt { margin-bottom: 3px; font-size: 16px; line-height: 1.5; }

.section_product_detail .info_area .product_input_info dd { display: -webkit-box; display: -ms-flexbox; display: flex; }

.section_product_detail .info_area .product_input_info dd.wrap_quanity_control { padding: 15px; padding-right: 0; background: #f8f8f8; }

.section_product_detail .info_area .product_input_info .price { margin-left: auto; padding-right: 15px; font-size: 2rem; }

.section_product_detail .info_area .num { vertical-align: initial; }

.section_product_detail .box_quantity { display: -webkit-box; display: -ms-flexbox; display: flex; }

.section_product_detail .box_quantity .btns { width: 35px; height: 35px; cursor: pointer; }

.section_product_detail .box_quantity .inp_product_quanity { width: 50px; height: 35px; font-size: 16px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; text-align: center; background: #fff; }

.section_product_detail .box_quantity .prod-quantity__minus { background: url("../images/btn_product_minus.png") no-repeat left top; }

.section_product_detail .box_quantity .prod-quantity__plus { background: url("../images/btn_product_plus.png") no-repeat left top; }

.section_product_detail .total_price { text-align: right; font-size: 2.4rem; }

.section_product_detail .total_price .price { font-size: 2.4rem; vertical-align: initial; }

.section_product_detail .box_btn { padding: 60px 0 15px; }

.section_product_detail .box_btn .btns { width: 295px; height: 60px; font-size: 2.4rem; line-height: 60px !important; }

.section_product_detail .box_btn .btns:first-child { margin-right: 20px; }

.table_review td { padding: 24px 0px 53px !important; }

.table_review .fst_line { display: -webkit-box; display: -ms-flexbox; display: flex; }

.table_review .fst_line .tit { margin-right: 10px; color: #383838; font-size: 1.6rem; line-height: 1.5; }

.table_review .fst_line .box_star { width: 91px; height: 15px; margin-top: 4px; background: url("../images/bg_star.png") no-repeat left top; }

.table_review .fst_line .box_star .star { height: 15px; background: url("../images/bg_star_on.png") no-repeat left top; }

.table_review .fst_line .date { margin-left: 10px; padding-left: 10px; color: #b4b4b5; font-size: 1.4rem; line-height: 1.71; background: url("../images/line_review.gif") no-repeat left center; }

.table_review .img_line { display: -webkit-box; display: -ms-flexbox; display: flex; margin: 12px 0 5px; }

.table_review .img_line img { width: calc(12.5% - 7px); margin-right: 7px; }

.table_review .box_written { position: relative; }

.table_review .box_written .write_name { position: absolute; top: 24px; }

.table_review .box_written .box_btn { position: absolute; bottom: 26px; }

.table_review .box_written .box_btn span { font-size: 1.4rem; }

.table_review .box_written .box_btn span:first-child { margin-right: 10px; }

.table_review .box_written .btn_del { color: #b4b4b5; }

.table_review .box_written .btn_report { color: #ff4e60; }

.table_qna { margin: 80px 0 30px !important; }

.table_qna .answer_state { display: inline-block; height: 30px; margin-right: 20px; padding: 0 13px; color: #fff; line-height: 30px; text-align: center; font-size: 1.3rem; background: #828282; }

.table_qna .answer_state.complete { background: #799dce; }

.table_qna td:last-child { text-align: center; }

.table_qna .on td { background: #f8f8f8; }

.table_qna .on td:first-child:before { content: ""; display: inline-block; width: 12px; height: 18px; margin-right: 11px; background: url("../images/ico_reply_qna.png") no-repeat left top; }

.table_qna .answer_txt { display: inline-block; width: 80%; }

.table_qna .ico_secret_writing { display: inline-block; width: 12px; height: 16px; margin-right: 5px; background: url("../images/ico_secret_qna.gif") no-repeat left center; }

.table_qna .question td { border-bottom: none; background: #f8f8f8; }

.custom-radios div { display: inline-block; }

.custom-radios input[type="radio"] { display: none; }

.custom-radios input[type="radio"] + label { color: #333; font-family: Arial, sans-serif; font-size: 14px; }

.custom-radios input[type="radio"] + label span { display: inline-block; width: 25px; height: 25px; margin: -1px 4px 0 0; vertical-align: middle; cursor: pointer; border-radius: 50%; border: 1px solid #ddd; -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33); box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33); background-repeat: no-repeat; background-position: center; text-align: center; line-height: 44px; }

.custom-radios input[type="radio"] + label span img { width: 50%; margin-top: -22px; opacity: 0; -webkit-transition: all .3s ease; transition: all .3s ease; }

.custom-radios input[type="radio"]#color-1 + label span { background-color: #2ecc71; }

.custom-radios input[type="radio"]#color-2 + label span { background-color: #3498db; }

.custom-radios input[type="radio"]#color-3 + label span { background-color: #f1c40f; }

.custom-radios input[type="radio"]#color-4 + label span { background-color: #e74c3c; }

.custom-radios input[type="radio"]:checked + label span img { opacity: 1; }

.select_box { position: relative; min-width: 315px; cursor: pointer; }

.select_box.on .list_sel { display: block; z-index: 10; }

.select_box.on .select_required_option:after { background: url("../images/arrow_detail_option_on.png") no-repeat left top; }

.select_required_option { position: relative; display: inline-block; width: 100%; padding: 6px 35px 7px 10px; font-size: 14px; line-height: 1.71; border: 1px solid #ddd; }

.select_required_option:after { content: ""; position: absolute; top: 50%; right: 10px; width: 17px; height: 10px; margin-top: -5px; background: url("../images/arrow_detail_option.png") no-repeat left top; }

.list_sel { display: none; position: absolute; width: 100%; }

.list_sel li { overflow: hidden; padding: 5px 10px; border: 1px solid #ddd; border-top: none; background: #f8f8f8; }

.list_sel li:hover { background: #fff; }

.list_sel span { font-size: 14px; line-height: 1.71; }

.list_sel .txt1 { float: left; }

.list_sel .txt2 { float: right; }

.wrap_mypage { /* infobox */ /* mypage cont */ }

.wrap_mypage .info_box { width: 16%; float: left; max-width: 200px; text-align: center; border: 1px solid #e7e7e7; }

.wrap_mypage .user { height: 200px; padding-top: 32px; background: #e7e7e7; }

.wrap_mypage .user .thumb { width: 70px; height: 72px; margin: 0 auto; background: url("../images/thumb_userinfo.png") no-repeat left top; }

.wrap_mypage .user .user_name { font-size: 2rem; padding: 15px 0 4px; line-height: 1.2; }

.wrap_mypage .user .user_id { font-size: 1.6rem; }

.wrap_mypage .info_kong { display: inline-block; border-bottom: 1px solid #e7e7e7; }

.wrap_mypage .info_kong .txt1 { margin-top: 24px; color: #79a500; }

.wrap_mypage .info_kong .txt2 { color: #828282; font-size: 1.2rem; }

.wrap_mypage .info_kong .btn_charge { display: inline-block; border-radius: 0; background: #79a500; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; width: 140px; height: 30px; margin: 17px 0 30px; line-height: 30px; }

.wrap_mypage nav li { margin-bottom: 10px; text-align: center; line-height: 1; }

.wrap_mypage nav li a { font-size: 1.6rem; text-decoration: none; }

.wrap_mypage nav li a:hover, .wrap_mypage nav li a.on { color: #29abe2; }

.wrap_mypage .nav_mypage { display: inline-block; padding: 24px 0; border-bottom: 1px solid #e7e7e7; }

.wrap_mypage .nav_etc { display: inline-block; padding: 20px 0 40px; }

.wrap_mypage .wrap_mypage_cont { width: 82%; max-width: 990px; float: right; }

.wrap_mypage .box_state_delivery { height: 270px; border: 3px solid #e7e7e7; }

.wrap_mypage .box_state_delivery.qna_sty { display: -webkit-box; display: -ms-flexbox; display: flex; height: 100px; }

.wrap_mypage .box_state_delivery.qna_sty .box_search { height: auto; background: #fff; }

.wrap_mypage .box_state_delivery.qna_sty .btn_search { margin-left: 20px; }

.wrap_mypage .box_state_delivery .wrap_state { display: -webkit-box; display: -ms-flexbox; display: flex; height: 170px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.wrap_mypage .box_state_delivery .wrap_state dl { width: 33.3%; padding: 3px 0; text-align: center; border-right: 1px solid #e7e7e7; }

.wrap_mypage .box_state_delivery .wrap_state dl:last-child { width: 33.4%; border-right: none; }

.wrap_mypage .box_state_delivery .wrap_state dt { font-size: 2.4rem; }

.wrap_mypage .box_state_delivery .wrap_state dd { margin-top: 6px; font-size: 2rem; }

.wrap_mypage .box_state_delivery .wrap_state dd span { display: inline-block; vertical-align: initial; }

.wrap_mypage .box_state_delivery .wrap_state dd .num { color: #29abe2; font-size: 3.6rem; margin-right: 3px; }

.wrap_mypage .box_state_delivery .box_search { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 3%; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; background: #e7e7e7; }

.wrap_mypage .box_state_delivery .list_month { width: 43%; max-width: 420px; margin: 0 1% 0 0; }

.wrap_mypage .box_state_delivery .list_month li { float: left; width: 16%; max-width: 70px; height: 40px; font-size: 1.6rem; line-height: 40px; border: 1px solid #ddd; border-right: none; text-align: center; background: #fff; }

.wrap_mypage .box_state_delivery .list_month li:last-child { border-right: 1px solid #ddd; }

.wrap_mypage .box_state_delivery .box_sel_calendar { width: 28%; max-width: 280px; font-size: 0; }

.wrap_mypage .box_state_delivery .wrap_calendar { display: inline-block; width: 45%; max-width: 129px; position: relative; height: 40px; border: 1px solid #ddd; background: #fff; }

.wrap_mypage .box_state_delivery .wrap_calendar:after { content: " "; display: block; position: absolute; top: 9px; right: 10px; width: 20px; height: 20px; margin-left: 7px; background: url("../images/ico_calendar.png") no-repeat left top/cover; }

.wrap_mypage .box_state_delivery .wrap_calendar input { width: 75%; max-width: 97px; height: 25px; border: none; background: #fff; }

.wrap_mypage .box_state_delivery .inp_line { margin: 0 1%; font-size: 1.6rem; }

.wrap_mypage .box_state_delivery .sel_state { width: 13%; max-width: 130px; height: 40px; margin: 0 2%; padding-left: 10px; font-size: 1.6rem; border: 1px solid #ddd; -webkit-appearance: auto; }

.wrap_mypage .box_state_delivery .btn_search { width: 4%; max-width: 40px; height: 40px; background: url("../images/ico_search.png") no-repeat center #29abe2; }

.wrap_mypage .wrap_order { margin-top: 80px; }

.wrap_mypage .wrap_order .date { font-size: 2rem; text-align: left; }

.wrap_mypage .wrap_order .sty2 { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 0 30px; }

.wrap_mypage .wrap_order .link { margin-left: auto; }

.wrap_mypage .wrap_order .link a { display: block; margin-top: 12px; padding-right: 16px; color: #29abe2; font-size: 1.6rem; text-decoration: none; background: url("../images/arrow_link_order.png") no-repeat right 6px; }

.wrap_mypage .wrap_order .pos_vm { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.wrap_mypage .wrap_order input[type="checkbox"] { width: 20px; height: 20px; margin: 0 10px 0 0; border: 1px solid #b4b4b5; -webkit-appearance: auto; vertical-align: middle; }

.wrap_mypage .wrap_order .pl0 { padding-left: 0; }

.wrap_mypage .wrap_order .chk_all label { color: #000016; font-size: 1.6rem; line-height: 1.5; }

.wrap_mypage .wrap_order .num_basket { vertical-align: initial; }

.wrap_mypage .wrap_order .txt_shopping_basktet { margin-left: auto; font-size: 2rem; color: #000016; }

.wrap_mypage .wrap_order .ellipsis.multiline { white-space: normal; }

.wrap_mypage .wrap_order .shipping span { display: block; }

.wrap_mypage .wrap_order .shipping .state { color: #383838; }

.wrap_mypage .wrap_order .shipping .state.on { color: #29abe2; }

.wrap_mypage .wrap_order .shipping .state_addtxt { font-size: 1.4rem; }

.wrap_mypage .wrap_order .shipping .btns { display: block !important; width: 75px; height: 30px; color: #4d4d4d !important; }

.wrap_mypage .wrap_order .shipping .btn_gray { display: inline-block; border-radius: 4px; background: #e7e7e7; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.4rem; line-height: 1; cursor: pointer; margin: 10px auto 5px; line-height: 30px; }

.wrap_mypage .wrap_order .shipping .btn_white { display: inline-block; border-radius: 4px; background: #fff; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.4rem; line-height: 1; cursor: pointer; margin: 0px auto; line-height: 30px; border: 1px solid #e7e7e7; }

.wrap_mypage .wrap_order .desc .tit { overflow: hidden; height: 41px; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap: break-word; }

.wrap_mypage .wrap_order .order_cont:last-child { border-bottom: none; }

.wrap_mypage .wrap_order .order_cont.product_end .tit, .wrap_mypage .wrap_order .order_cont.product_end .amount { color: #b4b4b5; }

.wrap_mypage .wrap_order .box_quantity { display: -webkit-box; display: -ms-flexbox; display: flex; margin-left: 9px; }

.wrap_mypage .wrap_order .box_quantity .btns { width: 30px; height: 30px; cursor: pointer; background-size: 30px !important; }

.wrap_mypage .wrap_order .box_quantity .inp_product_quanity { width: 50px; height: 30px; font-size: 1.4rem; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; text-align: center; background: #fff; }

.wrap_mypage .wrap_order .box_quantity .prod-quantity__minus { background: url("../images/btn_product_minus.png") no-repeat left top; }

.wrap_mypage .wrap_order .box_quantity .prod-quantity__plus { background: url("../images/btn_product_plus.png") no-repeat left top; }

.wrap_mypage .wrap_order .box_chk_basket { width: 8%; padding-left: 30px; }

.wrap_mypage .wrap_order .box_del_basket { width: 8%; text-align: center; }

.wrap_mypage .wrap_order .box_del_basket .btn_del { display: inline-block; width: 20px; height: 20px; background: url("../images/btn_del_basket.png") no-repeat left top; }

.wrap_mypage .tabel_qna .box_question_desc { display: inline-block; width: calc(100% - 100px); }

.wrap_mypage .tabel_qna .answer_state { margin-top: 11px; vertical-align: top; }

.wrap_mypage .tabel_qna .product_name { display: block; font-size: 14px; color: #b4b4b5; }

.wrap_mypage .order_info_box { margin-top: 30px; border: solid 3px #e7e7e7; }

.wrap_mypage .order_info_box .tit_box, .wrap_mypage .order_info_box .cont_box { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 0 30px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.wrap_mypage .order_info_box .tit_box { height: 70px; font-size: 2rem; background-color: #e7e7e7; }

.wrap_mypage .order_info_box .list { width: 100%; }

.wrap_mypage .order_info_box .list li { width: 100%; padding: 30px; border-bottom: 1px solid #e7e7e7; }

.wrap_mypage .order_info_box .list li:last-child { border-bottom: none; }

.wrap_mypage .order_info_box .list span { display: inline-block; font-size: 1.6rem; }

.wrap_mypage .order_info_box .list .txt1 { width: 115px; }

.wrap_mypage .order_info_box .list .txt2 { font-weight: bold; }

.wrap_mypage .order_info_box.order_detail .cont_box { height: 70px; }

.wrap_mypage .order_info_box.order_detail .cont_box span { font-size: 1.6rem; }

.wrap_mypage .order_info_box.order_detail .cont_box span:first-child:after { content: "|"; margin-right: 10px; padding-left: 10px; color: #e7e7e7; }

.wrap_mypage .order_info_box.wrap_price_info .cont_box { display: block; padding: 0; }

.wrap_mypage .order_info_box.wrap_price_info li { border-bottom: none; }

.wrap_mypage .order_info_box.wrap_price_info li.price_info { padding: 15px 30px; background: #f8f8f8; }

.wrap_mypage .order_info_box.wrap_price_info .total_price { background: #f8f8f8; }

.wrap_mypage .order_info_box.wrap_price_info .total_price .wrap_price { display: -webkit-box; display: -ms-flexbox; display: flex; height: 70px; margin: 0 30px; border-top: 1px solid #e7e7e7; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.wrap_mypage .order_info_box.wrap_price_info .total_price .wrap_price span { display: inline-block; font-size: 2rem; }

.wrap_mypage .order_info_box.wrap_price_info .total_price .wrap_price .txt1 { width: 115px; }

.wrap_mypage .order_info_box.wrap_price_info .total_price .wrap_price .txt2 { font-weight: bold; }

.wrap_mypage .order_info_box.wrap_price_info .total_price .wrap_price .btn_box { margin-left: auto; }

.wrap_mypage .order_info_box.wrap_price_info .total_price .wrap_price .btns { display: inline-block; border-radius: 4px; background: #fff; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.4rem; line-height: 1; cursor: pointer; margin-left: 20px; padding: 0 11px; color: #383838; line-height: 30px; border: 1px solid #b4b4b5; }

.wrap_mypage .order_info_box.wrap_price_info .total_price .wrap_price .btns:first-child { margin-left: 0; }

.wrap_mypage .btn_order_list { display: block; width: 200px; height: 50px; margin: 60px auto; font-size: 2rem; line-height: 50px; }

.notice_delivery { width: 100%; margin-bottom: 80px; border: 3px solid #e7e7e7; }

.notice_delivery .tit_box { height: 70px; padding: 0 30px; font-size: 2rem; line-height: 70px; background: #e7e7e7; }

.notice_delivery .cont_box ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 40px 20px; }

.notice_delivery .cont_box li { position: relative; width: 20%; text-align: center; }

.notice_delivery .cont_box li:after { content: ''; display: block; width: 17px; height: 30px; position: absolute; right: 0; top: 37px; background: url(../images/icon_arrow5.png) no-repeat center/cover; }

.notice_delivery .cont_box li:last-child:after { display: none; }

.notice_delivery .cont_box span { display: block; }

.notice_delivery .cont_box .tit { padding-top: 125px; font-size: 1.6rem; }

.notice_delivery .cont_box li:nth-child(1) .tit { background: url("../images/notice_delivery1.gif") no-repeat top center; }

.notice_delivery .cont_box li:nth-child(2) .tit { background: url("../images/notice_delivery2.gif") no-repeat top center; }

.notice_delivery .cont_box li:nth-child(3) .tit { background: url("../images/notice_delivery3.gif") no-repeat top center; }

.notice_delivery .cont_box li:nth-child(4) .tit { background: url("../images/notice_delivery4.gif") no-repeat top center; }

.notice_delivery .cont_box li:nth-child(5) .tit { background: url("../images/notice_delivery5.gif") no-repeat top center; }

.notice_delivery .cont_box .txt { font-size: 1.4rem; font-weight: 350; }

.wrap_info_basket { margin-bottom: 80px; }

.wrap_info_basket input[type="checkbox"] { width: 20px; height: 20px; margin: 0 10px 0 0; border: 1px solid #b4b4b5; -webkit-appearance: auto; vertical-align: middle; }

.wrap_info_basket .tit_box { display: -webkit-box; display: -ms-flexbox; display: flex; height: 70px; padding-left: 30px; color: #000016; font-size: 16px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; background: #e7e7e7; }

.wrap_info_basket .tit_box .btns { display: inline-block; border-radius: 4px; background: #fff; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.4rem; line-height: 1; cursor: pointer; margin-left: 20px; padding: 0 11px; color: #383838; line-height: 30px; border: 1px solid #b4b4b5; }

.wrap_info_basket .cont_box { display: -webkit-box; display: -ms-flexbox; display: flex; height: 70px; padding: 0 30px; border: solid 3px #e7e7e7; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 20px; }

.wrap_info_basket .cont_box span { vertical-align: initial; }

.wrap_info_basket .cont_box .txt { color: #000016; }

.wrap_info_basket .cont_box .txt_product_price { margin-right: 15px; padding-right: 37px; background: url("../images/ico_add_basket.gif") no-repeat right center; }

.wrap_info_basket .cont_box .txt_shipping_charge { margin-right: 15px; padding-right: 37px; background: url("../images/ico_sum_basket.gif") no-repeat right center; }

.wrap_info_basket .cont_box .txt_order_amount { font-weight: bold; }

.wrap_info_basket .cont_box .btn_buy { width: 100px; height: 40px; margin-right: 0; font-size: 2rem; line-height: 40px !important; }

.pop_basket { width: 310px; padding: 41px 0 0; text-align: center; border-radius: 4px; background: #fff; }

.pop_basket .pop_txt { font-weight: 350; font-size: 14px; color: #4d4d4d; }

.pop_basket .box_btn { padding: 42px 0 15px; }

.pop_basket .btn_blue_line { margin-right: 30px; display: inline-block; border-radius: 4px; background: #fff; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; color: #28abe2; width: 110px; height: 32px; line-height: 30px !important; border: 1px solid #28abe2; }

.pop_basket .btn_bg_blue { display: inline-block; border-radius: 4px; background: #28abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; width: 110px; height: 32px; line-height: 30px !important; border: 1px solid #28abe2; }

.pop_address { width: 700px; height: 700px; border-radius: 4px; background: #fff; }

.pop_address .head_area { overflow: hidden; height: 78px; line-height: 78px; padding: 0 32px; border-bottom: 2px solid #b4b4b5; font-family: notoSans-M; font-size: 2rem; color: #4d4d4d; }

.pop_address .head_area .btn_close { display: block; float: right; margin-top: 14px; width: 21px; height: 21px; background: url("../images/btn_close.svg") no-repeat left top; background-size: 21px 21px; background-size: 20px; cursor: pointer; }

.pop_address .tab_list { display: -webkit-box; display: -ms-flexbox; display: flex; }

.pop_address .tab_list li { width: 50%; height: 47px; line-height: 47px; font-size: 1.6rem; color: #828282; text-align: center; border-bottom: 2px solid #b4b4b5; background: #f8f8f8; cursor: pointer; }

.pop_address .tab_list li.active { color: #4d4d4d; border-bottom: 0; background: #fff; }

.pop_address .tab_list li:first-child { border-right: 2px solid #b4b4b5; }

.pop_address .tab_list li:hover { text-decoration: underline; }

.pop_address .tab_content { display: none; }

.pop_address .tab_content.active { display: block; }

.pop_address .saved_adres { padding: 29px 30px 0; }

.pop_address .saved_adres .delivery_address_list { height: 434px; overflow-y: auto; }

.pop_address .saved_adres .delivery_address_list li { position: relative; padding: 20px; margin-bottom: 9px; background: #f8f8f8; cursor: pointer; color: #4d4d4d; }

.pop_address .saved_adres .delivery_address_list li.active { border: 1px solid #29abe2; }

.pop_address .saved_adres .delivery_address_list li .btn_del { display: block; position: absolute; right: 20px; top: 20px; width: 10px; height: 11px; background: url("../images/btn_del2.png") no-repeat left top; background-size: 10px 11px; }

.pop_address .saved_adres .delivery_address_list .name_txt { padding-bottom: 11px; font-size: 1.6rem; }

.pop_address .saved_adres .delivery_address_list .adres, .pop_address .saved_adres .delivery_address_list .cellphone { padding-bottom: 10px; font-size: 1.4rem; }

.pop_address .saved_adres .delivery_address_list .delievery_memo { font-size: 1.4rem; }

.pop_address .new_adres { padding: 60px 70px 33px; }

.pop_address .new_adres .delivery-info__table .cell_title { width: 107px; padding: 0 16px 0 0; font-size: 1.6rem; text-align: right; letter-spacing: -.9px; line-height: 40px; vertical-align: top; }

.pop_address .new_adres .delivery-info__table td { padding: 0 0 20px; }

.pop_address .new_adres .delivery-info__table .inp_text { height: 40px; line-height: 40px; padding: 0 10px; border: 1px solid #b4b4b5; -webkit-box-sizing: border-box; box-sizing: border-box; color: #4d4d4d; font-size: 1.6rem; background: #fff; }

.pop_address .new_adres .delivery-info__table .name_td .inp_text { width: 177px; }

.pop_address .new_adres .delivery-info__table .inp_zipcode { width: 177px; }

.pop_address .new_adres .delivery-info__table .btn_lookup { margin-left: 8px; display: inline-block; border-radius: 3px; background: #efefef; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; width: 91px; height: 40px; line-height: 40px; vertical-align: top; color: #4d4d4d; }

.pop_address .new_adres .delivery-info__table .address_detail { padding-top: 10px; }

.pop_address .new_adres .delivery-info__table .address_detail .inp_text { width: 100%; }

.pop_address .new_adres .delivery-info__table .address_detail .inp_streetname { margin-bottom: 10px; }

.pop_address .new_adres .delivery-info__table .phone_td .select_contain, .pop_address .new_adres .delivery-info__table .phone_td .hyphen, .pop_address .new_adres .delivery-info__table .phone_td .inp_text { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; }

.pop_address .new_adres .delivery-info__table .phone_td .hyphen { width: 11px; height: 2px; background: #b4b4b5; margin: 0 9px; font-size: 0; overflow: hidden; }

.pop_address .new_adres .delivery-info__table .phone_td .inp_text { width: 91px; vertical-align: middle; }

.pop_address .new_adres .delivery-info__table .phone_td .select_contain { width: 91px; background: url("../images/icon_arrow4.png") right 10px bottom 15px/17px no-repeat; }

.pop_address .new_adres .delivery-info__table .phone_td .select_contain .first_number { line-height: 40px; padding: 0 10px; font-size: 1.4rem; color: #4d4d4d; }

.pop_address .new_adres .delivery-info__table .select_list { position: absolute; display: none; left: 0; top: 40px; width: 100%; max-height: 200px; overflow-y: auto; border: 1px solid #b4b4b5; -webkit-box-sizing: border-box; box-sizing: border-box; background: #fff; z-index: 1; }

.pop_address .new_adres .delivery-info__table .select_list li { height: 20px; line-height: 20px; padding: 1px; font-size: 1.4rem; cursor: pointer; }

.pop_address .new_adres .delivery-info__table .select_list li:hover { background: #f2f2f2; }

.pop_address .new_adres .delivery-info__table .select_contain { position: relative; height: 40px; border: 1px solid #b4b4b5; }

.pop_address .new_adres .delivery-info__table .select_contain.on .select_list { display: block; }

.pop_address .new_adres .delivery-info__table .memo_td { padding-bottom: 0; }

.pop_address .new_adres .delivery-info__table .memo_td .select_contain { width: 450px; margin-bottom: 9px; background: url("../images/icon_arrow4.png") right 10px bottom 14px/17px no-repeat; }

.pop_address .new_adres .delivery-info__table .memo_td .select_contain .selected_li { line-height: 40px; padding: 0 10px; font-size: 1.4rem; color: #4d4d4d; }

.pop_address .new_adres .delivery-info__table .wrap_my_memo .inp_text { width: 381px; }

.pop_address .new_adres .delivery-info__table .wrap_my_memo .text_length { padding-left: 7px; line-height: 40px; font-size: 1.6rem; color: #4d4d4d; }

.pop_address .new_adres .delivery-info__table .wrap_my_memo .text_length .count_length { vertical-align: baseline; }

.pop_address .foot_area { overflow: hidden; padding: 30px 140px; }

.pop_address .foot_area .btn_cnxl { float: left; display: inline-block; border-radius: 4px; background: #828282; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; width: 180px; height: 50px; line-height: 50px; font-size: 2rem; }

.pop_address .foot_area .btn_save { float: right; display: inline-block; border-radius: 4px; background: #29abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; width: 180px; height: 50px; line-height: 50px; font-size: 2rem; }

.pop_review { width: 700px; }

.pop_review .cont_area { padding: 29px; }

.pop_review .review_label { display: block; padding: 0 1px 4px; font-size: 1.6rem; color: #4d4d4d; }

.pop_review .box_inp_tit { padding-bottom: 28px; }

.pop_review .box_inp_tit .inp_tit { display: block; width: 100%; height: 31px; line-height: 31px; padding: 0 10px; border: 1px solid #b4b4b5; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 1.6rem; background: #fff; }

.pop_review .box_star_point, .pop_review .box_review_note { padding-bottom: 29px; }

.pop_review .stars { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; padding-right: 7px; }

.pop_review .stars .icon_star { display: inline-block; width: 26px; height: 24px; background: url("../images/icon_star.png") no-repeat left top; background-size: 26px 24px; margin-right: 5px; cursor: pointer; }

.pop_review .stars .icon_star.on { background-image: url(../images/icon_star_on.png); }

.pop_review .txt_point { display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; font-size: 1.6rem; color: #4d4d4d; }

.pop_review .review_note { width: 640px; height: 238px; padding: 10px; border: 1px solid #b4b4b5; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 1.6rem; }

.pop_review .box_file_upload { padding-bottom: 30px; }

.pop_review .add_file { display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 9px; }

.pop_review .add_file .btn_add_file { display: inline-block; border-radius: 4px; background: #fff; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.4rem; line-height: 1; cursor: pointer; width: 80px; height: 31px; line-height: 31px; border: 1px solid #29abe2; color: #29abe2; }

.pop_review .add_file .btn_add_file label { display: block; cursor: pointer; margin-bottom: 0; }

.pop_review .add_file .btn_add_file input { display: none; }

.pop_review .add_file .add_file_note { padding: 9px 0 7px 11px; font-weight: 350; font-size: 1.4rem; color: #828282; }

.pop_review .box_uploaded { overflow: hidden; }

.pop_review .box_uploaded .file_one { float: left; position: relative; width: 70px; height: 70px; margin: 0 10px 8px 0; }

.pop_review .box_uploaded .file_one .file_one_img { width: 70px; height: 70px; }

.pop_review .box_uploaded .file_one .btn_del_file { display: block; width: 13px; height: 13px; background: url("../images/btn_close.svg") no-repeat left top; background-size: 13px 13px; cursor: pointer; position: absolute; right: 5px; top: 5px; }

.pop_review .privacy_note { padding: 0 2px 30px; font-weight: 350; font-size: 1.4rem; color: #4d4d4d; }

@media (max-width: 1280px) { .location { width: auto; } }

@media (min-width: 1025px) and (max-width: 1280px) { .location, .wrap_shopitem_box { max-width: 960px; margin: 0 auto; } }

@media (min-width: 768px) and (max-width: 1024px) { .wrap_mypage .wrap_mypage_cont .btn_search { margin-left: 2%; } }

@media (max-width: 1024px) { .location, .wrap_shopitem_box { max-width: 640px; margin: 0 auto; }
  .location a { font-size: 2.4rem; }
  .badges-wrap { height: 41px; }
  .bage_com { width: 100px; height: 41px; line-height: 41px; font-size: 1.8rem; }
  .wrap_shopitem_box .inner_section { padding: 0px 0; }
  .wrap_shopitem_box .tit_shop { padding: 20px 15px; }
  .wrap_shopitem_box .list { margin: 0px 0 15px; }
  .wrap_shopitem_box .list li { width: 100%; margin-bottom: 20px; height: auto; }
  .wrap_shopitem_box .list li:first-child { padding-top: 0; }
  .wrap_shopitem_box .list li .name { margin-top: 15px; font-size: 2.4rem; font-weight: 500; }
  .wrap_shopitem_box .list li .product-info { height: auto; margin-top: 10px; font-size: 2.2rem; font-weight: 350; }
  .wrap_shopitem_box .list li .base-price { margin-bottom: 5px; height: auto; font-size: 2rem; }
  .wrap_shopitem_box .list li .price-value { font-size: 2.4rem; }
  .section_product_detail .location { width: 100%; padding-top: 13px; }
  .section_product_detail .wrap_product_info { display: block; }
  .section_product_detail .wrap_product_info .box_btn { text-align: center; }
  .section_product_detail .wrap_product_info .box_btn .btns { width: 153px; }
  .section_product_detail .product_img_area { width: 100%; }
  .section_product_detail .product_img_area .full_img { width: 100%; height: auto; }
  .section_product_detail .info_area { width: auto; height: auto; padding: 0 15px; }
  .section_product_detail .info_area .product_name { width: auto; height: auto; }
  .section_product_detail .info_area .price-area, .section_product_detail .info_area .product_desc, .section_product_detail .info_area .more_info { margin-bottom: 20px; }
  .section_product_detail .info_area .more_info p:first-child { margin-bottom: 10px; }
  .section_product_detail .select_box { min-width: unset; }
  .tab_bottom_detail { margin-top: 20px; }
  .tab_bottom_detail .tab-titles { width: 100%; }
  .tab_bottom_detail .tab-titles li { height: 47px; padding: 0; font-size: 1.4rem; line-height: 47px; }
  .tab_bottom_detail .tab-contents > li { padding-top: 20px; }
  .tab_bottom_detail .product-detail, .tab_bottom_detail .product-item__table { width: 100%; }
  .tab_bottom_detail .product-detail .table_shop colgroup, .tab_bottom_detail .product-item__table .table_shop colgroup { display: none; }
  .tab_bottom_detail .product-detail .table_shop tr, .tab_bottom_detail .product-item__table .table_shop tr { overflow: hidden; }
  .tab_bottom_detail .product-detail .table_shop th, .tab_bottom_detail .product-detail .table_shop td, .tab_bottom_detail .product-item__table .table_shop th, .tab_bottom_detail .product-item__table .table_shop td { display: -webkit-box; display: -ms-flexbox; display: flex; float: left; text-align: center; padding: 0; min-height: 59px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .tab_bottom_detail .product-detail .table_shop th, .tab_bottom_detail .product-item__table .table_shop th { width: 35%; }
  .tab_bottom_detail .product-detail .table_shop td, .tab_bottom_detail .product-item__table .table_shop td { width: 65%; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .tab_bottom_detail .product-review .table_review { table-layout: auto; }
  .tab_bottom_detail .product-review .table_review .fst_line { display: block; }
  .tab_bottom_detail .product-review .table_review thead th:last-child { display: none; }
  .tab_bottom_detail .product-review .table_review tr td:first-child { padding: 15px !important; font-size: 1.4rem; }
  .tab_bottom_detail .product-review colgroup { display: none; }
  .tab_bottom_detail .table_review .fst_line .tit { display: block; }
  .tab_bottom_detail .product-review .table_review { margin-bottom: 22px; }
  .tab_bottom_detail .product-review .box_star, .tab_bottom_detail .product-review .date { display: inline-block; }
  .tab_bottom_detail .product-review .box_written { display: none; width: 30%; font-size: 1.4rem; vertical-align: top; }
  .tab_bottom_detail .product-review .box_written .write_name, .tab_bottom_detail .product-review .box_written .box_btn { position: static; }
  .tab_bottom_detail .fst_line .box_written { display: block; width: auto; margin-top: 5px; }
  .tab_bottom_detail .fst_line .box_written .write_name, .tab_bottom_detail .fst_line .box_written .box_btn { display: inline-block; }
  .tab_bottom_detail .fst_line .box_written .box_btn { margin-left: 10px; }
  .tab_bottom_detail .product-etc .essential-info-table { table-layout: auto; }
  .tab_bottom_detail .product-etc .essential-info-table tr th { width: 35%; padding: 0; }
  .tab_bottom_detail .product-etc .essential-info-table { table-layout: auto; }
  .tab_bottom_detail .product-etc .essential-info-table th { width: 30%; }
  .tab_bottom_detail .product-etc .essential-info-table td { display: table-cell; width: 70%; float: none; }
  .tab_bottom_detail .product-etc .essential-info-table td .tit:first-child { margin-left: 0; }
  .tab_bottom_detail .product-etc .essential-info-table td br { display: none; }
  .tab_bottom_detail .table_qna { table-layout: auto; margin-top: 10px !important; }
  .tab_bottom_detail .table_qna thead tr th:nth-child(1) { width: 60%; }
  .tab_bottom_detail .table_qna thead tr th:nth-child(2) { width: 20%; }
  .tab_bottom_detail .table_qna thead tr th:nth-child(3) { width: 20%; }
  .tab_bottom_detail .table_qna tr td:nth-child(3) { padding: 0; }
  .tab_bottom_detail .table_qna th, .tab_bottom_detail .table_qna td { padding: 10px; font-size: 1.4rem; }
  .tab_bottom_detail .table_qna .answer_state { height: auto; margin-right: 5px; line-height: initial; }
  .tab_bottom_detail .table_qna .answer_txt { width: auto; margin: 5px 0 0 25px; }
  .wrap_mypage { margin-top: 10px; padding: 0 15px; border-top: 0; }
  .wrap_mypage .info_box { width: auto; max-width: unset; float: none; margin: 0 auto; border: 0; }
  .wrap_mypage .user { width: 50%; height: auto; }
  .wrap_mypage .user .user_name { padding: 14px 0 8px; font-size: 3rem; }
  .wrap_mypage .user .user_id { padding-bottom: 30px; font-size: 2.6rem; font-weight: 350; }
  .wrap_mypage .wrap_user_info { display: -webkit-box; display: -ms-flexbox; display: flex; }
  .wrap_mypage .info_kong { width: 50%; }
  .wrap_mypage .info_kong .txt1 { margin-top: 47px; margin-bottom: 9px; font-size: 2.4rem; }
  .wrap_mypage .info_kong .txt2 { padding-bottom: 19px; font-weight: 350; font-size: 1.8rem; color: #828282; }
  .wrap_mypage .info_kong .btn_charge { width: 100%; max-width: 210px; height: 45px; line-height: 45px; font-size: 2.4rem; }
  .wrap_mypage .nav_mypage { display: block; width: 100%; padding: 40px 0 18px; }
  .wrap_mypage .nav_mypage ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
  .wrap_mypage .nav_mypage ul li { margin-bottom: 0; }
  .wrap_mypage .nav_mypage ul li a { font-size: 2.4rem; font-weight: 350; }
  .wrap_mypage .nav_etc { width: 100%; }
  .wrap_mypage .nav_etc ul { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; }
  .wrap_mypage .nav_etc ul li { margin: 0; }
  .wrap_mypage .nav_etc ul li a { font-size: 2.4rem; font-weight: 350; }
  .wrap_mypage .wrap_mypage_cont { width: 100%; float: none; }
  .wrap_mypage .wrap_mypage_cont .box_state_delivery { height: auto; }
  .wrap_mypage .wrap_mypage_cont .box_state_delivery .wrap_state { height: auto; }
  .wrap_mypage .wrap_mypage_cont .box_state_delivery .wrap_state dl { margin: 35px 0; padding: 12px 0; }
  .wrap_mypage .wrap_mypage_cont .box_state_delivery .list_month { width: 100%; max-width: 625px; margin: 0 0 15px; }
  .wrap_mypage .wrap_mypage_cont .box_state_delivery .list_month li { width: 16.6%; max-width: unset; height: 60px; line-height: 60px; }
  .wrap_mypage .wrap_mypage_cont .box_state_delivery .list_month li a { font-size: 2.4rem; font-weight: 350; }
  .wrap_mypage .wrap_mypage_cont .box_state_delivery .box_sel_calendar { display: -webkit-box; display: -ms-flexbox; display: flex; width: 69%; max-width: 430px; }
  .wrap_mypage .wrap_mypage_cont .box_state_delivery .box_sel_calendar .wrap_calendar { width: 45%; max-width: 195px; height: 60px; }
  .wrap_mypage .wrap_mypage_cont .box_state_delivery .box_sel_calendar .wrap_calendar:after { width: 30px; height: 30px; top: 14px; right: 10px; }
  .wrap_mypage .wrap_mypage_cont .box_state_delivery .box_sel_calendar .wrap_calendar input { width: 79%; max-width: 155px; height: 100%; }
  .wrap_mypage .wrap_mypage_cont .box_state_delivery .box_sel_calendar .inp_line { line-height: 60px; }
  .wrap_mypage .wrap_mypage_cont .box_state_delivery .sel_state { width: 31%; max-width: 195px; height: 60px; line-height: 60px; margin: 0; padding: 0; font-size: 2.4rem; font-weight: 350; }
  .wrap_mypage .wrap_mypage_cont .btn_search { width: 17%; max-width: 110px; height: 60px; line-height: 60px; padding: 0 2%; font-size: 2rem; text-align: left; background-position: center right 22px; }
  .wrap_mypage .wrap_mypage_cont .btn_search .blind { width: auto; height: auto; margin: 0; position: static; font-size: 2rem; color: #fff; vertical-align: top; font-style: normal !important; }
  .wrap_mypage .wrap_mypage_cont .box_search { -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .wrap_mypage .wrap_mypage_cont .box_search .blind { position: static; font-size: 2rem; color: #fff; }
  .wrap_mypage .wrap_order { margin-top: 75px; }
  .wrap_mypage .wrap_order .date { font-size: 3rem; font-weight: 500; line-height: 1; padding: 24px 0; }
  .wrap_mypage .wrap_order .link a { margin-top: 0; font-size: 2.4rem; font-weight: 350; }
  .wrap_mypage .order_tit { height: 70px; line-height: 70px; }
  .wrap_mypage .order_tit.sty2 { border-top: 0; }
  .wrap_mypage .order_cont { -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .wrap_mypage .order_cont .info { width: 100%; padding-left: 0; padding-bottom: 29px; border-bottom: 1px solid #e7e7e7; }
  .wrap_mypage .order_cont .info .thumb { padding-right: 15px; }
  .wrap_mypage .order_cont .info .thumb img { width: 150px; height: 150px; margin-right: 15px; }
  .wrap_mypage .order_cont .info .desc { width: calc(100% - 115px); }
  .wrap_mypage .order_cont .info .tit { margin-right: 16px; height: auto; -webkit-line-clamp: 3; letter-spacing: 1px; font-size: 2.4rem; font-weight: 500; }
  .wrap_mypage .order_cont .info .box_option_info { margin-top: 13px; font-size: 2.2rem; font-weight: 350; }
  .wrap_mypage .order_cont .info .box_option_info .txt_option { padding-bottom: 6px; line-height: 1; font-size: 2.2rem; }
  .wrap_mypage .order_cont .info .box_option_info .txt_option:last-child { padding-bottom: 0px; }
  .wrap_mypage .order_cont .blind { position: static; font-size: 2.4rem; font-weight: 350; width: auto; height: auto; }
  .wrap_mypage .order_cont .quantity { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding-top: 29px; font-weight: 350; font-size: 2.4rem; color: #4d4d4d; }
  .wrap_mypage .order_cont .amount { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding-top: 22px; font-weight: 350; font-size: 2.4rem; color: #4d4d4d; }
  .wrap_mypage .order_cont .shipping { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; padding-top: 9px; }
  .wrap_mypage .order_cont .shipping .btns { width: 113px; height: 37px; line-height: 37px; font-size: 2.2rem; font-weight: 350; color: #383838; }
  .wrap_mypage .order_cont .shipping .btn_white { -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; margin-left: auto; margin-right: 0; }
  .wrap_mypage .order_cont .shipping .btn_gray { -webkit-box-ordinal-group: 3; -ms-flex-order: 2; order: 2; margin: 0; margin-left: 10px; }
  .wrap_mypage .order_cont .shipping .state { font-size: 2.4rem; color: #4d4d4d; line-height: 37px; vertical-align: top; }
  .wrap_mypage .notice_delivery { width: auto; }
  .wrap_mypage .notice_delivery ul { padding: 30px 10px; }
  .wrap_mypage .notice_delivery ul li:after { display: none; }
  .wrap_mypage .notice_delivery .tit_box { font-size: 3rem; }
  .wrap_mypage .notice_delivery .tit { font-size: 2.4rem; padding-bottom: 9px; }
  .wrap_mypage .notice_delivery .txt { font-size: 1.8rem; }
  .page_list .pager { font-size: 2.2rem; } }

@media (max-width: 850px) { .wrap_mypage .wrap_mypage_cont .btn_search { margin-top: 3%; max-width: unset; width: 110px; } }

@media (max-width: 480px) { .wrap_mypage .user { padding-top: 16px; }
  .wrap_mypage .user .user_name { padding: 7px 0 4px; font-size: 15px; }
  .wrap_mypage .user .user_id { padding-bottom: 15px; font-size: 13px; }
  .wrap_mypage .user .thumb { width: 35px; height: 36px; background-size: cover; }
  .wrap_mypage .info_kong .txt1 { margin-top: 23px; margin-bottom: 5px; font-size: 12px; }
  .wrap_mypage .info_kong .txt2 { padding-bottom: 10px; font-size: 11px; }
  .wrap_mypage .info_kong .btn_charge { max-width: 105px; height: 22px; line-height: 22px; margin: 8px 0 15px; font-size: 12px; }
  .wrap_mypage .nav_mypage { padding: 20px 0 9px; }
  .wrap_mypage .nav_mypage ul li a { font-size: 12px; }
  .wrap_mypage .nav_etc { padding: 10px 0 20px; }
  .wrap_mypage .nav_etc ul li a { font-size: 12px; }
  .wrap_mypage .wrap_mypage_cont .box_state_delivery .wrap_state dl { margin: 17px 0; padding: 6px 0; }
  .wrap_mypage .wrap_mypage_cont .box_state_delivery .wrap_state dl dt { font-size: 12px; }
  .wrap_mypage .wrap_mypage_cont .box_state_delivery .wrap_state dl dd { font-size: 10px; }
  .wrap_mypage .wrap_mypage_cont .box_state_delivery .wrap_state dl dd .num { font-size: 18px; }
  .wrap_mypage .wrap_mypage_cont .box_state_delivery .list_month { margin: 13px auto 8px; }
  .wrap_mypage .wrap_mypage_cont .box_state_delivery .list_month li { height: 30px; line-height: 30px; }
  .wrap_mypage .wrap_mypage_cont .box_state_delivery .list_month li a { font-size: 12px; }
  .wrap_mypage .wrap_mypage_cont .box_state_delivery .box_sel_calendar .wrap_calendar { height: 30px; }
  .wrap_mypage .wrap_mypage_cont .box_state_delivery .box_sel_calendar .wrap_calendar:after { width: 15px; height: 15px; margin-left: 4px; top: 5px; background-size: cover; vertical-align: top; }
  .wrap_mypage .wrap_mypage_cont .box_state_delivery .box_sel_calendar .inp_line { line-height: 30px; }
  .wrap_mypage .wrap_mypage_cont .box_state_delivery .sel_state { height: 30px; line-height: 30px; font-size: 12px; }
  .wrap_mypage .wrap_mypage_cont .btn_search { width: 55px; height: 30px; line-height: 30px; margin-top: 15px; padding: 0 12px; font-size: 10px; background-position: center right 12px; background-size: 10px 10px; }
  .wrap_mypage .wrap_mypage_cont .btn_search .blind { font-size: 10px; }
  .wrap_mypage .wrap_order { margin-top: 38px; }
  .wrap_mypage .wrap_order .order_tit { height: 35px; line-height: 35px; padding: 0 15px; }
  .wrap_mypage .wrap_order .date { padding: 12px 0; font-size: 15px; }
  .wrap_mypage .wrap_order .link a { padding-left: 8px; font-size: 12px; }
  .wrap_mypage .wrap_order .order_cont { padding: 13px 0; }
  .wrap_mypage .wrap_order .order_cont .info { padding-bottom: 15px; font-size: 10px; }
  .wrap_mypage .wrap_order .order_cont .info .thumb { padding-right: 8px; }
  .wrap_mypage .wrap_order .order_cont .info .thumb img { width: 75px; height: 75px; margin-right: 8px; }
  .wrap_mypage .wrap_order .order_cont .info .desc { width: calc(100% - 83px); }
  .wrap_mypage .wrap_order .order_cont .info .tit { margin-right: 8px; font-size: 12px; }
  .wrap_mypage .wrap_order .order_cont .info .box_option_info { margin-top: 6px; }
  .wrap_mypage .wrap_order .order_cont .info .box_option_info .txt_option { padding-bottom: 4px; font-size: 11px; }
  .wrap_mypage .wrap_order .order_cont .shipping .state { font-size: 12px; line-height: 18px; }
  .wrap_mypage .wrap_order .order_cont .shipping .btns { font-size: 12px; width: 58px; height: 18px; line-height: 18px; }
  .wrap_mypage .wrap_order .blind { font-size: 12px; }
  .wrap_mypage .wrap_order .quantity { padding-top: 15px; font-size: 12px; }
  .wrap_mypage .wrap_order .amount { padding-top: 11px; font-size: 12px; }
  .wrap_mypage .notice_delivery { margin-bottom: 40px; }
  .wrap_mypage .notice_delivery ul { -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 15px 5px; }
  .wrap_mypage .notice_delivery ul li { width: 100%; }
  .wrap_mypage .notice_delivery .tit_box { padding: 0 15px; height: 35px; line-height: 35px; font-size: 15px; }
  .wrap_mypage .notice_delivery .tit { font-size: 12px; padding-bottom: 5px; }
  .wrap_mypage .notice_delivery .txt { font-size: 10px; } }
/*# sourceMappingURL=shop.css.map */