@charset "UTF-8";
.useradmin_poparea { position: fixed; top: 50%; left: 50%; height: 85vh; overflow: auto; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); z-index: 300; }

/* ftp */
/* ftp */
.pb_header { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; padding: 17px 57px; position: fixed; top: 0; left: 0; -webkit-box-sizing: border-box; box-sizing: border-box; background: #fff; z-index: 1; }

.pb_header:after { content: ''; display: block; width: 100%; height: 11px; position: fixed; left: 0; top: 80px; background: url("../images/bg_gradient.png") no-repeat; }

.pb_header .logo_pb { width: 131px; height: 30px; }

.pb_header .logo_pk { width: 111px; height: 29px; margin-left: auto; font-size: 1rem; }

.pb_header .my_profileimg { width: 46px; height: 46px; margin: 0 16px 0 27px; }

.pb_header .my_profileimg img { border-radius: 50%; }

.pb_header .pb_menu { position: relative; }

.pb_header .pb_menu .user_hello { padding: 0 20px; height: 33px; line-height: 33px; font-size: 1.4rem; color: #4d4d4d; background: #fff; border: 1px solid #4d4d4d; border-radius: 17px; cursor: pointer; }

.pb_header .pb_menu .user_hello .name_txt { vertical-align: top; color: #1257f3; }

.pb_header .pb_menu .user_hello .btn_arrow { content: ''; display: inline-block; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-bottom: 0; border-top: 9px solid #4d4d4d; margin-left: 14px; vertical-align: 1px; }

.pb_header .pb_menu .pb_menu_cont { display: none; position: absolute; width: 176px; left: 50%; border: 1px solid #4d4d4d; -webkit-box-shadow: 0 0 12.8px 2.3px rgba(234, 236, 243, 0.4); box-shadow: 0 0 12.8px 2.3px rgba(234, 236, 243, 0.4); background-color: #ffffff; cursor: default; -webkit-transform: translate(-50%); transform: translate(-50%); }

.pb_header .pb_menu.on .pb_menu_cont { display: block; }

.pb_header .pb_menu.on .btn_arrow { border-top: 0; border-bottom: 10px solid #4d4d4d; }

.pb_header .btn_logout { margin-left: 14px; display: inline-block; border-radius: 17px; background: #fff; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.4rem; line-height: 1; cursor: pointer; width: 105px; height: 33px; line-height: 33px; border: 1px solid #4d4d4d; color: #4d4d4d; }

.lnb_wrap { overflow-y: auto; width: 300px; height: calc(100% - 80px); position: fixed; left: 0; top: 80px; background: #4b4b4b; }

.lnb_wrap .mCSB_inside > .mCSB_container { margin-right: 10px; }

.lnb_wrap .depth1_li .list_depth2 { overflow: hidden; height: 0; -webkit-transition: all 0.5s; transition: all 0.5s; }

.lnb_wrap .depth1_li .list_depth2.active { height: auto; -webkit-transition: all 1s; transition: all 1s; }

.lnb_wrap .depth1_li .list_depth2.active .depth2_li.on { background: #f8f8f8; }

.lnb_wrap .depth1_li .list_depth2.active .depth2_li.on .menu2_txt { color: #4b4b4b; }

.lnb_wrap .depth1_li .menu_txt { font-size: 1.8rem; font-family: notoSans-D; color: #f8f8f8; }

.lnb_wrap .depth1_li .icon_arrow { display: inline-block; width: 0; height: 0; margin-left: auto; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 9px solid #fff; }

.lnb_wrap .depth1_li .icon_home { display: inline-block; margin-right: 12px; width: 26px; height: 29px; background: url("../images/icon_home.svg") no-repeat left top; background-size: 26px 29px; }

.lnb_wrap .depth1_li .icon_watch { display: inline-block; margin-right: 12px; width: 27px; height: 27px; background: url("../images/icon_watch.png") no-repeat left top; background-size: 27px 27px; }

.lnb_wrap .depth1_li .icon_roller { display: inline-block; margin-right: 9px; width: 29px; height: 31px; background: url("../images/icon_roller.png") no-repeat left top; background-size: 29px 31px; }

.lnb_wrap .depth1_li .icon_mbcircle { display: inline-block; margin-right: 10px; width: 29px; height: 29px; background: url("../images/icon_mbcircle.svg") no-repeat left top; background-size: 29px 29px; }

.lnb_wrap .depth1_li .icon_statistics { display: inline-block; margin-right: 10px; width: 29px; height: 29px; background: url("../images/icon_statistics.png") no-repeat left top; background-size: 29px 29px; }

.lnb_wrap .depth1_li .icon_airplane { display: inline-block; margin-right: 10px; width: 30px; height: 29px; background: url("../images/icon_airplane.png") no-repeat left top; background-size: 30px 29px; }

.lnb_wrap .depth1_li .icon_tobni { display: inline-block; margin-right: 9px; width: 31px; height: 31px; background: url("../images/icon_tobni.png") no-repeat left top; background-size: 31px 31px; }

.lnb_wrap .depth1_li .icon_mall { display: inline-block; margin-right: 12px; width: 28px; height: 33px; background: url("../images/icon_mall.png") no-repeat left top; background-size: 28px 33px; }

.lnb_wrap .depth1_li.on { background: #f8f8f8; }

.lnb_wrap .depth1_li.on .menu_txt { color: #4b4b4b; }

.lnb_wrap .depth1_li.on.lnb_mall, .lnb_wrap .depth1_li.on.lnb_sites, .lnb_wrap .depth1_li.on.lnb_statistics { background: transparent; }

.lnb_wrap .depth1_li.on.lnb_mall .menu_txt, .lnb_wrap .depth1_li.on.lnb_sites .menu_txt, .lnb_wrap .depth1_li.on.lnb_statistics .menu_txt { color: #f8f8f8; }

.lnb_wrap .depth1_li.on.lnb_mall .box_depth2, .lnb_wrap .depth1_li.on.lnb_sites .box_depth2, .lnb_wrap .depth1_li.on.lnb_statistics .box_depth2 { border-bottom: 1px solid #9e9e9e; }

.lnb_wrap .depth1_li.on .box_depth2 { border-bottom: 0; }

.lnb_wrap .depth1_li.on .icon_home { width: 26px; height: 29px; background: url("../images/icon_home_on.svg") no-repeat left top; background-size: 26px 29px; }

.lnb_wrap .depth1_li.on .icon_watch { width: 27px; height: 27px; background: url("../images/icon_watch_on.png") no-repeat left top; background-size: 27px 27px; }

.lnb_wrap .depth1_li.on .icon_mbcircle { width: 29px; height: 29px; background: url("../images/icon_mbcircle_on.svg") no-repeat left top; background-size: 29px 29px; }

.lnb_wrap .depth1_li.on .icon_airplane { width: 30px; height: 29px; background: url("../images/icon_airplane_on.png") no-repeat left top; background-size: 30px 29px; }

.lnb_wrap .depth1_li.on .icon_tobni { width: 31px; height: 31px; background: url("../images/icon_tobni_on.png") no-repeat left top; background-size: 31px 31px; }

.lnb_wrap .depth1_li.on .icon_roller { width: 29px; height: 31px; background: url("../images/icon_roller_on.png") no-repeat left top; background-size: 29px 31px; }

.lnb_wrap .depth1_li.on .icon_arrow { border-top: 0; border-bottom: 9px solid #fff; }

.lnb_wrap .depth1_li .box_depth2 { display: block; width: calc(100% - 30px); height: 100%; margin: 0 15px; border-bottom: 1px solid #9e9e9e; -webkit-box-sizing: border-box; box-sizing: border-box; }

.lnb_wrap .depth1_li .box_depth2 .wrap_menu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 23px 20px; }

.lnb_wrap .depth1_li .box_depth2:hover .menu_txt { text-decoration: underline; }

.lnb_wrap .depth1_li .depth2_li.on { background-color: #fff; }

.lnb_wrap .depth1_li .depth2_li.on .li_wrap { border-bottom: 0; }

.lnb_wrap .depth1_li .depth2_li.on .menu2_txt { color: #4b4b4b; }

.lnb_wrap .depth1_li .depth2_li:hover .menu2_txt { text-decoration: underline; }

.lnb_wrap .depth1_li .count_badge { display: block; width: 40px; height: 20px; position: absolute; right: 51px; top: 29px; line-height: 20px; border-radius: 30px; background: #2ea9df; font-size: 14px; text-align: center; color: #fff; font-weight: 350; }

.lnb_wrap .depth1_li .li_wrap { display: block; margin: 0 15px 0 65px; position: relative; border-bottom: 1px solid #9e9e9e; }

.lnb_wrap .depth1_li .li_wrap .menu2_txt { display: block; padding: 28px 30px; font-size: 1.8rem; font-family: notoSans-D; color: #ddd; }

.admin_tit { position: relative; padding: 35px 0 33px; margin-bottom: 17px; border-bottom: 1px solid #d7d7d7; font-family: notoSans-M; letter-spacing: 2.5px; font-size: 2.5rem; }

.admin_tit .btn_save { display: inline-block; border-radius: 4px; background: #ff4e60; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; position: absolute; right: 0; top: 35px; width: 110px; height: 32px; line-height: 32px; }

.admin_tit .btn_save:hover { text-decoration: underline; }

.admin_subtit { padding: 21px 30px; font-family: notoSans-M; font-size: 2rem; letter-spacing: 2px; }

/*-------------------유저관리자-------------*/
.pb_user_admin { width: calc(100% - 300px); height: calc(100% - 80px); overflow-y: auto; margin-top: 80px; margin-left: 300px; font-family: "본고딕"; color: #4d4d4d; /*---------------------- 대시보드 --------------------*/ }

.pb_user_admin .page_container { min-height: 100%; padding: 75px 46px 60px 69px; -webkit-box-sizing: border-box; box-sizing: border-box; background: #f8f8f8; }

.pb_user_admin .page_container .main_panel { height: 100%; background: #fff; }

.pb_user_admin .page_container .main_panel .user_admin_cont { width: 1506px; padding: 0 42px; border: 1px solid #d7d7d7; border-radius: 10px; background: #fff; -webkit-box-sizing: border-box; box-sizing: border-box; }

.pb_user_admin .page_container .main_panel .btn_back { display: inline-block; margin-right: 5px; width: 35px; height: 12px; background: url("../images/btn_back2.svg") no-repeat left top; background-size: 35px 12px; cursor: pointer; }

.pb_user_admin .page_list { padding-top: 20px; padding-bottom: 68px; }

.pb_user_admin .page_list .pager { width: auto; margin: 0 auto; font-family: "본고딕"; font-size: 1.8rem; text-align: center; color: #7e7e7e; }

.pb_user_admin .page_list .pager td { width: 50px; cursor: pointer; }

.pb_user_admin .page_list .pager td:hover { text-decoration: underline; }

.pb_user_admin .page_list .pager .txt_page { display: block; height: 20px; border-right: 1px solid #7e7e7e; }

.pb_user_admin .page_list .pager .current_page .txt_page { color: #2ea9df; }

.pb_user_admin .dashboard_container { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.pb_user_admin .dashboard_container .dash_cont { width: 690px; height: 420px; border: 1px solid #d7d7d7; background: #fff; -webkit-box-sizing: border-box; box-sizing: border-box; }

.pb_user_admin .dashboard_container .dash_cont:nth-child(even) { margin-left: auto; }

.pb_user_admin .dashboard_container .visit_days_info { border: 0; }

.pb_user_admin .dashboard_container .visit_days_info .admin_subtit { border: 1px solid #d7d7d7; border-bottom: 0; }

.pb_user_admin .dashboard_container .visiter_tbl thead th { padding: 9px 0 8px; border-bottom: 2px solid #fff; text-align: center; font-size: 1.6rem; color: #fff; background: #4b4b4b; }

.pb_user_admin .dashboard_container .visiter_tbl td { padding: 11px 0 9px; border-bottom: 2px solid #fff; background: #efefef; font-size: 1.4rem; color: #4b4b4b; text-align: center; letter-spacing: 1.4px; }

.pb_user_admin .dashboard_container .visiter_tbl tfoot th { padding: 8px 0 7px; border-bottom: 2px solid #fff; font-size: 1.6rem; color: #4b4b4b; letter-spacing: 1.6px; background: #efefef; }

.badge_new { display: inline-block; width: 20px; height: 20px; margin-left: 8px; border-radius: 50%; background-color: #ce7979; font-size: 1.4rem; font-family: notoSans-M; text-align: center; line-height: 20px; vertical-align: 1px; color: #fff; }

.new_member { margin-top: 40px; margin-bottom: 43px; }

.new_member .admin_subtit { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding-bottom: 35px; }

.new_member .admin_subtit .badge_cnt { width: 40px; height: 20px; margin-left: 9px; border-radius: 10px; background: #29abe2; color: #fff; font-size: 1.4rem; text-align: center; line-height: 19px; }

.new_member .admin_subtit .btn_more { margin-left: auto; margin-right: 51px; font-family: notoSans-D; font-size: 1.6rem; color: #4d4d4d; letter-spacing: 1px; }

.new_member .newmember_tbl td { padding: 22px 4px 3px; }

.new_member .newmember_tbl tbody tr:first-child td { padding-top: 3px; }

.new_member .newmember_tbl .nick_td { font-family: notoSans-D; font-size: 1.6rem; }

.my_infobox { margin-top: 40px; margin-bottom: 43px; text-align: left; }

.my_infobox .admin_subtit { padding-bottom: 36px; }

.my_infobox .my_info_tbl th { padding: 22px 4px 5px; border-bottom: 1px solid #d7d7d7; font-family: notoSans-D; font-size: 1.6rem; }

.my_infobox .my_info_tbl td { padding: 22px 4px 3px; }

.my_infobox .my_info_tbl tbody tr:first-child th { padding-top: 5px; }

.my_infobox .my_info_tbl tbody tr:first-child td { padding-top: 3px; }

.my_infobox .my_info_tbl .itsite_lv, .my_infobox .my_info_tbl .mymbsh_td, .my_infobox .my_info_tbl .mysite_cnt { position: relative; }

.my_infobox .my_info_tbl .btn_chg_mbsh, .my_infobox .my_info_tbl .btn_mysite, .my_infobox .my_info_tbl .btn_upgrsite { position: absolute; bottom: 5px; right: 7px; font-family: notoSans-D; }

.my_info_tbl, .newmember_tbl { margin: 0 71px 47px 66px; }

.my_info_tbl td, .newmember_tbl td { border-bottom: 1px solid #d7d7d7; font-size: 1.4rem; color: #4b4b4b; }

.search_go_inp { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 60px; border: 1px solid #d7d7d7; -webkit-box-sizing: border-box; box-sizing: border-box; background: #fff; }

.search_go_inp .inp { width: 347px; padding: 0 18px; font-size: 1.8rem; height: 60px; line-height: 60px; }

.search_go_inp .btn_sch { width: 60px; height: 60px; margin-left: auto; border: 1px solid #2ea9df; background: #2ea9df url("../images/icon_search_white.svg") no-repeat center; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*---------------------- 회원관리 --------------------*/
.managemb_container .tbl_head { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 15px; }

.managemb_container .tbl_head .mysite_member_info { padding-left: 31px; font-size: 1.6rem; }

.managemb_container .tbl_head .mysite_member_info .mb_count { padding-top: 6px; font-family: notoSans-M; font-size: 2rem; }

.managemb_container .tbl_head .search_area { width: 443px; margin-left: auto; }

.managemb_container .mysite_mb_tbl { margin-top: 14px; font-size: 1.8rem; }

.managemb_container .mysite_mb_tbl th { padding: 20px; font-family: notoSans-M; text-align: center; color: #fff; border-bottom: 5px solid #fff; background: #4b4b4b; }

.managemb_container .mysite_mb_tbl .nick_th { text-align: left; }

.managemb_container .mysite_mb_tbl td { padding: 7px 20px 6px; text-align: center; color: #000; border-bottom: 5px solid #fff; background: #efefef; }

.managemb_container .mysite_mb_tbl .mbnick_td { text-align: left; }

.managemb_container .mysite_mb_tbl .badge_me { display: inline-block; width: 70px; height: 20px; border-radius: 10px; font-size: 1.4rem; text-align: center; line-height: 20px; color: #fff; background: #2ea9df; }

.managemb_container .mysite_mb_tbl .btn_mbinfo { display: inline-block; border-radius: 0; background: #fff; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.8rem; line-height: 1; cursor: pointer; padding: 11px 17px; color: #000; border: 1px solid #d7d7d7; }

.managemb_container.mbmodify_container { display: -webkit-box; display: -ms-flexbox; display: flex; }

.managemb_container .activity_info { margin-left: 40px; }

.managemb_container .stat_cont .radio_box { display: inline-block; position: relative; padding-left: 28px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; font-size: 2rem; }

.managemb_container .stat_cont .radio_box input { position: absolute; height: 0; width: 0; opacity: 0; cursor: pointer; }

.managemb_container .stat_cont .radio_box .checkmark { position: absolute; top: 0; left: 0; height: 15px; width: 15px; border: 1px solid #ececec; }

.managemb_container .stat_cont .radio_box input:checked + .checkmark:after { display: block; width: 12px; height: 12px; position: absolute; left: 3px; top: 3px; background: #29abe2; border-radius: 50%; content: ''; }

.managemb_container .stat_cont .radio_box .checkmark { border-radius: 50%; background: #fff; }

.managemb_container .stat_cont .radio_box input:checked + .checkmark:after { width: 8px; height: 8px; left: 4px; top: 4px; background: #4d4d4d; }

.managemb_container .stat_cont .radio_box:last-child { margin-left: 40px; }

.managemb_container .mb_modify_info { width: 690px; height: 420px; border: 1px solid #d7d7d7; background: #fff; text-align: left; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 2rem; }

.managemb_container .mb_modify_info .admin_subtit { padding-bottom: 43px; }

.managemb_container .mb_modify_info .mbif_tbl { margin: 0 37px 53px; }

.managemb_container .mb_modify_info .active_info_tle { margin: 0 37px 114px; }

.managemb_container .mb_modify_info th { padding: 23px 0 17px; font-family: notoSans-M; color: #4b4b4b; border-bottom: 1px solid #d7d7d7; }

.managemb_container .mb_modify_info .tbl_th { display: block; width: 120px; border-right: 1px solid #4b4b4b; }

.managemb_container .mb_modify_info td { padding: 17px 27px; font-family: notoSans-D; border-bottom: 1px solid #d7d7d7; }

.managemb_container .mb_modify_info tr:first-child td, .managemb_container .mb_modify_info tr:first-child th { padding-top: 0; }

/*---------------------- 쇼핑 --------------------*/
.prod_search { overflow: hidden; margin-top: 20px; margin-bottom: 24px; }

.status_search { float: left; margin-top: 18px; }

.wrap_status { overflow: hidden; }

.wrap_status li { float: left; padding-bottom: 19px; padding-left: 3px; font-size: 0; }

.wrap_status li.on { border-bottom: 2px solid #2ea9df; }

.wrap_status li.on .status_txt { color: #29abe2; }

.wrap_status li.on .status_txt:hover { text-decoration: none; cursor: default; }

.wrap_status li.on .badge_cnt { background: #29abe2; }

.wrap_status li:last-child { margin-right: 0 !important; }

.wrap_status .status_txt { font-weight: 500; font-size: 2rem; color: #4d4d4d; }

.wrap_status .status_txt:hover { text-decoration: underline; cursor: pointer; }

.wrap_status .badge_cnt { display: inline-block; width: 40px; height: 20px; border-radius: 10px; line-height: 20px; text-align: center; color: #fff; font-weight: 350; font-size: 1.4rem; vertical-align: top; background: #757575; }

.name_search { height: 60px; overflow: hidden; float: right; border: 1px solid #d7d7d7; }

.inp_proname { padding: 0 17px; width: 364px; height: 60px; line-height: 60px; font-size: 1.8rem; }

.btn_srch { display: block; width: 60px; height: 60px; float: right; background: #29abe2 url(/images/icon_search_white.svg) no-repeat center/27px; cursor: pointer; }

.products_container { position: relative; padding-bottom: 54px; }

.products_container .wrap_status li { margin-right: 66px; }

.products_container .wrap_status li .status_txt { margin-right: 16px; }

.products_container .name_search { width: 464px; }

.products_container .category_edit { width: 200px; position: absolute; font-size: 1.4rem; }

.products_container .category_edit .depth1_li .depth1_name { display: inline-block; width: 100%; height: 40px; padding-left: 26px; line-height: 40px; vertical-align: middle; }

.products_container .category_edit .depth1_li .depth1_name .arrow { display: inline-block; padding-right: 7px; font-size: 10px; }

.products_container .category_edit .depth1_li.on .depth1_name { color: #fff; background-color: #29abe2; }

.products_container .category_edit .list_depth2 li { display: inline-block; width: 100%; height: 40px; padding-left: 53px; line-height: 40px; vertical-align: middle; background: url("/images/ico_list_depth2.png") no-repeat 36px 11px; }

.products_container .category_edit .list_depth2 li.on { background: url("/images/ico_list_depth2.png") #29abe2 no-repeat 36px 11px; }

.products_container .category_edit .special_cate_list { width: 100%; min-height: 250px; background: #efefef; }

.products_container .category_edit .special_cate_list li { padding: 13px 43px; font-weight: 350; font-size: 1.4rem; color: #242424; cursor: pointer; }

.products_container .category_edit .special_cate_list li:hover { text-decoration: underline; }

.products_container .edit_all_menu .depth1_name { display: -webkit-box; display: -ms-flexbox; display: flex; overflow: hidden; width: 100% !important; height: 40px; line-height: 40px; font-size: 1.4rem; overflow: hidden; display: block !important; cursor: pointer; }

.products_container .edit_all_menu .list_depth2 .on, .products_container .edit_all_menu .on .depth1_name { color: #fff; background-color: #29abe2; }

.products_container .btn_category_edit { display: inline-block; border-radius: 4px; background: #29abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; width: 110px; height: 32px; line-height: 32px; margin-bottom: 20px; }

.products_container .product_edit { margin-left: 210px; height: 671px; }

.products_container .prod_edit_head { overflow: hidden; margin-bottom: 10px; }

.products_container .prod_edit_head .btn_add_prod { display: inline-block; border-radius: 4px; background: #ff4e60; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; width: 110px; height: 32px; line-height: 32px; }

.products_container .prod_list_tbl th { height: 60px; line-height: 60px; font-weight: 500; font-size: 1.6rem; text-align: center; color: #fff; background: #4b4b4b; }

.products_container .prod_list_tbl td { padding: 15px 0; font-size: 1.4rem; border-bottom: 1px solid #d7d7d7; background: #fff; text-align: center; }

.products_container .prod_list_tbl .prod_td { width: 24%; cursor: pointer; }

.products_container .prod_list_tbl .prod_td:hover { text-decoration: underline; }

.products_container .prod_list_tbl .prod_td .fst_img { width: 70px; height: 70px; margin-right: 10px; }

.products_container .prod_list_tbl .prodsaledate_td { width: 80px; }

.products_container .prod_list_tbl .extra_cnt { color: #29abe2; }

.products_container .prod_list_tbl .prod_name_txt { display: inline-block; max-width: 176px; line-height: 1.43; text-align: left; }

.products_container .prod_list_tbl .prodel_td .icon_del { display: block; width: 21px; height: 21px; background: url("../images/btn_close.svg") no-repeat left top; background-size: 21px 21px; cursor: pointer; }

.products_container .prod_list_tbl .select_special { width: 124px; font-size: 1.4rem; text-align: left; }

.products_container .prod_list_tbl .select_status { width: 66px; padding: 0; text-align: left; }

.products_container .prod_list .prod_list_tbl .select_special label, .products_container .prod_list .prod_list_tbl .select_status label { font-size: 1.4rem; }

.export_btns { float: right; overflow: hidden; margin-top: 6px; }

.export_btns .btn_print { float: left; display: block; width: 36px; height: 36px; background: url("/images/icon_print.png") no-repeat left top; background-size: 36px 36px; }

.export_btns .btn_excel { float: left; display: block; width: 34px; height: 36px; background: url("/images/icon_excel.png") no-repeat left top; background-size: 34px 36px; margin-left: 46px; }

.products_edit_container .check_custom { display: inline-block; position: relative; padding-left: 28px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; height: 21px; line-height: 21px; font-size: 1.8rem; color: #242424; }

.products_edit_container .check_custom input { position: absolute; height: 0; width: 0; opacity: 0; cursor: pointer; }

.products_edit_container .check_custom .checkmark { position: absolute; top: 0; left: 0; height: 21px; width: 21px; border: 0; }

.products_edit_container .check_custom input ~ .checkmark { background: url("../images/check_custom1_off.svg") no-repeat top center/23px; }

.products_edit_container .check_custom input:checked ~ .checkmark { background: url("../images/check_custom1_on.svg") no-repeat center/18px; }

.products_edit_container .check_custom.sty2 { display: inline-block; position: relative; padding-left: 28px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.products_edit_container .check_custom.sty2 input { position: absolute; height: 0; width: 0; opacity: 0; cursor: pointer; }

.products_edit_container .check_custom.sty2 .checkmark { position: absolute; top: 0; left: 0; height: 21px; width: 21px; border: 1px solid #e3e3e3; }

.products_edit_container .check_custom.sty2 input:checked + .checkmark:after { display: block; width: 12px; height: 12px; position: absolute; left: 3px; top: 3px; background: #29abe2; border-radius: 50%; content: ''; }

.products_edit_container .check_custom.sty2 .checkmark { border-radius: 50%; background: #fff; }

.products_edit_container .check_custom.sty2 input:checked + .checkmark { border-color: #f00; background: #fff; }

.products_edit_container .check_custom.sty2 input:checked + .checkmark:after { width: 11px; height: 11px; left: 4px; top: 4px; }

.products_edit_container .product_cont { margin-bottom: 20px; border: 1px solid #d7d7d7; background: #fff; }

.products_edit_container .box_tit { font-size: 1.8rem; font-weight: 500; color: #4b4b4b; }

.products_edit_container .product_pictures { width: 688px; margin-right: 40px; padding-bottom: 25px; float: left; }

.products_edit_container .product_pictures .admin_subtit { position: relative; }

.products_edit_container .product_pictures .upload_custom { position: absolute; right: 21px; top: 21px; }

.products_edit_container .product_pictures .upload_custom label { display: block; cursor: pointer; margin-bottom: 0; }

.products_edit_container .product_pictures .upload_custom input { display: none; }

.products_edit_container .product_pictures .upload_custom label { display: inline-block; border-radius: 4px; background: #4b4b4b; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; width: 110px; height: 32px; line-height: 32px; }

.products_edit_container .product_pictures .upload_custom label:hover { text-decoration: underline; }

.products_edit_container .product_pictures .big_img_area { position: relative; margin: 8px auto 11px; width: 290px; height: 290px; }

.products_edit_container .product_pictures .memo { font-size: 1.4rem; font-family: notoSans-D; text-align: center; color: #4d4d4d; }

.products_edit_container .product_pictures .small_img_area { margin: 37px 25px 0; overflow: hidden; }

.products_edit_container .product_pictures .small_img_area li { float: left; position: relative; width: 90px; height: 90px; margin-right: 5px; }

.products_edit_container .product_pictures .small_img_area .small_img { position: relative; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.products_edit_container .product_pictures .btn_del { display: inline-block; width: 21px; height: 21px; background: url("../images/btn_close.svg") no-repeat left top; background-size: 21px 21px; position: absolute; right: 5px; top: 5px; cursor: pointer; }

.products_edit_container .product_name { width: 688px; float: left; }

.products_edit_container .product_name .inp_prdt_name, .products_edit_container .product_name .inp_short_explain { width: 640px; margin: 0 25px; border-bottom: 1px solid #9e9e9e; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 1.8rem; }

.products_edit_container .product_name .inp_prdt_name { padding: 0 4px 8px; margin-bottom: 69px; }

.products_edit_container .product_name .inp_short_explain { margin-bottom: 224px; padding: 0 4px 11px; line-height: 1.67; }

.products_edit_container .product_detail { clear: both; }

.products_edit_container .product_detail .prdt_detail_smnt { width: 1250px; margin: 24px 85px 30px; }

.products_edit_container .product_prices .box_cont { display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 40px; font-size: 1.8rem; }

.products_edit_container .product_prices .box_sale_price { margin-left: 25px; margin-right: 80px; }

.products_edit_container .product_prices .box_sales_dates { margin-left: 110px; }

.products_edit_container .product_prices .label_tit { padding-left: 5px; color: #4b4b4b; }

.products_edit_container .product_prices .inp_area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.products_edit_container .product_prices .inp_area input { border-bottom: 1px solid #795e5e; padding: 9px 0; }

.products_edit_container .product_prices .wrap_calendar { display: inline-block; width: 250px; height: 46px; line-height: 46px; position: relative; border-bottom: 1px solid #9e9e9e; background: #fff; }

.products_edit_container .product_prices .wrap_calendar:after { content: " "; display: block; position: absolute; bottom: 9px; right: 0; width: 20px; height: 20px; background: url("../images/ico_calendar.png") no-repeat 0 0; }

.products_edit_container .product_prices .wrap_calendar .date { width: 100%; vertical-align: middle; }

.products_edit_container .product_prices .inp_line { margin: 0 45px; font-size: 1.8rem; }

.products_edit_container .product_prices .note { display: block; padding-top: 12px; font-size: 1.4rem; font-weight: 350; line-height: 1.71; color: #757575; }

.products_edit_container .product_prices .note .point_txt { font-weight: 900; color: #f00; vertical-align: top; }

.products_edit_container .product_prices .box_real_price .note { width: 243px; }

.products_edit_container .product_category { font-size: 18px; }

.products_edit_container .product_category .box_cont { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 0 25px 28px; }

.products_edit_container .product_category .box_tit { padding-bottom: 23px; padding-left: 5px; }

.products_edit_container .product_category .box_tit .small_txt { padding-left: 8px; vertical-align: bottom; font-weight: 350; font-size: 1.4rem; color: #757575; }

.products_edit_container .product_category .select_cate_dp, .products_edit_container .product_category .select_special_dp { width: 470px; padding: 0 5px; cursor: pointer; }

.products_edit_container .product_category .js-select-category, .products_edit_container .product_category .js-special-view { display: block; }

.products_edit_container .product_category .js-list-category, .products_edit_container .product_category .js-list-specialview { width: 100%; }

.products_edit_container .product_category .chk_radio_cate, .products_edit_container .product_category .chk_special_view { visibility: visible !important; -webkit-appearance: auto; -moz-appearance: auto; appearance: auto; margin-right: 5px; }

.products_edit_container .product_category .js-list-category, .products_edit_container .product_category .js-list-specialview { position: absolute; z-index: 100; padding: 15px; border: 1px solid; background: #fff; }

.products_edit_container .product_category .list_category2 { padding: 10px; }

.products_edit_container .product_category .list_category2 li { margin-bottom: 5px; }

.products_edit_container .product_category .list_category2 li:last-child { margin-bottom: 0; }

.products_edit_container .product_category .once_cate { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-bottom: 10px; font-size: 1.8rem; font-weight: 500; color: #4b4b4b; }

.products_edit_container .product_category .once_cate .icon_del { margin-left: 14px; }

.products_edit_container .product_category .icon_arrow { display: block; width: 15px; height: 25px; background: url("../images/icon_arrow5.png") no-repeat left top; background-size: 15px 25px; margin: 0 7px 0 15px; }

.products_edit_container .product_category .icon_del { display: block; width: 21px; height: 21px; background: url("../images/btn_close.svg") no-repeat left top; background-size: 21px 21px; cursor: pointer; }

.products_edit_container .product_category .special_area { padding: 0 54px 0 145px; }

.products_edit_container .product_category .special_area .note { padding-top: 14px; font-size: 1.4rem; font-weight: 350; color: #757575; }

.products_edit_container .product_category .selected_categories { padding-left: 5px; padding-top: 10px; }

.products_edit_container .product_category .selected_dp { display: -webkit-box; display: -ms-flexbox; display: flex; position: absolute; left: 0; bottom: 2px; }

.products_edit_container .product_category .selected_dp .once_dp { padding-left: 14px; padding-right: 4px; height: 27px; line-height: 27px; position: relative; margin-right: 13px; border-radius: 14px; background: #29abe2; font-size: 1.8rem; font-weight: 350; color: #fff; }

.products_edit_container .product_category .selected_dp .once_dp .icon_del { display: inline-block; margin-top: -4px; margin-left: 9px; vertical-align: middle; }

.products_edit_container .product_category .selected_dp .once_dp:last-child { margin-right: 0; }

.products_edit_container .product_category .badge_area li { padding-bottom: 19px; }

.products_edit_container .product_category .badge_area li:last-child { padding-bottom: 0; }

.products_edit_container .product_category .badge_area .check_custom { margin-left: 0; }

.products_edit_container .product_typeinfo .box_cont { padding: 0 30px; }

.products_edit_container .product_typeinfo .cont_head { overflow: hidden; padding-bottom: 15px; }

.products_edit_container .product_typeinfo .cont_head .require_memo { float: left; font-weight: 350; font-size: 1.8rem; color: #757575; }

.products_edit_container .product_typeinfo .cont_head .check_custom { float: left; margin-left: 363px; }

.products_edit_container .product_typeinfo .cont_body { overflow: hidden; padding-bottom: 50px; }

.products_edit_container .product_typeinfo .box_tit { float: left; padding-right: 47px; line-height: 32px; }

.products_edit_container .product_typeinfo .select_prod_group { float: left; width: 500px; }

.products_edit_container .product_typeinfo .btn_set_pdgr { display: inline-block; border-radius: 4px; background: #29abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; margin-left: 15px; margin-right: 20px; width: 110px; height: 32px; line-height: 32px; }

.products_edit_container .product_typeinfo .btn_set_pdgr:hover { text-decoration: underline; }

.products_edit_container .product_typeinfo .btn_pop_bookinfo { display: inline-block; border-radius: 4px; background: #4b4b4b; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; width: 110px; height: 32px; line-height: 32px; }

.products_edit_container .product_typeinfo .btn_pop_bookinfo:hover { text-decoration: underline; }

.products_edit_container .product_delivery .delivery_option_set { overflow: hidden; padding-left: 29px; }

.products_edit_container .product_delivery .box_normal_delopt { float: left; }

.products_edit_container .product_delivery .box_normal_delopt .pop_normal_set { display: inline-block; border-radius: 4px; background: #29abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; width: 140px; height: 32px; line-height: 32px; margin-right: 20px; margin-left: 30px; }

.products_edit_container .product_delivery .box_normal_delopt .pop_normal_set:hover { text-decoration: underline; }

.products_edit_container .product_delivery .box_normal_delopt .pop_single_set { display: inline-block; border-radius: 4px; background: #4b4b4b; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; width: 140px; height: 32px; line-height: 32px; }

.products_edit_container .product_delivery .box_normal_delopt .pop_single_set:hover { text-decoration: underline; }

.products_edit_container .product_delivery .box_normal_delopt .ref_memo { padding-top: 14px; padding-bottom: 22px; font-weight: 350; font-size: 1.4rem; color: #757575; }

.products_edit_container .product_delivery .now_delivery_option { margin-left: 222px; float: left; }

.products_edit_container .product_delivery .now_delivery_option .box_options li { position: relative; padding-left: 11px; margin-bottom: 10px; font-size: 1.4rem; line-height: 14px; font-weight: 350; color: #242424; }

.products_edit_container .product_delivery .now_delivery_option .box_options li:last-child { margin-bottom: 0; }

.products_edit_container .product_delivery .now_delivery_option .box_options li:before { content: ''; display: block; width: 5px; height: 5px; position: absolute; left: 0; top: 5px; border-radius: 50%; background: red; }

.products_edit_container .product_delivery .other_option { overflow: hidden; padding-top: 14px; }

.products_edit_container .product_delivery .other_option .check_custom:last-child { margin-left: 59px; }

.products_edit_container .product_delivery .delivery_option_note { padding: 70px 26px 52px 30px; }

.products_edit_container .product_delivery .delivery_option_note .inp_delivery_info { display: block; width: 1369px; padding: 0 5px 6px; border-bottom: 1px solid #9e9e9e; font-weight: 350; font-size: 1.8rem; }

.products_edit_container .product_delivery .delivery_option_note .help_note { padding-top: 8px; font-weight: 350; font-size: 1.4rem; color: #757575; }

.products_edit_container .product_inventory .box_inventory { overflow: hidden; padding: 0 25px 22px; }

.products_edit_container .product_inventory .help_notes, .products_edit_container .product_inventory .input_control_inventory, .products_edit_container .product_inventory .select_control_inventory { float: left; }

.products_edit_container .product_inventory .input_control_inventory { margin-left: 100px; margin-right: 135px; }

.products_edit_container .product_inventory .select_control_inventory .box_tit { padding-left: 4px; }

.products_edit_container .product_inventory .help_notes { float: left; }

.products_edit_container .product_inventory .help_notes li { position: relative; padding-left: 11px; margin-bottom: 10px; font-size: 1.4rem; line-height: 17px; font-weight: 350; color: #242424; }

.products_edit_container .product_inventory .help_notes li:last-child { margin-bottom: 0; }

.products_edit_container .product_inventory .help_notes li:before { content: ''; display: block; width: 5px; height: 5px; position: absolute; left: 0; top: 5px; border-radius: 50%; background: red; }

.products_edit_container .select_control_ivtr { width: 250px; margin-top: 17px; }

.products_edit_container .inp_control_ivtr { width: 250px; padding: 0 5px; height: 31px; line-height: 31px; border-bottom: 1px solid #9e9e9e; font-weight: 350; color: #4b4b4b; font-size: 1.8rem; }

.products_edit_container .product_option { font-size: 18px; }

.products_edit_container .product_option .cont_head { padding: 0 31px 30px; border-bottom: 1px solid #d7d7d7; }

.products_edit_container .product_option .cont_head .btn_add_option { display: inline-block; border-radius: 4px; background: #29abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 2rem; line-height: 1; cursor: pointer; width: 310px; height: 52px; line-height: 52px; margin-top: 18px; }

.products_edit_container .product_option .cont_head .btn_add_option:hover { text-decoration: underline; }

.products_edit_container .product_option .help_area { font-weight: 350; color: #4b4b4b; font-size: 1.8rem; }

.products_edit_container .product_option .help_area .btn_pop_guide { display: inline-block; border-radius: 4px; background: #4b4b4b; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; width: 110px; height: 32px; line-height: 32px; margin-left: 21px; }

.products_edit_container .product_option .help_area .btn_pop_guide:hover { text-decoration: underline; }

.products_edit_container .product_option .cont_body_up { padding: 0 25px; background: #f8f8f8; }

.products_edit_container .product_option .cont_body_up .option_item_txt { display: inline-block; width: auto; height: 21px; line-height: 21px; padding-right: 25px; margin-right: 5px; border-radius: 10px; background: #4e4e4e url("/images/btn_close.svg") no-repeat right 2px center/21px; }

.products_edit_container .product_option .cont_body_up .option_item_txt .option_item_name { font-size: 18px; color: #fff; }

.products_edit_container .product_option .cont_body_up .option_item_txt .box_btndel { font-size: 0; overflow: hidden; }

.products_edit_container .product_option .wrap_option_fst .box_btndel { display: block !important; position: absolute; top: 0; right: 4px; width: 16px; height: 20px; cursor: pointer; font-size: 0; overflow: hidden; }

.products_edit_container .product_option .opt_type_color .option_name .box_tit, .products_edit_container .product_option .opt_type_color .option_type .box_tit, .products_edit_container .product_option .opt_type_color .option_value .box_tit { line-height: 21px; }

.products_edit_container .product_option .opt_type_color .option_item_txt { display: inline-block; position: relative; width: 45px; height: 21px; margin-right: 10px; }

.products_edit_container .product_option .opt_type_color .option_value .inp_option_text { visibility: hidden; }

.products_edit_container .product_option .opt_type_color .selected_colors { height: 27px; }

.products_edit_container .product_option .wrap_option_fst { padding: 30px 0 17px; border-bottom: 1px solid #d7d7d7; overflow: hidden; }

.products_edit_container .product_option .option_type { float: left; }

.products_edit_container .product_option .option_name { float: left; margin-left: 85px; margin-right: 115px; }

.products_edit_container .product_option .option_value { float: left; }

.products_edit_container .product_option .box_tit { margin-bottom: 20px; }

.products_edit_container .product_option .option_type .check_custom { font-size: 1.8rem; line-height: 21px; }

.products_edit_container .product_option .check_custom:nth-child(2) { margin-left: 30px; }

.products_edit_container .product_option .opt_name { width: 250px; padding: 0 5px 5px; border-bottom: 1px solid #9e9e9e; font-size: 1.8rem; font-weight: 350; }

.products_edit_container .product_option .opt_value { display: inline-block; width: 565px; padding: 0 6px 5px; border-bottom: 1px solid #9e9e9e; font-size: 1.8rem; font-weight: 350; }

.products_edit_container .product_option .opt_value .box_add_optionitem { position: relative; }

.products_edit_container .product_option .opt_type_other .option_item_txt { height: 24px; padding: 0 25px 0 5px; }

.products_edit_container .product_option .opt_type_other { position: relative; }

.products_edit_container .product_option .selected_colors { overflow: hidden; width: 565px; padding-bottom: 5px; border-bottom: 1px solid #9e9e9e; }

.products_edit_container .product_option .selected_colors .color_box { float: left; display: block; margin-right: 5px; width: 45px; height: 21px; border-radius: 10px; background: #4e4e4e url("/images/btn_close.svg") no-repeat right top; }

.products_edit_container .product_option .selected_colors .color_box:last-child { margin-right: 0; }

.products_edit_container .product_option .selected_colors .color_box .color { vertical-align: top; background: #fff; }

.products_edit_container .product_option .option_value_require { float: left; margin-top: 39px; margin-left: 50px; }

.products_edit_container .product_option .option_value_require .btn_option_del { margin-left: 15px; display: inline-block; width: 21px; height: 21px; background: url("../images/btn_close.svg") no-repeat left top; background-size: 21px 21px; cursor: pointer; }

.products_edit_container .product_option .cont_body_btm { padding: 49px 25px 63px; background: #f8f8f8; }

.products_edit_container .product_option .cont_body_btm .option_item_txt .box_btndel { display: none; }

.products_edit_container .product_option .tit_require { position: relative; }

.products_edit_container .product_option .tit_selective { margin-top: 70px; }

.products_edit_container .product_option .box_chk_combination { display: inline-block; position: relative; padding-left: 28px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; display: block; margin-right: 38px; position: relative; position: absolute; right: 0; top: 0; font-size: 1.8rem; color: #242424; }

.products_edit_container .product_option .box_chk_combination input { position: absolute; height: 0; width: 0; opacity: 0; cursor: pointer; }

.products_edit_container .product_option .box_chk_combination .checkmark { position: absolute; top: 0; left: 0; height: 21px; width: 21px; border: 0; }

.products_edit_container .product_option .box_chk_combination input ~ .checkmark { background: url("../images/check_custom1_off.svg") no-repeat top center/23px; }

.products_edit_container .product_option .box_chk_combination input:checked ~ .checkmark { background: url("../images/check_custom1_on.svg") no-repeat center/18px; }

.products_edit_container .product_option .option_cont, .products_edit_container .product_option .option_head { overflow: hidden; margin-top: 5px; margin-bottom: 28px; }

.products_edit_container .product_option .option_cont:last-of-type { margin-bottom: 0; }

.products_edit_container .product_option .wrap_option_table { font-size: 1.8rem; color: #4b4b4b; text-align: left; }

.products_edit_container .product_option .wrap_option_table .color { vertical-align: top; }

.products_edit_container .product_option .wrap_option_table .optprice_td { width: 220px; }

.products_edit_container .product_option .wrap_option_table .inven_td { width: 230px; }

.products_edit_container .product_option .wrap_option_table .status_td { width: 170px; }

.products_edit_container .product_option .wrap_option_table .edit_td { width: 115px; }

.products_edit_container .product_option .wrap_option_table .option_value { width: 32%; }

.products_edit_container .product_option .wrap_option_table .option_value .kr_dollar { padding-left: 5px; line-height: 32px; font-size: 1.8rem; }

.products_edit_container .product_option .wrap_option_table .opt_inv, .products_edit_container .product_option .wrap_option_table .opt_val { padding: 0 5px; font-size: 1.8rem; width: 130px; border-bottom: 1px solid #9e9e9e; }

.products_edit_container .product_option .wrap_option_table .option_inven { width: 35%; }

.products_edit_container .product_option .wrap_option_table .select_status { width: 130px; color: #4b4b4b; }

.products_edit_container .product_option .btn_all_edit { display: inline-block; border-radius: 4px; background: #d7d7d7; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; display: block; float: right; width: 110px; height: 32px; line-height: 32px; }

.products_edit_container .product_option .btn_all_edit.on { background: #4b4b4b; }

.products_edit_container .product_option .btn_all_edit.complete { background: #29abe2; }

.products_edit_container .product_option .btn_del { float: right; display: block; width: 21px; height: 21px; background: url("../images/btn_close.svg") no-repeat left top; background-size: 21px 21px; cursor: pointer; }

.products_edit_container .product_option .option_cont .option_value { font-size: 0; }

.products_edit_container .product_option .wrap_option_thrd { padding-top: 64px; }

.products_edit_container .product_option #optionRequireTable select, .products_edit_container .product_option #optionSelectiveTable select { opacity: 1; background: #f8f8f8; }

.products_edit_container .color { display: inline-block; width: 21px; height: 21px; border: 1px solid #4b4b4b; border-radius: 50%; }

.products_edit_container .option_basic { display: inline-block; margin-left: 20px; font-size: 0; vertical-align: top; }

.products_edit_container .option_basic .color { margin-right: 9px; }

.products_edit_container .option_basic .color:last-child { margin-right: 0; }

.products_edit_container .notice_chg_rfd { padding-bottom: 50px; }

.products_edit_container .notice_chg_rfd .box_cont { padding: 0 29px; }

.products_edit_container .notice_chg_rfd .check_custom { font-size: 1.8rem; line-height: 21px; background: #fff; }

.products_edit_container .notice_chg_rfd .btn_basicnote { display: inline-block; border-radius: 4px; background: #29abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; width: 120px; height: 32px; line-height: 32px; margin-right: 20px; margin-left: 70px; }

.products_edit_container .notice_chg_rfd .btn_basicnote:hover { text-decoration: underline; }

.products_edit_container .notice_chg_rfd .btn_othernote { display: inline-block; border-radius: 4px; background: #4b4b4b; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; width: 120px; height: 32px; line-height: 32px; }

.products_edit_container .notice_chg_rfd .btn_othernote:hover { text-decoration: underline; }

.products_edit_container .notice_chg_rfd .head_helpnote { margin-top: 14px; margin-bottom: 36px; color: #757575; font-weight: 350; font-size: 1.4rem; }

.products_edit_container .notice_chg_rfd .basic_step_tbl { margin-top: 28px; text-align: left; }

.products_edit_container .notice_chg_rfd .basic_step_tbl .step_th { width: 157px; padding-right: 19px; border-right: 1px solid #d7d7d7; }

.products_edit_container .notice_chg_rfd .basic_step_tbl .step_th .txt { display: block; position: relative; padding-left: 16px; font-size: 1.4rem; line-height: 15px; font-weight: 350; color: #4d4d4d; }

.products_edit_container .notice_chg_rfd .basic_step_tbl .step_th .txt:before { content: ''; display: block; width: 5px; height: 5px; position: absolute; left: 0; top: 4px; border-radius: 50%; background: #f00; }

.products_edit_container .notice_chg_rfd .basic_step_tbl .step_detail { padding-left: 26px; font-size: 1.4rem; font-weight: 350; line-height: 1; color: #4d4d4d; }

.products_edit_container .notice_chg_rfd .basic_step_tbl .note_sub { margin-top: 4px; margin-bottom: 24px; font-weight: 350; color: #757575; }

.products_edit_container .notice_chg_rfd .note_main.sty2 { margin-bottom: 14px; }

.products_edit_container .notice_chg_rfd .note_main .space { display: inline-block; width: 1em; height: 1em; }

.products_edit_container .notice_chg_rfd .step_tit { margin-top: 25px; margin-bottom: 15px; font-weight: 400; }

.products_edit_container .notice_chg_rfd .note_main_circle li .li_tit { position: relative; display: block; padding-left: 8px; margin-bottom: 5px; }

.products_edit_container .notice_chg_rfd .note_main_circle li .li_tit:before { content: ''; display: block; width: 3px; height: 3px; position: absolute; left: 0; top: 6px; border-radius: 50%; background: #4d4d4d; }

.products_edit_container .notice_chg_rfd .note_main_circle li .note_sub_hypen { padding-left: 8px; margin-bottom: 10px; }

.products_edit_container .notice_chg_rfd .note_main_circle li .note_sub_hypen:last-of-type { margin-bottom: 14px; }

.products_edit_container .saler_info .box_cont { overflow: hidden; padding: 0 25px 40px 30px; }

.products_edit_container .saler_info .cont_main_tbl { width: 50%; float: left; }

.products_edit_container .saler_info .cont_sub_tbl { width: 50%; float: left; }

.products_edit_container .saler_info .main_th { padding-bottom: 25px; font-weight: 500; font-size: 1.8rem; color: #4b4b4b; text-align: left; }

.products_edit_container .saler_info .cont_main_tbl .main_th { width: 95px; }

.products_edit_container .saler_info .cont_sub_tbl .main_th { width: 163px; }

.products_edit_container .saler_info .main_td { padding-bottom: 25px; }

.products_edit_container .saler_info .main_td input { padding: 0 5px 6px; font-weight: 400; font-size: 1.8rem; border-bottom: 1px solid #9e9e9e; }

.products_edit_container .saler_info .cont_main_tbl .main_td input { width: 370px; }

.products_edit_container .saler_info .cont_sub_tbl .main_td input { width: 470px; }

.products_edit_container .btn_save { display: inline-block; border-radius: 4px; background: #ff4e60; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 2rem; line-height: 1; cursor: pointer; display: block; width: 310px; height: 52px; line-height: 52px; margin: 34px auto 28px; }

.products_edit_container .btn_save:hover { text-decoration: underline; cursor: pointer; }

.select_custom_mall1, .products_container .prod_list_tbl .select_special, .products_container .prod_list_tbl .select_status, .products_edit_container .product_category .select_cate_dp, .products_edit_container .product_category .select_special_dp, .products_edit_container .product_typeinfo .select_prod_group, .products_edit_container .select_control_ivtr, .products_edit_container .product_option .wrap_option_table .select_status { height: 31px; line-height: 31px; position: relative; padding: 0 1px; border-bottom: 1px solid #9e9e9e; font-weight: 350; }

.select_custom_mall1:after, .products_container .prod_list_tbl .select_special:after, .products_container .prod_list_tbl .select_status:after, .products_edit_container .product_category .select_cate_dp:after, .products_edit_container .product_category .select_special_dp:after, .products_edit_container .product_typeinfo .select_prod_group:after, .products_edit_container .select_control_ivtr:after, .products_edit_container .product_option .wrap_option_table .select_status:after { content: ''; display: block; width: 0; height: 0; position: absolute; right: 0; bottom: 11px; border-bottom: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 8px solid #4b4b4b; }

.select_custom_mall1.on:after, .products_container .prod_list_tbl .on.select_special:after, .products_container .prod_list_tbl .on.select_status:after, .products_edit_container .product_category .on.select_cate_dp:after, .products_edit_container .product_category .on.select_special_dp:after, .products_edit_container .product_typeinfo .on.select_prod_group:after, .products_edit_container .on.select_control_ivtr:after, .products_edit_container .product_option .wrap_option_table .on.select_status:after { border-bottom: 8px solid #4b4b4b; border-top: 0; }

.select_custom_mall1 label, .products_container .prod_list_tbl .select_special label, .products_container .prod_list_tbl .select_status label, .products_edit_container .product_category .select_cate_dp label, .products_edit_container .product_category .select_special_dp label, .products_edit_container .product_typeinfo .select_prod_group label, .products_edit_container .select_control_ivtr label, .products_edit_container .product_option .wrap_option_table .select_status label { display: block; width: 100%; font-size: 1.8rem; color: #757575; }

.select_custom_mall1 select, .products_container .prod_list_tbl .select_special select, .products_container .prod_list_tbl .select_status select, .products_edit_container .product_category .select_cate_dp select, .products_edit_container .product_category .select_special_dp select, .products_edit_container .product_typeinfo .select_prod_group select, .products_edit_container .select_control_ivtr select, .products_edit_container .product_option .wrap_option_table .select_status select { position: absolute; left: 0; top: 0; width: 100%; height: 30px; line-height: 30px; padding: 0 1px; opacity: 0; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 1.6rem; cursor: pointer; }

.mall_edit_head { overflow: hidden; padding-bottom: 10px; }

.mall_edit_head .btns { display: inline-block; border-radius: 4px; background: #4b4b4b; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; display: block; float: left; width: 110px; height: 32px; line-height: 32px; }

.mall_edit_head .btns:hover { text-decoration: underline; }

.prod_options { overflow: hidden; font-size: 1.4rem; }

.prod_options .opt_name, .prod_options .opt_val { float: left; display: block; }

.prod_options .opt_name.sty2, .prod_options .opt_val.sty2 { margin-top: 6px; margin-bottom: 6px; }

.prod_options .opt_name { clear: left; }

.orders_container { padding-bottom: 60px; }

.orders_container .wrap_status li { margin-right: 26px; }

.orders_container .status_txt { margin-right: 6px; }

.orders_container .name_search { width: 458px; }

.orders_container .btn_ready { margin: 0 20px; }

.orders_container .orderdprod_td .prod_options .opt_name, .orders_container .orderdprod_td .prod_options .opt_val { clear: none; font-size: 1.4rem; }

.orders_container .orderdprod_td .prod_options .opt_name.sty2 { margin-left: 15px; margin-top: 0; }

.orders_container .orderdprod_td .prod_options .opt_val.sty2 { margin-right: 15px; margin-top: 0; }

.orders_container .mall_manage_list_tbl .orderdprod_td .prd_info { width: auto; }

.select_steporder { float: left; height: 32px; line-height: 32px; position: relative; padding: 0 29px 0 7px; margin-right: 20px; border-radius: 4px; font-size: 1.6rem; font-weight: 500; background: #4b4b4b; }

.select_steporder:after { content: ''; display: block; width: 0; height: 0; position: absolute; right: 12px; bottom: 12px; border-bottom: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 8px solid #fff; }

.select_steporder.on:after { border-bottom: 8px solid #fff; border-top: 0; }

.select_steporder:hover { text-decoration: underline; }

.select_steporder label { display: block; width: 100%; font-size: 1.6rem; color: #fff; }

.select_steporder select { position: absolute; left: 0; top: 0; width: 100%; height: 32px; line-height: 32px; padding: 0 1px; opacity: 0; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 1.6rem; cursor: pointer; }

.cancel_container .wrap_status li { margin-right: 26px; }

.cancel_container .status_txt { margin-right: 5px; }

.cancel_container .btn_checking { margin: 0 20px; }

.cancel_container .reject_cancel { display: block; margin-bottom: 16px; }

.cancel_container .cancelinfo_td { padding: 21px 3px; font-size: 1.4rem; }

.cancel_container .cancelinfo_td .reason_tit { display: block; margin: 17px 0 16px; }

.cancel_container .cancelinfo_td .btn_view_letter { display: inline-block; border-radius: 4px; background: #757575; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.4rem; line-height: 1; cursor: pointer; margin-top: 16px; width: 110px; height: 32px; line-height: 32px; }

.cancel_container .cancelinfo_td .btn_view_letter:hover { text-decoration: underline; }

.refund_container { padding-bottom: 49px; }

.refund_container .wrap_status li { margin-right: 27px; }

.refund_container .status_txt { margin-right: 5px; }

.refund_container .btn_taked { margin: 0 20px; }

.refund_container .select_steporder { margin-left: 20px; }

.refund_container .refundinfo_td { padding: 21px 3px; font-size: 1.4rem; }

.refund_container .refundinfo_td .refund_reason { padding-top: 8px; }

.refund_container .refundinfo_td .refund_reason .reason_txt { padding-top: 2px; }

.refund_container .refundinfo_td .take_back { padding-top: 29px; }

.refund_container .refundinfo_td .take_back .how_take { padding-bottom: 6px; }

.refund_container .refundinfo_td .origin_courier { padding-top: 26px; }

.refund_container .refundinfo_td .origin_courier .txt { padding-left: 2px; vertical-align: top; }

.refund_container .refundinfo_td .origin_courier .tit { vertical-align: top; }

.refund_container .refundinfo_td .origin_courier .courier_company { padding-top: 6px; }

.refund_container .mall_manage_list_tbl .receiverinfo_td .post_message { margin-bottom: 46px; }

.btn_view_note { display: inline-block; border-radius: 4px; background: #757575; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.4rem; line-height: 1; cursor: pointer; width: 110px; height: 32px; line-height: 32px; margin-top: 17px; }

.btn_view_note:hover { text-decoration: underline; }

.exchange_container { padding-bottom: 43px; }

.exchange_container .wrap_status li { margin-right: 26px; }

.exchange_container .status_txt { margin-right: 5px; }

.exchange_container .btn_taked { margin: 0 20px; }

.exchange_container .select_steporder { margin-left: 20px; }

.exchange_container .exchginfo_td { padding: 21px 3px; font-size: 1.4rem; }

.exchange_container .exchginfo_td .exchg_reason { padding-top: 8px; }

.exchange_container .exchginfo_td .exchg_reason .reason_txt { padding-top: 2px; }

.exchange_container .exchginfo_td .take_back { padding-top: 29px; }

.exchange_container .exchginfo_td .take_back .how_take { padding-bottom: 6px; }

.exchange_container .exchginfo_td .origin_courier, .exchange_container .exchginfo_td .resend_courier { padding-top: 26px; }

.exchange_container .exchginfo_td .origin_courier .txt, .exchange_container .exchginfo_td .resend_courier .txt { padding-left: 2px; vertical-align: top; }

.exchange_container .exchginfo_td .origin_courier .tit, .exchange_container .exchginfo_td .resend_courier .tit { vertical-align: top; }

.exchange_container .exchginfo_td .origin_courier .courier_company, .exchange_container .exchginfo_td .resend_courier .courier_company { padding-top: 6px; }

.exchange_container .mall_manage_list_tbl .receiverinfo_td .post_message { margin-bottom: 6px; }

.exchange_container .mall_manage_list_tbl .receiverinfo_td .redelivery_info { padding-top: 27px; }

.exchange_container .mall_manage_list_tbl .receiverinfo_td .receiver_name .tit { vertical-align: top; }

.exchange_container .exchangefee_td { padding: 21px 7px; font-size: 1.4rem; }

.exchange_container .exchangefee_td .txt { margin-top: 6px; }

.exchange_container .exchangefee_td .extra_fee { margin-top: 179px; }

.payinfo_td, .refundpayinfo_td { padding: 22px 7px; color: #4b4b4b; font-size: 1.4rem; text-align: right; }

.payinfo_td .all_ttl_price .txt, .refundpayinfo_td .all_ttl_price .txt { vertical-align: top; }

.payinfo_td .one_ttl_price, .refundpayinfo_td .one_ttl_price { margin-top: 15px; margin-bottom: 25px; }

.payinfo_td .one_ttl_price .txt, .refundpayinfo_td .one_ttl_price .txt { vertical-align: top; }

.payinfo_td .pay_info .howto_pay, .refundpayinfo_td .pay_info .howto_pay { text-align: left; }

.payinfo_td .pay_info .credit, .refundpayinfo_td .pay_info .credit { margin-top: 16px; margin-bottom: 8px; }

.payinfo_td .pay_info .credit .txt, .refundpayinfo_td .pay_info .credit .txt { vertical-align: top; }

.payinfo_td .pay_info .card_payauth, .refundpayinfo_td .pay_info .card_payauth { font-size: 1.2rem; }

.payinfo_td .pay_info .card_nbr, .refundpayinfo_td .pay_info .card_nbr { margin: 6px 0 19px; font-size: 1.2rem; }

.payinfo_td .pay_info .kokkong, .refundpayinfo_td .pay_info .kokkong { font-size: 1.2rem; }

.payinfo_td .pay_info .kokkong .txt, .refundpayinfo_td .pay_info .kokkong .txt { vertical-align: top; }

.mall_manage_list_tbl th { height: 60px; line-height: 60px; background: #4b4b4b; font-weight: 500; font-size: 1.6rem; color: #fff; text-align: center; }

.mall_manage_list_tbl td { vertical-align: top; border: 1px solid #d7d7d7; }

.mall_manage_list_tbl .select_td, .mall_manage_list_tbl .select_th { padding-left: 7px; }

.mall_manage_list_tbl .select_td { padding-top: 19px; border-right: 0; }

.mall_manage_list_tbl .check_custom { display: inline-block; position: relative; padding-left: 21px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; height: 21px; }

.mall_manage_list_tbl .check_custom input { position: absolute; height: 0; width: 0; opacity: 0; cursor: pointer; }

.mall_manage_list_tbl .check_custom .checkmark { position: absolute; top: 0; left: 0; height: 21px; width: 21px; border: 0; }

.mall_manage_list_tbl .check_custom input ~ .checkmark { background: url("../images/check_custom1_off.svg") no-repeat top center/23px; }

.mall_manage_list_tbl .check_custom input:checked ~ .checkmark { background: url("../images/check_custom1_on.svg") no-repeat center/18px; }

.mall_manage_list_tbl .ordernbr_td { padding: 19px 12px 0 0; border-left: 0; }

.mall_manage_list_tbl .ordernbr_td .order_num { margin-left: 6px; font-size: 1.2rem; color: #383838; }

.mall_manage_list_tbl .ordernbr_td .pay_date { margin-left: 6px; padding: 11px 0 18px; font-size: 1.2rem; color: #757575; }

.mall_manage_list_tbl .ordernbr_td .pay_date .space { display: inline-block; width: 8px; height: 1px; }

.mall_manage_list_tbl .ordernbr_td .payer_nick_name { margin-left: 6px; font-size: 1.4rem; color: #383838; }

.mall_manage_list_tbl .ordernbr_td .btn_printbill { display: inline-block; border-radius: 4px; background: #4b4b4b; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; width: 110px; height: 32px; line-height: 32px; margin-top: 10px; }

.mall_manage_list_tbl .ordernbr_td .btn_printbill:hover { text-decoration: underline; }

.mall_manage_list_tbl .orderdprod_td { padding: 14px 3px; }

.mall_manage_list_tbl .orderdprod_td .orderd_prod { overflow: hidden; }

.mall_manage_list_tbl .orderdprod_td .check_custom, .mall_manage_list_tbl .orderdprod_td .prd_info, .mall_manage_list_tbl .orderdprod_td .thum { float: left; }

.mall_manage_list_tbl .orderdprod_td .check_custom { margin-top: 5px; }

.mall_manage_list_tbl .orderdprod_td .thum { width: 70px; height: 70px; margin: 0 4px 0 5px; }

.mall_manage_list_tbl .orderdprod_td .prd_info { width: 159px; padding-top: 6px; line-height: 1.43; color: #383838; }

.mall_manage_list_tbl .orderdprod_td .prod_nbr { font-size: 1.2rem; line-height: 1; }

.mall_manage_list_tbl .orderdprod_td .prod_tit { margin-top: 13px; margin-bottom: 14px; font-size: 1.4rem; }

.mall_manage_list_tbl .ordercnt_td, .mall_manage_list_tbl .orderstat_td, .mall_manage_list_tbl .prodprice_td { padding: 21px 7px; text-align: center; }

.mall_manage_list_tbl .order_status, .mall_manage_list_tbl .orderd_cnt, .mall_manage_list_tbl .prod_price { font-size: 1.4rem; color: #4b4b4b; }

.mall_manage_list_tbl .prod_price .price { vertical-align: top; }

.mall_manage_list_tbl .deliveryinfo_td { padding: 22px 5px; font-size: 1.4rem; color: #4b4b4b; text-align: center; }

.mall_manage_list_tbl .deliveryinfo_td .how_delivery_detail { display: block; margin-top: 16px; }

.mall_manage_list_tbl .deliveryinfo_td .delivery_fee { display: block; margin: 17px auto; }

.mall_manage_list_tbl .trackinfo_td { padding: 15px 3px; }

.mall_manage_list_tbl .trackinfo_td .select_shipcompany { display: inline-block; width: 150px; height: 27px; margin-bottom: 3px; position: relative; line-height: 27px; border: 1px solid #d7d7d7; }

.mall_manage_list_tbl .trackinfo_td .select_shipcompany:after { content: ''; display: block; width: 0; height: 0; position: absolute; right: 10px; bottom: 9px; border-bottom: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 8px solid #4b4b4b; }

.mall_manage_list_tbl .trackinfo_td .select_shipcompany.on:after { border-bottom: 8px solid #4b4b4b; border-top: 0; }

.mall_manage_list_tbl .trackinfo_td .select_shipcompany label { display: block; font-size: 1.4rem; color: #4b4b4b; top: 7px; left: 3px; text-align: left; }

.mall_manage_list_tbl .trackinfo_td .select_shipcompany select { position: absolute; left: 0; top: 0; width: 100%; height: 27px; line-height: 27px; padding: 0 1px; opacity: 0; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 1.4rem; }

.mall_manage_list_tbl .trackinfo_td .serealnbr { display: block; width: 150px; height: 27px; line-height: 27px; border: 1px solid #d7d7d7; font-size: 1.4rem; }

.mall_manage_list_tbl .trackinfo_td .btn_trackinfo { display: inline-block; border-radius: 4px; background: #757575; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; margin-top: 20px; width: 110px; height: 32px; line-height: 32px; }

.mall_manage_list_tbl .trackinfo_td .btn_trackinfo:hover { text-decoration: underline; }

.mall_manage_list_tbl .receiverinfo_td { padding: 21px 7px; font-size: 1.4rem; color: #4b4b4b; text-align: left; }

.mall_manage_list_tbl .receiverinfo_td .receiver_nbr { margin: 18px 0 17px; overflow: hidden; font-size: 1.2rem; }

.mall_manage_list_tbl .receiverinfo_td .receiver_nbr .phone { padding-right: 3px; }

.mall_manage_list_tbl .receiverinfo_td .receiver_nbr .tel { padding-left: 3px; }

.mall_manage_list_tbl .receiverinfo_td .receiver_address { width: 175px; }

.mall_manage_list_tbl .receiverinfo_td .receiver_address .street_name { display: block; margin-bottom: 5px; word-break: break-all; line-height: normal; }

.mall_manage_list_tbl .receiverinfo_td .receiver_address .past_adrs { font-size: 1.2rem; }

.mall_manage_list_tbl .receiverinfo_td .receiver_address .past_adrs .land_address { vertical-align: top; }

.mall_manage_list_tbl .receiverinfo_td .post_message { margin: 20px 0 16px; word-break: break-all; }

.mall_manage_list_tbl .receiverinfo_td .btn_address_modify { display: inline-block; border-radius: 4px; background: #757575; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; width: 110px; height: 32px; line-height: 32px; }

.mall_manage_list_tbl .receiverinfo_td .btn_address_modify:hover { text-decoration: underline; }

.btn_helpnote { display: inline-block; border-radius: 4px; background: #757575; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; float: left; width: 110px; height: 32px; line-height: 32px; margin-left: 50px; }

/*---------------------- 통계 --------------------*/
progress { background-color: #d7d7d7; border: 0; height: 5px; border-radius: 0; }

progress::-webkit-progress-bar { background-color: #d7d7d7; border: 0; height: 5px; border-radius: 0; }

progress::-webkit-progress-value { background: red; }

progress::-moz-progress-bar { background-color: #d7d7d7; border: 0; height: 5px; border-radius: 0; }

.statistic_container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; padding-bottom: 38px; }

.statistic_container .visiter_people_box { width: 690px; margin-right: 40px; }

.statistic_container .visiter_people_box .new_member { border: 1px solid #d7d7d7; -webkit-box-sizing: border-box; box-sizing: border-box; background: #fff; }

.statistic_container .visiter_people_box .new_member .newmember_prgrs { margin: 0 71px 27px 66px; }

.statistic_container .visiter_people_box .new_member .newmember_prgrs .prog_label { display: block; position: relative; font-family: notoSans-D; font-size: 1.6rem; color: #4b4b4b; }

.statistic_container .visiter_people_box .new_member .newmember_prgrs .prog_label .cnt_txt { position: absolute; right: 6px; top: 0; font-family: "본고딕"; font-size: 1.4rem; }

.statistic_container .visiter_people_box .new_member .newmember_prgrs .newmember_progress { width: 100%; margin-top: 6px; margin-bottom: 20px; }

.statistic_container .visiters_gragh { width: 690px; height: 420px; border: 1px solid #d7d7d7; -webkit-box-sizing: border-box; box-sizing: border-box; background: #fff; }

.statistic_container .visit_page { width: 690px; background: #fff; border: 0; }

.statistic_container .visit_page .admin_subtit { border: 1px solid #d7d7d7; border-bottom: 0; }

.statistic_container .visit_page th:first-child { padding-left: 46px; padding-right: 38px; text-align: left; }

.statistic_container .visitpage_tbl th { padding: 9px 0 8px; border-bottom: 2px solid #fff; text-align: center; font-size: 1.6rem; color: #fff; background: #4b4b4b; }

.statistic_container .visitpage_tbl td { padding: 10px 38px 9px; border-bottom: 2px solid #fff; background: #efefef; font-size: 1.4rem; color: #4b4b4b; text-align: center; letter-spacing: 1.4px; }

.statistic_container .visitpage_tbl .menuname_td { text-align: left; }

.statistic_container .statistic_form { width: 100%; }

.statistic_container .visit_analyze_data { padding-bottom: 42px; }

.statistic_container .visit_analyze_data .analyze_month_year .admin_subtit { padding: 0; margin: 44px 0 9px; letter-spacing: 0; }

.statistic_container .visit_analyze_data .analyze_month_year .analyze_m_y_tbl { font-size: 1.6rem; text-align: center; }

.statistic_container .visit_analyze_data .analyze_month_year .analyze_m_y_tbl th { padding: 7px; border-bottom: 1px solid #d7d7d7; }

.statistic_container .visit_analyze_data .analyze_month_year .analyze_m_y_tbl td { padding: 18px 9px 9px; border-bottom: 1px solid #d7d7d7; }

.statistic_container .visit_analyze_data .analyze_month_year .analyze_m_y_tbl td .btn_weekanalyze:hover { text-decoration: underline; cursor: pointer; }

.statistic_container .visit_analyze_data .analyze_month_year .analyze_m_y_tbl .year_td { padding: 19px 9px 6px 0; text-align: left; }

.statistic_container .visit_analyze_data .week_analyze .admin_subtit { padding: 0; margin: 51px 0 17px; letter-spacing: 0; }

.statistic_container .visit_analyze_data .week_analyze .week_analyze_tbl { table-layout: fixed; }

.statistic_container .visit_analyze_data .week_analyze .week_analyze_tbl th { font-family: notoSans-M; font-size: 1.8rem; padding: 21px; text-align: center; color: #fff; border-bottom: 2px solid #fff; background: #4b4b4b; }

.statistic_container .visit_analyze_data .week_analyze .week_analyze_tbl td { position: relative; height: 100px; border-bottom: 2px solid #fff; border-right: 2px solid #fff; -webkit-box-sizing: border-box; box-sizing: border-box; vertical-align: 0; }

.statistic_container .visit_analyze_data .week_analyze .week_analyze_tbl td .day_head { padding: 12px 0 0 12px; font-size: 1.6rem; }

.statistic_container .visit_analyze_data .week_analyze .week_analyze_tbl td .day_head.other_month { color: #757575; }

.statistic_container .visit_analyze_data .week_analyze .week_analyze_tbl td .compare_percent, .statistic_container .visit_analyze_data .week_analyze .week_analyze_tbl td .day_analyze, .statistic_container .visit_analyze_data .week_analyze .week_analyze_tbl td .week_analyze, .statistic_container .visit_analyze_data .week_analyze .week_analyze_tbl td .week_avge { position: absolute; right: 16px; bottom: 16px; font-size: 2rem; font-family: "본고딕"; color: #000; text-align: right; }

.statistic_container .visit_analyze_data .week_analyze .week_analyze_tbl td .compare_percent { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.statistic_container .visit_analyze_data .week_analyze .week_analyze_tbl td .compare_percent .arrow_low { margin-right: 13px; width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 13px solid #4b4b4b; }

.statistic_container .visit_analyze_data .week_analyze .week_analyze_tbl td .compare_percent .arrow_high { margin-right: 13px; width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 13px solid #c70000; }

.statistic_container .visit_analyze_data .week_analyze .week_analyze_tbl .odd_tr td { background: #efefef; }

.statistic_container .visit_analyze_data .week_analyze .week_analyze_tbl .even_tr td { background: #e6e6e6; }

.statistic_container .visit_analyze_data .week_analyze .week_analyze_tbl .even_tr .week_compare_td, .statistic_container .visit_analyze_data .week_analyze .week_analyze_tbl .odd_tr .week_compare_td { background: #f7caca; border-right: 0; }

.statistic_container .visit_analyze_data .week_analyze .week_analyze_tbl .even_tr .avge_td, .statistic_container .visit_analyze_data .week_analyze .week_analyze_tbl .odd_tr .avge_td { background: #d8caf7; }

.statistic_container .visit_analyze_data .week_analyze .week_analyze_tbl .even_tr .total_td, .statistic_container .visit_analyze_data .week_analyze .week_analyze_tbl .odd_tr .total_td { background: #cae9f7; }

.statistic_container .visit_analyze_data .week_analyze .week_analyze_tbl tfoot td[class$=analyze] { background: #cae9f7; }

.statistic_container .visit_analyze_data .week_analyze .week_analyze_tbl tfoot td[class$=analyze] .day_head { color: #000; }

.statistic_container .visit_analyze_data .week_analyze .week_analyze_tbl tfoot .avge_analyze { background: #d8caf7; }

.statistic_container .visit_analyze_data .week_analyze .week_analyze_tbl tfoot .last_td_null { background: #f7caca; }

.statistic_container .visit_page_list { width: 100%; margin-bottom: 38px; }

.statistic_container .visit_page_list td, .statistic_container .visit_page_list th { font-size: 1.9rem; }

.statistic_container .visit_page_list th { padding: 27px 52px 17px 61px; border-bottom: 5px solid #fff; text-align: left; }

.statistic_container .visit_page_list td { padding: 21px 52px 25px; border-bottom: 4px solid #fff; text-align: center; }

.statistic_container .select_contain, .statistic_container .select_range { display: inline-block; position: relative; width: 155px; height: 52px; margin-bottom: 19px; line-height: 52px; border-bottom: 1px solid #d7d7d7; background: url("../images/select_custom1.svg") right 22px bottom 22px/12px no-repeat; }

.statistic_container .select_contain label, .statistic_container .select_range label { display: block; font-size: 2rem; font-family: notoSans-M; color: #4d4d4d; top: 17px; left: 1px; text-align: left; }

.statistic_container .select_contain select, .statistic_container .select_range select { position: absolute; left: 0; top: 0; width: 100%; height: 52px; line-height: 52px; padding: 0 1px; opacity: 0; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 1.6rem; }

.statistic_container .visit_analyze_list { width: 100%; }

.statistic_container .visit_analyze_list .select_year { margin: 0 100px 19px; }

.statistic_container .visit_analyze_list .analyze_period_tbl { margin-bottom: 38px; }

.statistic_container .visit_analyze_list .analyze_period_tbl th { padding: 21px 0; border-bottom: 2px solid #fff; text-align: center; font-size: 1.8rem; color: #fff; font-family: notoSans-M; background: #4b4b4b; }

.statistic_container .visit_analyze_list .analyze_period_tbl td { padding: 21px 27px; border-bottom: 5px solid #fff; background: #efefef; font-size: 1.8rem; color: #4b4b4b; text-align: center; }

/*---------------------- 지도 API --------------------*/
.mapapi_container { display: -webkit-box; display: -ms-flexbox; display: flex; padding-bottom: 43px; }

.mapapi_container .admin_subtit .kr_txt { font-weight: 400; letter-spacing: 0; vertical-align: 0; }

.mapapi_container .api_note_area { padding-top: 22px; }

.mapapi_container .api_note_area .admin_subtit { padding: 0; }

.mapapi_container .api_note_area .api_memo { width: 606px; padding: 20px 0 20px 19px; font-size: 1.8rem; line-height: 1.33; }

.mapapi_container .api_key_area { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 41px 71px 0 29px; margin-left: auto; border: 1px solid #d7d7d7; background: #fff; }

.mapapi_container .api_key_area .admin_subtit { padding: 0; margin-right: 46px; font-weight: 500; }

.mapapi_container .api_key_area .api_key .inp_apikey { width: 491px; padding: 4px 0 11px; border-bottom: 1px solid #d7d7d7; font-family: notoSans-D; font-size: 1.5rem; }

.mapapi_container .api_key_area .api_key .ref_link { padding-top: 16px; padding-bottom: 40px; font-size: 1.5rem; color: #757575; }

.mapapi_container .api_key_area .api_key .ref_link .btn_apiinfo { font-family: notoSans-M; text-decoration: underline; color: #29abe2; cursor: pointer; }

/*---------------------- 환경 설정 --------------------*/
.configuration_container { display: -webkit-box; display: -ms-flexbox; display: flex; padding-top: 41px; }

.configuration_container .admin_subtit { padding: 0; letter-spacing: 0; line-height: normal; }

.configuration_container .site_info_area { width: 727px; }

.configuration_container .site_info_area .site_keyword_cont, .configuration_container .site_info_area .site_name_cont { display: -webkit-box; display: -ms-flexbox; display: flex; }

.configuration_container .site_info_area .site_keyword_cont .inp_site_keyword, .configuration_container .site_info_area .site_keyword_cont .inp_site_name, .configuration_container .site_info_area .site_name_cont .inp_site_keyword, .configuration_container .site_info_area .site_name_cont .inp_site_name { width: 491px; padding: 0 0 13px; border-bottom: 1px solid #d7d7d7; font-family: notoSans-D; font-size: 2rem; color: #4b4b4b; }

.configuration_container .site_info_area .site_keyword_cont { margin-top: 56px; }

.configuration_container .site_info_area .site_name { margin-left: 53px; }

.configuration_container .site_info_area .site_keyword { margin-left: 56px; }

.configuration_container .site_opt_area .admin_subtit { width: 140px; text-align: right; }

.configuration_container .site_opt_area .domain_cont, .configuration_container .site_opt_area .inp_domain_area, .configuration_container .site_opt_area .inp_site_area, .configuration_container .site_opt_area .pb_level_cont { display: -webkit-box; display: -ms-flexbox; display: flex; }

.configuration_container .site_opt_area .site_domain { margin-left: 55px; }

.configuration_container .site_opt_area .site_domain .inp_domain_area .inp_domain { padding: 0 0 12px; }

.configuration_container .site_opt_area .pb_level_cont { margin-top: 52px; }

.configuration_container .site_opt_area .pb_level_cont .site_level { margin-left: 56px; }

.configuration_container .site_opt_area .pb_level_cont .site_level .select_site_lv { display: inline-block; position: relative; width: 239px; height: 32px; line-height: 32px; border-bottom: 1px solid #d7d7d7; background: url("../images/select_custom1.svg") right 7px bottom 14px/12px no-repeat; }

.configuration_container .site_opt_area .pb_level_cont .site_level .select_site_lv label { display: block; font-size: 2rem; color: #4d4d4d; top: 2px; left: 3px; text-align: left; }

.configuration_container .site_opt_area .pb_level_cont .site_level .select_site_lv select { position: absolute; left: 0; top: 0; width: 100%; height: 32px; line-height: 32px; padding: 0 1px; opacity: 0; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 1.6rem; }

.configuration_container .site_opt_area .btn_chg_lv, .configuration_container .site_opt_area .btn_dupe_check { display: inline-block; border-radius: 4px; background: #29abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; width: 110px; height: 32px; line-height: 32px; }

.configuration_container .site_opt_area .btn_chg_lv { margin-left: 142px; }

.configuration_container .note { margin-top: 16px; font-size: 1.5rem; line-height: 1.33; color: #757575; }

.btn_wrap { text-align: right; }

.btn_wrap .btn_opt_save { display: inline-block; border-radius: 4px; background: #4b4b4b; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; margin-top: 32px; margin-bottom: 24px; padding: 8px 41px 8px 42px; }

.inp_domain_area { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.inp_domain_area .inp_domain { width: 210px; font-size: 2rem; border-bottom: 1px solid #d7d7d7; }

.inp_domain_area .pb_domain { padding-left: 1px; padding-right: 15px; font-size: 2rem; font-weight: 500; }

/* 환경 설정 팝업 */
.wrap_pop { position: relative; left: 50%; width: 370px; padding: 50px 28px 15px; border: 1px solid #ddd; border-radius: 4px; background: #f7f7f7; font-family: notoSans-M; text-align: center; }

.wrap_pop.domain_false { width: 550px; }

.wrap_pop.domain_false .inp_domain_area { margin-top: 22px; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

.wrap_pop.domain_false .inp_domain_area .inp_domain { padding: 0 0 4px; }

.wrap_pop .pop_tit { margin-bottom: 26px; font-size: 2rem; color: #e64c4c; }

.wrap_pop.max_site .pop_tit, .wrap_pop.max_site_gold .pop_tit { margin-bottom: 13px; }

.wrap_pop .pop_txt { font-size: 1.5rem; color: #242424; line-height: 1.33; padding-bottom: 11px; }

.wrap_pop .pop_txt:last-of-type { padding-bottom: 0; }

.wrap_pop .pop_input { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin: 24px 27px 0; }

.wrap_pop .btn_cnxl { display: inline-block; border-radius: 4px; background: #757575; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; }

.wrap_pop .btn_upgrade { display: inline-block; border-radius: 4px; background: #e07272; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; margin-left: auto; }

.wrap_pop .btn_dupe_check { display: inline-block; border-radius: 4px; background: #29abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; }

.wrap_pop .btn_confirm { display: inline-block; border-radius: 4px; background: #e07272; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; }

.wrap_pop [class^='btn_'] { width: 110px; height: 32px; line-height: 32px; }

.wrap_pop.guide_api { width: auto; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.wrap_pop.edit_all_menu { width: 680px; position: absolute !important; top: 247px !important; left: 650px !important; padding: 0 !important; }

.wrap_pop.edit_all_menu .wrap_pop_cont { display: -webkit-box; display: -ms-flexbox; display: flex; }

.wrap_pop.edit_all_menu .wrap_pop_cont label { width: 108px; margin-right: 29px; }

.wrap_pop.edit_one_menu { width: 510px; }

.wrap_pop.edit_one_menu .bottom_area { display: -webkit-box; display: -ms-flexbox; display: flex; }

.wrap_pop.edit_all_menu .cont_area .inp_box input, .wrap_pop.edit_one_menu .cont_area .inp_box input { width: 287px; padding: 3px 1px; border-bottom: 1px solid #ddd; -webkit-box-sizing: border-box; box-sizing: border-box; vertical-align: top; }

.wrap_pop.edit_all_menu .bottom_area .btn_del, .wrap_pop.edit_one_menu .bottom_area .btn_del { margin-left: 17px; padding-left: 27px; font-size: 1.4rem; line-height: 31px; background: url("../images/btn_del.svg") no-repeat left center; cursor: pointer; padding-bottom: 1px; }

.wrap_pop.edit_all_menu .bottom_area .notice, .wrap_pop.edit_one_menu .bottom_area .notice { margin-left: 24px; font-size: 13px; line-height: 31px; color: #757575; }

.wrap_pop.edit_all_menu .bottom_area .btn_save, .wrap_pop.edit_one_menu .bottom_area .btn_save { opacity: 0; }

.wrap_pop.edit_all_menu .bottom_area .btn_apply, .wrap_pop.edit_one_menu .bottom_area .btn_apply { margin: 0 15px 0 auto; display: inline-block; border-radius: 4px; background: #29abe2; letter-spacing: -0.9px; font-weight: 500; text-align: center; color: #fff; font-size: 1.6rem; line-height: 1; cursor: pointer; width: 110px; height: 32px; line-height: 32px; }

.wrap_pop.com_set { width: 390px; }

.wrap_pop.com_set .inp_box { display: -webkit-box; display: -ms-flexbox; display: flex; }

.wrap_pop.com_set .inp_box label { width: 95px; }

.wrap_pop.com_set .inp_box .inp_area, .wrap_pop.com_set .inp_box .select_area { width: 169px; border-bottom: 1px solid #ddd; }

.wrap_pop.com_set .inp_box .inp_area input { width: 169px; padding: 3px 1px; }

.wrap_pop.com_set .inp_box .inp_area .preview_color { display: block; float: right; width: 15px; height: 15px; background-color: #fff; border-radius: 50%; }

.wrap_pop.com_set .inp_box .inp_area .preview_color.sty1 { border: 1px solid #ddd; }

.wrap_pop.com_set .inp_box .select_contain { display: inline-block; position: relative; height: 20px; background: url("../images/select_custom1.svg") right 1px bottom 2px/12px no-repeat; }

.wrap_pop.com_set .inp_box .select_contain label { display: block; font-size: 1.4rem; font-family: "본고딕"; color: #242424; top: 3px; left: 1px; text-align: left; }

.wrap_pop.com_set .inp_box .select_contain select { position: absolute; left: 0; top: 0; width: 100%; height: 20px; line-height: 20px; padding: 0 1px; opacity: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

.wrap_pop.com_set .inp_box .box_style .radio_contain1 { width: 60px; height: 20px; display: inline-block; position: relative; padding-left: 28px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.wrap_pop.com_set .inp_box .box_style .radio_contain1 input { position: absolute; height: 0; width: 0; opacity: 0; cursor: pointer; }

.wrap_pop.com_set .inp_box .box_style .radio_contain1 .checkmark { position: absolute; top: 0; left: 0; height: 20px; width: 60px; border: 0; }

.wrap_pop.com_set .inp_box .box_style .radio_contain1.square { margin-right: 10px; border: 1px solid #29abe2; }

.wrap_pop.com_set .inp_box .box_style .radio_contain1.round { margin-right: 10px; border: 1px solid #29abe2; border-radius: 4px; }

.wrap_pop.com_set .inp_box .box_style .radio_contain1.half_circle { border: 1px solid #29abe2; border-radius: 10px; }

.wrap_pop.com_set .preview_btn_area { padding: 20px 0; margin-bottom: 28px; background-color: #ddd; font-size: 0; text-align: center; }

.wrap_pop.com_set .preview_btn_area .btn_click { display: inline-block; padding: 7px 24px 8px; font-size: 1.6rem; font-family: notoSans-M; color: #29abe2; line-height: 1; background: #fff; border: 1px solid #29abe2; }

.wrap_pop.com_set .bottom_area { text-align: right; }

.wrap_pop.com_set .bottom_area .btn_apply { margin-right: 15px; }

.wrap_pop.set_header { width: 1340px; }

.wrap_pop.set_header .cont_area { height: 402px; padding: 30px; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #ddd; }

.wrap_pop.set_header .cont_area .wrap_dsgn_list { overflow: auto; }

.wrap_pop.set_header .cont_area .wrap_dsgn_list .header_dsgn li { margin-bottom: 20px; }

.wrap_pop.set_header .cont_area .wrap_dsgn_list .header_dsgn li:last-child { margin-bottom: 0; }

.wrap_pop.set_header .cont_area .wrap_dsgn_list .header_dsgn li [class^='head'] { display: block; cursor: pointer; }

.wrap_pop.set_header .bottom_area { padding: 35px 15px 15px; text-align: right; }

.table_shop { width: 100%; margin-bottom: 72px; table-layout: fixed; border-top: 1px solid #b4b4b5; border-bottom: 1px solid #b4b4b5; font-size: 1em; }

.table_shop th { overflow: hidden; padding: 12px 16px; color: #4d4d4d; font-size: 1.4rem; font-weight: 400; border-bottom: 1px solid #b4b4b5; text-align: center; background-color: #e7e7e7; }

.table_shop td { padding: 12px 16px; color: #333; font-size: 1.4rem; border: none; border-bottom: 1px solid #b4b4b5; white-space: normal; word-break: break-all; }

.table_shop td p { font-size: 1.4rem; }

.table_shop td .more_info { color: #b4b4b5; }

.table_shop td.exchange { padding: 12px 30px; }

.table_shop td.exchange p { padding: 7px 0; }

.table_shop td.exchange .tit { margin-left: -14px; }

.table_shop.sty2 { margin-top: 10px; border-top: none; border-bottom: none; }

.table_shop.sty2 th, .table_shop.sty2 td { padding: 21px 16px 23px; font-size: 16px; }

.table_shop.sty2 td.nodata { padding: 68px 0; border-bottom: none; color: #b4b4b5; font-size: 2.4rem; text-align: center; }

.table_shop.mb0 { margin-bottom: 0 !important; }

.product-review .num { color: #ff4e60; font-size: 1.6rem; }

.product-review .num { color: #ff4e60; font-size: 1.6rem; }
/*# sourceMappingURL=user_admin.css.map */