@charset "utf-8";
@import "_common";

/*user_admin.scss로 병합해야 될 파일*/

body {background:rgba(0,0,0,0.5)}

.wrap_admin_mall_pop {//쇼핑몰 관리자 기본 팝업 디자인
  padding: 0 30px;
  border-radius: 10px;
  background: #f8f8f8;  

  .head_area {
    position: relative; 
    padding-top: 33px;
    padding-bottom: 15px;
    color: #4d4d4d; font-size: 2rem; font-weight: 500;
    text-align: left;
    border-bottom: 1px solid #d7d7d7;

    .btn_close {
      display: block; width: 21px; height: 21px;
      background: url('../images/btn_close.svg') no-repeat left top; background-size: 21px 21px; -webkit-background-size: 20px; position: absolute; top: 15px; right: -15px; background-size: 20px; cursor: pointer; }
  }

  .btns { width: 110px; height: 32px; line-height: 32px !important; }
  .box_btn {
    padding: 30px 0;
    text-align: right;
    
    .btn_cancle { @include btn(#4d4d4d, 1.4rem); }
    .btn_favorite { width:150px; @include btn(#e17373, 1.4rem); margin: 0 19px;}
    .btn_save { @include btn(#28abe2, 1.4rem); margin-right: 0;}
  }
}

.pop_product_info {//상품정보제공고시 팝업
  width:690px;
  
  .btn_favorite_info {
      margin-left: auto;
      @include btn(#4b4b4b, 1.4rem);
  }
  .wrap_title_area {
    display:flex;
    padding:30px 0;
    align-items:center;

    .title_goods {font-size:1.8rem; font-weight: 500;}    
  }
}

  .list_product_info {
    &.delivery {
      margin-top:11px;

      .cont {
        padding-top:13px;

        span, input {font-size:18px; color: #4b4b4b;vertical-align:initial;}

        .type, .mb17 {margin-bottom:17px;}

        .notice {
          font-size:14px;
          color: #757575; 

          &::before {
            content: " ";
            display: inline-block;
            width: 5px;
            height: 5px;
            margin-top:-3px;
            margin-left:11px;
            margin-right: 6px;
            border-radius: 5px;
            background: #ff0000;
            vertical-align: middle;
          }
        }
        .txt_price {letter-spacing:-1;}
        .type_shipitem {margin-top:20px;}
        .ml25 {margin-left:10px;}
        .ml25 {margin-left:25px;}
        .w75 {display:inline-block;width:75px;}
      }
      .cont .txt {display:inline-block;width:175px;margin-left:8px;}
      .inp_write_price {width:134px;padding-right:8px;text-align:right;border-bottom:1px solid #9e9e9e}
      .add_delivery {margin:22px 0 0 128px;padding:1px 0 0 31px;font-size:18px;cursor:pointer;background: url("../images/btn_add.svg") no-repeat left center;background-size:22px;}
    }
    li {
      margin-bottom:10px;padding:20px;
      border: solid 1px #d7d7d7;background:#fff;
    }

    .twice_col {
      overflow: hidden;
      dl {
        float: left;
        &:first-child {margin-right: 24px;}
        &:last-child {margin-left: 24px;}

        textarea {width:270px}
      }      
    }

    dt {
      padding-bottom: 14px;
      font-size:1.8rem; color: #4b4b4b; font-weight: 500;

      &.lh133 {
        padding-left: 8px;
        text-indent: -8px;
        line-height: 1.33;
      }

      &::before {content:" ";display:inline-block;width:3px;height:3px;margin-right:4px;border-radius:3px;background:#4d4d4d;vertical-align:middle;}
    }

    .input_product_info, .inp_admin_select {display:block;width:100%;font-size:18px;border-bottom:1px solid #9e9e9e}

    .inp_admin_select {appearance: menulist;}

    textarea {padding: 0 8px 9px; height: 37px; font-weight: 350;}

    p {margin-top:2px;font-size:14px;font-weight:350; letter-spacing:-0.1px; line-height:1.29; color: #828282;}
  }


.favorit_write {
  width:400px;

  .btn_save {margin-left: 20px;}
}

.inp_favorit_write {
  width:250px;margin:41px 0 0 45px; padding: 5px 7px;
  border:none;border-bottom:1px solid #9e9e9e;
  font-size: 16px;font-weight:350;
}

.list_favorit_item  {
    margin-top:39px;  

    li {
      position:relative;
      margin-bottom:19px;
      font-size: 18px;
      font-weight: 500;
      color: #4b4b4b;

      &::before {
        content:" ";display:inline-block;
        width:3px;height:3px;margin-right:4px;border-radius:50%;
        background:#4d4d4d;vertical-align:middle;
      }

      .btn_del {
        position:absolute;top:7px;right:0;width:10px;height:10px;
        cursor:pointer;background:url('../images/btn_delitem_favorite.png') no-repeat left top;
      }
  }
}


//주문관리 > 배송지 수정
.pop_receive_modify {
  width:690px;

  .box_btn {padding-top:0;}

  .btn_save {margin-left: 20px;}
}

//취소관리 팝업
.pop_cancel {
  width:1100px;

  .order_num {
    position: relative;
    margin: 31px 0 0 20px;
    padding-left: 8px;
    font-weight: 500;
    font-size:18px;

    &::before {
      content:''; display: block;
      width:3px; height:3px;
      position: absolute; left:0; top:7px;
      border-radius: 50%;
      background: #4d4d4d;
    }

    .nbr {
      display: inline-block; padding-left: 10px;
      font-weight: 350; 
      vertical-align: top;
    }
  }
  //user_admin 사본 단락 - 병합 전 임시
  .mall_manage_list_tbl {
    position: relative;
    margin-top: 17px;

    .kong_unit {
      position: absolute;
      right:0;
      top:-28px;
      text-align: right;
    
      .txt {
        position: relative;
        font-weight: 350;
        font-size: 14px;
        color:#757575;
        line-height: 14px;

        &:before {
          content:'';
          display: block; width: 5px; height:5px;
          position: absolute;
          left:-11px;
          top:8px;
          border-radius: 50%;
          background: red;
        }

      }
    }
    th {
      position: relative;
      height: 60px;
      line-height: 60px;
      background: #4b4b4b;
      font-weight: 500;
      font-size: $cont_txt;
      color:#fff;
      text-align: center;
    }
    td {vertical-align: top; border: 1px solid #d7d7d7; background: #fff;}

    .tip_area {
      @include custom_tt(-145px, $width:390px, $height:167px, $ml:-195px);
      color:#242424;
      text-align: left;


      .mark_tooltip {vertical-align: text-top;}
    }
  }

  .orderdprod_td {
    padding: 16px 25px 28px;

    .prd_info {
      color:#383838;

      .prod_nbr {font-size: 12px;}
      .prod_tit {
        padding: 19px 0 34px;
        font-size: 14px;
      }
      .prod_options {
        overflow: hidden;
        font-size: 14px;
      
        .opt_name, .opt_val {float: left;}
        .opt_name.sty2 {padding-left: 10px;}
        .opt_val.sty2 {padding-right: 10px;}
      }
    }
  }
  .orderstat_td {
    padding: 13px 18px;
    text-align: center;

    .order_status {font-size: 14px; color:#4b4b4b}
  }

  .cancelinfo_td {
    padding: 13px 18px;
    text-align: center;

    .reason_txt {font-size: 14px; color:#4b4b4b}
  }

  .prodprice_td {
    padding:13px 8px;
    text-align: right;
    font-size: 14px;
    color:#4b4b4b;

    .prod_price .price {vertical-align: top;}
  }

  .cancelfee_td {
    padding: 6px;
    text-align: right;

    .inp_cancel_fee {
      width:100px;
      height: 27px;
      line-height: 27px;
      padding: 0 6px;
      background: #fff;
      border: 1px solid #d7d7d7;
      font-size: 14px;
      text-align: right;
    }
    .krwon_txt {
      padding-left: 3px;
      font-size: 14px;
      color:#4b4b4b;
      line-height: 27px;
      vertical-align: top;
    }
  }

  .payinfo_td {
    padding: 13px 21px;
    text-align: right;
    color:#4b4b4b;

    .credit {
      font-size: 14px;
      .txt {vertical-align: top;}
    }
    .kong {
      font-size: 12px;
      .txt {vertical-align: top;}
    }

    .card_payauth {
      padding:8px 0 10px;
      font-size: 12px;
    }
    .card_nbr {
      padding-bottom: 19px;
      font-size: 12px;

      .card_company, .card_full_nbr {vertical-align: top;}

    }
  }


  .ttl_refund_money {
    width:580px;    
    margin-top: 27px;
    margin-left: auto;

    &:after { content:''; display: block; clear:both;}

    li {
      float: left;
      font-size: 14px;
      color:#4b4b4b;

      &:after { content:''; display: block; clear:both;}

      .tit {
        display: block;
        float: left;
        text-align: left;
      }
      .prod_price, .cancel_price {float: right;}

      &:nth-child(odd) {
        width:249px;
        
        .tit { padding-left: 10px; }
        .prod_price, .cancel_price {padding-right: 40px;}
      }
      &:nth-child(even) {
        width:330px;
        padding-right: 20px;
        padding-left: 60px;
      }

      .tip_area {
        @include custom_tt(-140px, 390px, 147px, -195px);        

        &.sty2 {
          @include custom_tt(-165px, 390px, 167px, -195px);

          p.sty1 {
            padding-left: 16px;
            text-indent: -16px;
          }
        }

        margin-right: 6px;
        float: left;
        text-align: left;
        vertical-align: top;
      }

      &:first-child, &:nth-child(2) {
        margin-bottom: 15px;
      }
      .price {vertical-align: top;}
    }
  }
  .message {
    width:100%;
    padding-top: 25px;

    textarea {
      width:100%;
      height:136px;
      padding: 19px 28px;
      border: 1px solid #d7d7d7;
      background: #fff;
      font-size: 14px;
    }
  }

  .box_btn {
    padding-top: 22px;
    .btn_cancle {margin-right: 19px;}
  }
}

