@charset "utf-8";
@import "_common";

html,
body {line-height: 1.5;}


.mask {
	&.leftmenu {
		.btn_close {
			display : block;
			position: absolute; left    : 560px; top     : 60px;
			@include bg(30px, 30px, '../images/btn_close2.svg');
			cursor: pointer;

			@include mediaquery(mobile) {
				top  : 15px; right: 15px; left : unset;
			}
		}
	}

	.btn_close {
		display : block;
		position: absolute;
		right   : 60px;
		top     : 60px;
		@include bg(30px, 30px, '../images/btn_close2.svg');
		cursor: pointer;
	}
}

[class ^='right_menu'] {
	//오른쪽클릭 메뉴
	text-align: left !important;

	li {
		width    : auto !important;
		max-width: unset !important;
	}
}

.txt_area,
.img_area,
.btn_area {	padding: 15px;}

.btn_area .btn_add {
	display: none;
}

.img_area {
	@include mediaquery(mobile) {
		padding: 0;
	}
}

.inner_section {
	width  : 1280px;
	margin : 0 auto;
	padding: 15px 0;

	@include mediaquery(pc) {
		width: 100%;
	}

	@include mediaquery(tablet) {
		width: auto;
	}

	@include mediaquery(mobile) {
		width  : auto;
		padding: 0;
	}
}

h2 {
	font-size: 7.2rem;
}

h3,
.section_tit_left,
.section_tit_center {
	font-size: 3rem;
}

.section_tit_center {
	text-align: center;
}

h4 {
	font-size: 2.4rem;
}

p {
	font-size: 1.6rem;
}

.section_tit_left {
	font-size: 3rem;
}

.cont_page_tit {
	font-size: 4.8rem;
}

.cont_page_subtit {
	font-size: 2.6rem;
}

.edit-mode {
	padding-top: 50px;


	.mobile_header {
		top: 50px;
	}

	.manage_option_page {
		position  : fixed;
		top       : 0;
		left      : 0;
		width     : 100%;
		background: #fff;
		z-index   : 12;
	}

	#header_save {
		width   : 100%;
		position  : fixed;
		top       : 50px;
		left      : 0;
		background: #fff;
		z-index   : 11;
	}

	.section {
		&:hover {
			outline         : 1px dotted #ddd;
			outline-offset  : -1px;
			background-color: #f4fbfe;
		}

		&.main_visual:hover {
			background-color: inherit;
		}

		&.footer:hover {
		background: #383838;
		}
	}

	.txt_area,
	.img_area,
	.btn_area {
		&:hover {
			outline       : 1px dotted #ddd;
			outline-offset: -1px;
		}
	}

	// .header {
	// 	&:hover {
	// 		outline       : 1px dotted #ddd;
	// 		outline-offset: -1px;
	// 		background    : rgba(41, 171, 262, 0.1);
	// 	}
	// }

	.gnb:hover {
		background    : rgba(41, 171, 262, 0.1);
		outline       : 1px dotted #ddd;
		outline-offset: -1px;
	}

	.logo:hover {
		background: rgba(41, 171, 262, 0.1);
		border    : 1px dotted #ccc;
	}

	.logo .wrap_txt_area:hover {
		background: transparent;
		border    : 0;
	}

	.btn_login,
	.btn_join {
		&:hover {
			outline       : 1px dashed #ddd;
			outline-offset: -1px;
			background    : rgba(41, 171, 262, 0.1);
		}
	}

	.search_area:hover {
		outline         : 1px dashed #ddd;
		outline-offset  : -1px;
		background-color: rgba(41, 171, 262, 0.1);
	}

	.wrap_ivm {
		.wrap_movie_area {
			height    : 703px;
			background: #eaf7fd url('../images/icon_movie.svg') no-repeat center/92px 76px;
		}

		&:hover {
			outline       : 1px dotted #ddd;
			outline-offset: -1px;
		}
	}

	.wrap_movie_area,
	.wrap_images_area,
	.wrap_map_area {
		&:hover {
			outline       : 1px dashed #ddd;
			outline-offset: -1px
		}
	}

	.component_add {
		//섹션 추가 버튼 (아이콘)
		display : block;
		position: absolute;
		width   : 100%;
		height  : 26px;
		left    : 0;

		@include mediaquery(mobile) {
			display: none;
		}

		&.top {
			top: 0;
		}

		&.bottom {
			bottom: 0;
		}

		&:hover {
			.btn_add {
				display          : flex;
				display          : -webkit-box;
				display          : -ms-flexbox;
				justify-content  : center;
				-webkit-box-pack : center;
				-ms-flex-pack    : center;
				align-items      : center;
				-webkit-box-align: center;
				-ms-flex-align   : center;
				width            : 80px;
				height           : 80px;
				position         : absolute;
				left             : 50%;
				z-index          : 80;
				transform        : translate(-50%, -50%);
				cursor           : pointer;
				border-radius    : 50%;


				&:after {
					display         : block;
					content         : '';
					background-color: #fff;
					@include bg(70px, 70px, '../images/btn_add.svg');
				}
			}

			&.top {
				.btn_add {
					top       : 50%;
					margin-top: -13px;
				}
			}

			&.bottom {
				.btn_add {
					margin-top: 26px;
				}
			}
		}
	}

	.btn_area .btn_add {
		display: block;
		margin : 0 auto;
	}

		// 크리에이터 모드에서 'i'아이콘을 위한 포지션 처리
	section,
	.img_area,
	section .txt_area,
	footer .txt_area,
	.wrap_txt_area,
	section .txt_area,
	footer .txt_area,
	.btn_area,
	footer .logo,
	.login.on,
	.wrap_search.on,
	.header,
	.main_visual,
	footer,
	.wrap_images_area,
	.wrap_movie_area,
	.mask_youtube,
	.wrap_map_area,
	.padding_sty2,
	.wrap_gallery {
		&:hover {
			position: relative;

			.icon_i {
				position       : absolute;
				top            : 10px;
				right          : 10px;
				width          : 30px;
				height         : 30px;
				background-size: cover;
				cursor         : pointer;
			}
		}
	}

	.main_visual .txt_area .btn_el_setting {
		display: none;
	}

	.logo .wrap_txt_area {
		outline: 0;
	}

	.header .wrap_gnb .header_logo .wrap_txt_area .txt_area {
		outline: 0
	}

	.header .off_icon_i>.icon_i {
		display: none !important;
	}

	.header.leftmenu.on .gnb > .icon_i {
		background: #fff;
		outline: 0;
		display: none !important;
	}
}// .edit-mode

@media (min-width:1281px) {
	.main_visual {
		height: 780px;
	}
}




//페이지 컨텐츠 설정
.manage_option_page {
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);

	@include mediaquery(mobile) {
		display: none
	}

	.wrap_page_opt {
		display    : flex;
		align-items: center;
		margin     : 0 auto;
		width      : 1280px;
		height     : 50px;
		position   : relative;
		font-size  : $cont_txt;
		font-family: $font_m;

		.btn_all_menu {
			margin-right: 15px;

			span {
				@include btn(#29abe2);
				width      : 110px;
				height     : 32px;
				line-height: 32px;
				font-family: '나눔스퀘어';
				font-weight: 400;
			}
		}

		.btn_return {
			cursor: pointer;

			.icon_return {
				display: block;
				@include bg(21px, 21px, '../images/btn_return.svg');
			}
		}

		.btn_this_menu {
			position : absolute;
			left     : 50%;
			top      : 50%;
			transform: translate(-50%, -50%);


			.this_menu_name {
				font-size  : $cont_txt;
				font-family: '티몬';
				color      : #29abe2;

				&:hover {
					cursor: pointer;
				}
			}

			.icon_i {
				display: inline-block;
				@include bg(21px, 21px, '../images/icon_i.svg');
			}
		}

		.btn_common_opt {
			margin-left : auto;
			margin-right: 23px;


			.icon_common_opt {
				display: block;
				@include bg(22px, 22px, '../images/btn_common_opt.svg');
				cursor: pointer;
			}
		}

		.btn_preview_page_area {
			margin-right: 43px;

			.btn_preview {
				display: block;
				@include bg(22px, 22px, '../images/btn_preview.png');
				cursor: pointer;
			}
		}

		.btn_work_area {
			font-size: 0;

			.btn_save {
				@include btn(#4e4e4e);
				width      : 110px;
				height     : 32px;
				line-height: 32px;
			}

			.btn_upload {
				margin: 0 10px;
				@include btn(#e07272);
				width      : 110px;
				height     : 32px;
				line-height: 32px;
			}

			.btn_close {
				@include btn(#29abe2);
				width      : 110px;
				height     : 32px;
				line-height: 32px;
			}
		}
	}
}

//모바일 헤더
.mobile_header {
	display   : none;
	width     : 100%;
	height    : 80px;
	position  : fixed;
	top       : 0;
	left      : 0;
	background: #fff;
	z-index   : 9;

	&.leftmenu {//모바일 아닐 때이지만 메뉴가 5개 초과 시 붙음
		display: block;
	}	

	.btn_leftmenu {
		display   : block;
		width     : 33px;
		height    : 33px;
		position  : relative;
		left      : 24px;
		top       : 24px;
		background: url(../images/icon_hamburger.svg);
		cursor    : pointer;
	}

	.logo {
		width     : 200px;
		height    : 43px;
		position  : absolute;
		left      : 50%;
		top       : 50%;
		transform : translate(-50%, -50%);
		font-size : 2.5rem;
		text-align: center;
	}

	.wrap_gnb .header_logo {
		display: none;
	}
}

//헤더
.header {
	background: #fff;

	&.over_not {
		background: #fff
	}

	.mCustomScrollBox,
	.mCSB_container {
		overflow: visible;
	}

	.inner {
		display : flex;
		position: relative;
		width   : 1280px;
		margin  : 0 auto;
		z-index : 10;
	}

	.wrap_gnb {
		display: flex;

		.logo {
			width     : 271px;
			text-align: center;
			z-index   : 11;

			.logoimg {
				display: inline-block;
				width  : auto;
				height : 44px;
				margin : 19px 0 15px 15px;
			}

			.wrap_txt_area {
				padding: 19px 0 15px 15px;
			}
		}

		.header_logo .wrap_txt_area .note-editor {
			padding: 0 !important;
		}

		.header_logo .wrap_txt_area .txt_area,
		.header_logo .note-editable {
			font-size  : 3.2rem !important;
			padding    : 0 !important;
			font-family: '티몬';
		}

		.login_area {
			display: flex;

			.btn_login {
				padding: 0 10px;
			}
		}

		.wrap_login_tool {
			display: none;
		}

		.inp_sch_txt {
			display: none;
		}

		.page_terms_wrap {
			display: none
		}
	}

	.gnb {
		width     : 750px;
		height    : 80px;
		position  : relative;
		box-sizing: border-box;

		.list {
			display   : flex;
			width     : 750px;
			text-align: center;

			.menu_name {
				font-size: $cont_txt;
				color    : #242424
			}
		}

		.inner {
			width: auto;

			.list_depth1>li {
				width: 20%;

				@include mediaquery(mobile) {
					width: auto;
				}
			}

			.list_depth1 > li {
				position: relative;

				&.off {
					display: none;
				}

				&.on {
					height       : 80px;

					.box_add_depth2 {
						padding      : 0 11px 27px 11px;
						border-bottom: 2px solid;
					}
				}

				.list_depth2 {
					display    : none;
					width      : 100%;
					position   : absolute;
					left       : 0;
					margin-top : 0;
					top        : 80px;
					z-index    : 10;
					line-height: 1;

					li {
						position  : relative;
						padding   : 10px 3px;
						font-size : $cont_txt;
						color     : #828282;
						background: rgba(white, 0.7);

						&:hover {
							text-decoration: underline;

							&.on {
								color: #4d4d4d
							}
						}
					}
				}

				&:hover {
					.list_depth2 {
						display: block;
					}
				}
			}
		}
	}

	.list>li {
		height     : 80px;
		line-height: 90px;
	}

	.login_area {
		height     : 80px;
		margin-left: 80px;
		padding    : 0 10px;
		font-size  : $cont_txt;
		color      : #242424;
		line-height: 90px;
	}

	.btn_join {
		height     : 80px;
		padding    : 0 10px;
		font-size  : $cont_txt;
		color      : #242424;
		line-height: 90px;
	}

	.btn_login,
	.btn_join {
		&:hover {
			cursor: pointer;
		}
	}

	.wrap_search {
		.search_area {
			display    : inline-block;
			margin-left: 22px;
			@include bg(20px, 20px, '../images/icon_search.svg');
			background-position: center 35px;
			width              : 22px;
			height             : 80px;
			vertical-align     : middle;
			cursor             : pointer;
		}
	}

	&.over {
		//겹치기
		position  : absolute;
		display   : block;
		left      : 0;
		top       : 0;
		width     : 100%;
		background: transparent;
		z-index   : 30;

		h1 .txt_area { color: #fff }

		.logo .txt,
		.login_area,
		.btn_join,
		.gnb .list li .menu_name {
			color: #fff;
		}

		.gnb .inner .list_depth1 li.on .box_add_depth2 {
			border-bottom-color: #fff;
    }
    .gnb .list .depth2_li .menu_name {color:#4d4d4d}

		.wrap_search .search_area {
			background-image: url(./../images/icon_search_white.svg);
		}
	}

	.mCSB_scrollTools {
		display: none;
	}

	&.leftmenu, &.leftmenu2 {
		//메뉴 5개 이상일 때 기존 헤더메뉴는 보이지 않기
		display   : block;
		width     : 85%;
		max-width : 500px;
		min-width : 250px;
		height    : 100%;
		position  : relative;
		top       : 0;
		left      : -100%;
		z-index   : 11;
		transition: all .5s;

		&.on {
			left      : 0;
			transition: all .5s;
		}

		.mCSB_scrollTools {
			display: block;
		}

		.mCustomScrollBox,
		.mCSB_container {
			overflow: hidden;
			width   : 100%;
			height  : 100%;
			position: relative;
			top     : 0;
			left    : 0;
		}

		>.inner {
			overflow-y: auto;
			width     : 100%;
			height    : 100vh;
			position  : absolute;
			left      : 0;
			top       : 0;
			box-shadow: 0 0 29.4px 2.6px rgba(0, 0, 0, 0.3);
			background: #fff;


			.wrap_gnb {
				display         : block;
				width           : 100%;
				height          : 100%;
				position        : relative;
				//padding-bottom: 26px;
				text-align      : center;

				.gnb {
					width       : 100%;
					height      : auto;
					position    : absolute;
					left        : 50%;
					top         : 50%;
					//overflow-y: auto; 로그인 생길때까지 주석
					transform   : translate(-50%, -50%);
					order       : 3;

					.inner {
						width: auto;
					}

					.list {
						display   : block;
						width     : auto;
						text-align: left;
						padding   : 0 8rem;

						.depth1_li {
							width      : auto;
							height     : auto;
							line-height: 1;
							padding    : 2rem 10px;
							margin     : 0;
							color      : #4d4d4d;

							&.on {
								border: 0;
								height: auto;

								.txt {
									text-decoration: underline;
								}
							}
						}

						.list_depth2 {
							display   : block;
							position  : static;
							margin-top: 0;

							.depth2_li {
								padding      : 1rem 20px 0 26px;
								border-bottom: 0;
								background   : transparent url(../images/icon_nien.svg) no-repeat left 6px bottom 3px/12px;

								&.on {
									height: auto;
								}

							}
						}
					}
				}

				.login_area {
					display    : block;
					order      : 0;
					height     : auto;
					line-height: 1;
					padding    : 4.5rem 0 0;
					margin-left: 0;

					.btn_login {
						@include btn($blue, $fontsize: $btn_txt, $radius: 35px);
						padding                      : 1.3rem 103px;
					}

					.btn_join {
						order                       : 1;
						height                      : auto;
						@include btn(#fff, $fontsize: $btn_txt);
						padding                     : 1.3rem 102px;
						color                       : $blue;
					}
				}

				//로그인 후
				.wrap_login_tool {
					display: block;

					.user_info_box {
						position      : relative;
						padding-top   : 4rem;
						padding-bottom: 4rem;
						background    : #ddd;
						text-align    : center;

						.login_user_prfl_img {
							width        : 60px;
							height       : 60px;
							margin-bottom: 19px;
							border-radius: 50%;
						}

						.name_txt {
							display       : block;
							padding-bottom: 10px;
							font-family   : $font_r;
							font-size     : 2.2rem;
							color         : #4d4d4d;
						}

						.account_email {
							display    : block;
							font-family: $font_r;
							font-size  : 1.8rem;
							color      : #828282
						}

						.btn_logout {
							display    : inline-block;
							position   : absolute;
							top        : 34px;
							left       : 44px;
							font-family: $font_r;
							font-size  : $cont_txt;
							color      : #fff;
							cursor     : pointer;
						}
					}
				}

				.wrap_search {
					order         : 2;
					padding-top   : 7.9rem;
					padding-bottom: 2.5rem;

					.inp_box {
						display      : flex;
						align-items  : center;
						width        : 280px;
						height       : 50px;
						margin       : 0 auto;
						border       : 1px solid #ddd;
						border-radius: 25px;
						background   : #fff;

						.inp_sch_txt {
							display    : block;
							width      : 230px;
							height     : 50px;
							padding    : 10px;
							line-height: 50px;
							box-sizing : border-box;
						}

						.search_area {
							width              : 31px;
							height             : 31px;
							background-position: 0 center;
						}
					}
				}
			}
		}

		.header_logo {
			display: none;
		}

		.page_terms_wrap {
			display: flex;
			order  : 4;
			margin : 123px auto 20px 84px;

			li {
				position   : relative;
				padding    : 0 13px;
				font-size  : 1.8rem;
				line-height: 1;
				color      : #828282;

				&:after {
					display    : block;
					width      : 1px;
					height     : 15px;
					position   : absolute;
					right      : 0;
					top        : 3px;
					background : #828282;
					content    : '';
					line-height: 1;
				}

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;

					&:after {
						display: none;
					}
				}
			}
		}
	}

	&.center {
		display: flex;

		.wrap_gnb {
			width: 100%;

			.logo {
				position: relative;
				order   : 2;
			}

			&.sty2 {
				&:before {
					display   : block;
					content   : '';
					width     : 100%;
					height    : 80px;
					position  : absolute;
					top       : 0;
					left      : 0;
					background: rgba(0, 0, 0, 0.2);
				}


				.gnb .inner .list_depth1 {
					height: 80px;

					li.on {
						border: 0;
					}

					li .list_depth2 li {
						color     : #fff;
						background: rgba(0, 0, 0, 0.2);
						border    : 0;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}




			.gnb {
				order         : 1;
				position      : relative;
				width         : 480px;
				//margin-right:auto;
				transform     : none;

				.list {
					width: 480px;

					li {
						margin: 0;
					}
				}
			}

			.login_area {
				margin-left: auto;
			}

			.mCustomScrollBox {
				width: 100%;
			}
		}
	}

	&.vertical {
		position: relative;
		margin  : 0 auto;


		.wrap_gnb {
			flex-direction: column;
			margin        : 0 auto;

			.logo {
				width         : 100%;
				text-align    : center;
				padding-left  : 0;
				padding-bottom: 0;

				.logoimg {
					margin: 19px 0 0 0;
				}
			}

			.gnb {
				width    : 700px;
				height   : auto;
				position : relative;
				transform: none;
				left       : 50%;
				margin-left: -350px;

				.inner {
					display: block;
					width  : auto;

					.list_depth1 {
						justify-content: center;
						width          : auto;

						.depth1_li {
							height      : 66px;
							line-height : 70px;
							margin-left : 15px;
							margin-right: 15px;

							&:first-child {
								margin-left: 0;
							}

							&:last-child {
								margin-right: 0;
							}

							.list_depth2 {
								top: 66px;
							}

							.txt {
								line-height: 0;
							}

							.wrap_menu {
								line-height: 1;
							}

							&.on {
								.box_add_depth2 {
									padding      : 0 11px 23px 11px;
									border-bottom: 2px solid;
								}
							}
						}
					}
				}
			}

			.login_area {
				margin-left: auto;
			}
		}

		.mCustomScrollBox {
			width: 100%;
		}
		&.leftmenu {
			.gnb {
				position : static;
				transform: none;
			}
		}
	

		.box_add_depth2 {
			padding-bottom: 22px;
		}
	}

	&.center2 {
		>.inner {
			position: static;
			height  : 130px;

			.wrap_gnb {
				display : block;
				width   : 100%;
				position: relative;
			}
		}

		.gnb {
			display: inline-flex;
			height : 60px;

			.list {
				justify-content: flex-start;
				width          : auto;
			}

			.inner {
				margin: 0;
			}

			.inner .depth1_li {
				height      : 60px;
				line-height : 1;
				margin-right: 50px;
				padding     : 14px 12px 23px;

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					margin-right: 0;
				}

				&.on {
					height       : 60px;
					line-height  : 1;
					border-bottom: 2px solid #4d4d4d;
				}

				.menu_name {
					color: #4d4d4d
				}

				.list_depth2 {
					top: 60px;

					.depth2_li {
						padding      : 15px 12px;
						border-bottom: 0;
						background   : #fff;

						.menu_name {
							color: #828282;
						}

						&:hover .menu_name {
							text-decoration: none;
							color          : #4d4d4d;

						}
					}
				}
			}
		}

		.header_logo {
			width       : auto;
			padding-left: 0;
			text-align  : center;
		}

		.wrap_gnb .login_area {
			display    : flex;
			margin-left: auto;
			height     : 60px;
			position   : absolute;
			right      : 40px;
			bottom     : 0;
			line-height: 60px;
			color      : #4d4d4d;

			.btn_join {
				height     : 60px;
				line-height: 60px;
				color      : #4d4d4d
			}
		}

		.wrap_search {
			position: absolute;
			right   : 0;
			bottom  : 0;

			.inp_box .search_area {
				background-image: url(./../images/icon_search3.svg);
			}
		}
	}


	&.over {
		>.inner {
			position   : absolute;
			left       : 50%;
			margin-left: -640px;
		}
	}

}

@include mediaquery(mobile) {
	main {
		padding-top: 60px;
	}

	.mobile_header {
			top    : 0;
			display: block;
	}

	.header {
		display: none;

		&.center, &.vertical, &.over {
			display: none;		
    	}
    
    	&.over .gnb .list li .menu_name {color:#242424}
    

		&.over.leftmenu {display: block;}
		

		&.over_not {display: none;}

		//&.leftmenu.on {d:}

	}
}

@media (max-width:720px) {
  .mobile_header {height:40px;
    .btn_leftmenu {width:17px; height:17px; left:12px; top:12px; background-size: cover;}
    .logo {width:100px; height:22px; line-height: 22px;
      a {vertical-align: top;}
    }
  }
  main {padding-top: 40px;}
}

							

							
					

	



//메인 비주얼
/**
 * Owl Carousel v2.3.4
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
.main_visual {


	.owl-carousel {
		display   : block;
		height    : 780px;
		background: #eaf7fd url("../images/icon_images.png") no-repeat center/93px 107px;
		z-index   : 0;
		overflow-y: hidden;


		.owl-dots,
		.owl-nav {
			text-align                 : center;
			-webkit-tap-highlight-color: transparent
		}

		.owl-prev,
		.owl-next {
			position : absolute;
			top      : 50%;
			transform: translateY(-50%);

			span {
				font-size: 0;
			}
		}

		.owl-prev {
			left      : 30px;
			background: url('../images/icon_arrow3.svg') no-repeat right 9px center/12px !important;
		}

		.owl-next {
			right     : 30px;
			background: url('../images/icon_arrow3_2.svg') no-repeat left 9px center/12px !important;
		}

		.owl-nav [class*=owl-] {
			font-size    : 0;
			margin       : 5px;
			padding      : 4px 7px;
			display      : inline-block;
			cursor       : pointer;
			width        : 30px;
			height       : 30px;
			border       : 1px solid #fff !important;
			border-radius: 50%;

			&.disabled {
				opacity: .5;
				cursor : default
			}

			&.disabled+.owl-dots {
				margin-top: 10px
			}
		}

		.owl-dots {
			bottom    : 10px;
			left      : 0;
			width     : 100%;
			position  : absolute;
			text-align: center;
			transition: .3s opacity;
			transform : translate3d(0, 0, 0);
			z-index   : 10;

			.owl-dot {
				display: inline-block;
				zoom   : 1;

				span {
					width                      : 8px;
					height                     : 8px;
					margin                     : 0 4px;
					background                 : rgba(0, 0, 0, 0.3);
					display                    : block;
					backface-visibility: visible;
					transition                 : opacity .2s ease;
					border-radius              : 30px
				}

				&.active,
				&:hover {
					span {
						background: #007aff
					}
				}
			}
		}

		@include mediaquery(mobile) {
			h2 {
				font-size  : 36px;
				line-height: 1.2
			}

			h3 {
				font-size  : 20px;
				line-height: 1.2
			}

			p {
				font-size  : 15px;
				line-height: 1.2
			}
		}
	}

	.owl-carousel,
	.wrap_txt {
		@include mediaquery(mobile) {
			height: 411px;
		}
	}

	.swiper-slide {
		width     : 100%;
		height    : 780px;
		background: #000;
	}

	.wrap_txt {
		padding-top      : 207px;
		height           : 780px;
		background-color : rgba(0, 0, 0, 0);
		background-repeat: no-repeat;
		background-size  : cover;

		@include mediaquery(mobile) {
			height     : calc(100vh - 80px);
			padding-top: 35px;
		}
		&.sty2 {
			padding-top      : 150px;
		}
	}

	.txt_area {
		width  : 1280px;
		z-index: 10;

		@include mediaquery(pc) {
			width: auto;
		}

		@include mediaquery(tablet) {
			width: auto;
		}

		@include mediaquery(mobile) {
			width: auto;
		}
	}

}

.edit-mode .owl-carousel {
	overflow: visible;
}

.main_visual,
.pop_visual_setting {
	.wrap_txt {
		background-size: cover;
	}

	.txt_area {
		position: relative;
		margin  : 0 auto;

		&:hover {
			background: transparent;
			outline   : 0;
		}
	}

	h2 {
		font-size  : 7.2rem;
		font-weight: bold;
		color      : #fff;
	}

	h3 {
		font-size  : 4rem;
		font-weight: bold;
		color      : #fff;
	}

	p {
		font-size: 3rem;
		color    : #fff;
	}
}

.main_visual {
	.mask {
		position  : absolute;
		display   : none;
		top       : 0;
		left      : 0;
		width     : 100%;
		height    : 100%;
		background: rgba(0, 0, 0, 0.3);
		z-index   : 9;
	}

	.maskon .mask {
		display: block !important;
	}
}

.pop_visual_setting .mask {
	position  : absolute;
	display   : none !important;
	top       : 0;
	left      : 0;
	width     : 100%;
	height    : 100%;
	background: rgba(0, 0, 0, 0.3);
}


.position_ui_option {
	display : none;
	position: absolute;
	top     : 0;
	z-index : 999999 !important;


	ul li {
		&:first-child {
			border-radius: 3px 0 0 0;
		}

		&:nth-child(1),
		&:nth-child(4),
		&:nth-child(7) {
			margin-left: 0;
		}

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			margin-top: 0;
		}

		&:nth-child(3) {
			border-radius: 0 3px 0 0;
		}

		&:nth-child(7) {
			border-radius: 0 0 0 3px;
		}

		&:nth-child(9) {
			border-radius: 0 0 3px 0;
		}
	}

	ul.select_container {
		margin : 0;
		padding: 0;
		width  : 72px;
		height : 72px;

		&:after {
			content: '';
			display: block;
			clear  : both;
		}

		li {
			list-style : none;
			background : white;
			border     : 1px solid #e0e0e0;
			width      : 24px;
			height     : 24px;
			margin-left: -1px;
			margin-top : -1px;
			float      : left;
			cursor     : pointer;

			&:hover {
				background: #eee;
			}

			&.active {
				background: #00B8FF;
			}
		}
	}
}

/* ----------------------------------------------------
	템플릿1, 기본 - 배너형
----------------------------------------------------- */
/* 템플릿1 - 기본 배너형 (home 페이지) */
.wrap_imgtxt {

	//컨텐츠 2
	&.sty2 .inner_section {
		//컨텐츠 7
		display: flex;
		padding: 15px 0;

		@include mediaquery(tablet) {
			display: block;
		}

		@include mediaquery(mobile) {
			display: block;
		}


		>.txt_area {
			margin-right  : 30px;
			margin-top    : 90px;
			padding-top   : 30px;
			vertical-align: top;

			h3 {
				font-size     : $tit_small_txt;
				font-family   : $font_m;
				letter-spacing: -0.9px;
			}
		}


		.left_txt {
			width         : 28%;
			margin-top    : 90px;
			padding-top   : 30px;
			vertical-align: top;

			@include mediaquery(tablet) {
				width     : 100%;
				text-align: center;
			}

			@include mediaquery(mobile) {
				width     : 100%;
				text-align: center;
			}

			h3 {
				font-size     : $tit_small_txt;
				font-family   : $font_m;
				letter-spacing: -0.9px;
			}
		}

		.list {
			display        : flex;
			justify-content: space-between;
			width          : 70%;
			max-width      : 894px;
			margin-left    : auto;
			padding        : 30px 15px 30px 0;

			@include mediaquery(tablet) {
				width  : 100%;
				margin : 0 auto;
				padding: 30px 15px;
			}

			@include mediaquery(mobile) {
				display: block;
				width  : 100%;
				padding: 30px 0;
			}
		}

	}

	h2 {
		font-size  : $tit_sub_txt;
		text-align : center;
		line-height: 80px;
	}

	.list {
		display: flex;
		display: -webkit-box;
		display: -ms-flexbox;

		li {

			.img_area,
			.txt_area {
				padding: 15px;
			}

			.img_area {
				@include mediaquery(mobile) {
					padding: 0;
				}
			}

			.txt_area {
				font-size: $cont_txt;
			}
		}

		&.three_div {

			&.sty2 {
				//컨텐츠 7
				justify-content: space-between;

				@include mediaquery(mobile) {
					justify-content: flex-start;
					flex-wrap      : wrap;
				}

				li {
					width    : 32%;
					max-width: 254px;

					@include mediaquery(mobile) {
						width    : 100%;
						max-width: unset
					}
				}

				.img_area {
					padding: 0
				}

				.cont_area {
					background: rgba(255, 255, 255, 0.4);
					text-align: center;

					p {
						font-size     : $cont_txt;
						letter-spacing: -0.9px;
						color         : #242424
					}

				}

				.btn_click {
					display    : block;
					color      : #f3f3f3;
					font-size  : $btn_txt;
					font-family: $font_m;
				}
			}

			&.grid_item {
				.btn_area {
					padding   : 15px 0;
					text-align: center;

					.btn_click {
						//배너형 기본1 버튼
						@include btn(#1b6ae2, $radius: 0);
						padding                      : 1.6rem 4.1rem 1.9rem;
						border                       : 1px solid #1b6ae2;
						color                        : #1b6ae2;
						font-size                    : $btn_txt;
						background                   : #fff;
						text-align                   : center;
					}
				}
			}
		}

		&.four_div {
			&.sty2 {
				@include mediaquery(mobile) {
					padding-top: 30px;
				}

				img {
					height       : 100%;
					border-radius: 50%;

					@include mediaquery(mobile) {
						width : 290px;
						height: 290px;
					}
				}

				h3,
				.txt_area,
				div {
					text-align: center;
				}

				h3 {
					padding    : 12px 0 15px;
					font-family: $font_b;
					font-size  : $component_sub_txt;
				}

				.txt_area {
					font-size: $cont_txt;

					.right_menu3 {
						text-align: left;
					}
				}

				.img_area {
					.right_menu2 {
						text-align: left;
					}
				}
			}

			@include mediaquery(mobile) {
				padding-bottom: 30px;
			}
		}
	}


	&.comp1.sty3 .inner_section {

		//컨텐츠 9
		.wrap_cont_area {
			display    : flex;
			align-items: center;
			padding    : 106px 15px 107px 0;

			>.txt_area {
				max-width: 290px;
				width    : 25%;

				@include mediaquery(tablet) {
					width    : 100%;
					max-width: unset;
				}

				@include mediaquery(mobile) {
					width    : auto;
					max-width: unset;
				}

				h3 {
					padding    : 0 15px 0 0;
					font-family: $font_m;
					font-size  : 3.2rem;
					line-height: 1.3;
					color      : #fff;

					@include mediaquery(tablet) {
						padding-right: 0;
						text-align   : center;
					}

					@include mediaquery(mobile) {
						padding-right: 0;
						text-align   : center;
					}
				}
			}

			@include mediaquery(tablet) {
				display: block;
				padding: 30px 0;
			}

			@include mediaquery(mobile) {
				display: block;
				padding: 30px 0;
			}

			.list {
				width: 75%;

				@include mediaquery(tablet) {
					display        : flex;
					justify-content: center;
					width          : 100%;
					padding        : 0 15px;
					box-sizing     : border-box;

					.btn_area {
						padding-bottom: 0;
					}
				}

				@include mediaquery(mobile) {
					width  : 100%;
					padding: 0 15px;

					.btn_area {
						padding-bottom: 0;
					}
				}

				>li {
					max-width : 290px;
					width     : 32%;
					padding   : 15px 0 31px;
					color     : #fff;
					background: rgba(194, 88, 67, 0.8);

					&:nth-child(2) {
						margin: 0 2%;
					}

					@include mediaquery(mobile) {
						width    : 100%;
						max-width: 290px;
						margin   : 0 auto 10px;

						&:nth-child(2) {
							margin: 0 auto 10px;
						}
					}

					.txt_center {
						text-align: center;
					}

					.txt_area {

						h4 {
							padding-bottom: 15px;
							font-family   : $font_m;
							font-size     : $cont_tit_txt;
							line-height   : 1;
						}

						p {
							margin-bottom : 0;
							font-family   : $font_r;
							font-size     : $cont_txt;
							line-height   : 1.5;
							letter-spacing: -0.9px;

							@include mediaquery(mobile) {
								padding-top: 0;
							}

							&:first-of-type {
								padding-top: 15px;
							}
						}
					}

					.btn_area {
						padding   : 15px 0;
						text-align: center;

						.btn_click {
							@include btn(#fff, $fontsize: 1.8rem, $radius: 0);
							padding                     : 11px 31px 11px 32px;
							font-family                 : $font_r;
							color                       : #b94848;
						}
					}
				}
			}
		}
	}
}

.wrap_imgtxt_horizon {

	//컨텐츠 3,4,6,8
	&.sty1 {
		//컨텐츠 3,4


		.inner_section {
			display : flex;
			position: relative;

			@include mediaquery(mobile) {
				display: block;

				.txt_area {
					padding-bottom: 0;
				}
			}

			.img_area,
			.txt_area,
			.note-editor {
				padding   : 15px;
				align-self: center;
			}

			.txt_container {
				display        : flex;
				flex-direction : column;
				justify-content: center;

				.wrap_txt_area {
					text-align: left;
					color     : #242424;

					h3 {
						padding    : 15px 0;
						font-size  : $tit_small_txt;
						line-height: 1.29;

						@include mediaquery(mobile) {
							padding: 0;
						}
					}

					p {
						font-size  : $cont_txt;
						line-height: 1.5;

						@include mediaquery(mobile) {
							padding-bottom: 0;
						}
					}
				}
			}

			.wrap_movie_area {
				width    : 100%;
				max-width: 610px;


				@include mediaquery(tablet) {
					width    : 50%;
					max-width: unset;
				}
			}

			.btn_area {
				text-align: left;

				@include mediaquery(mobile) {
					padding-bottom: 30px;
				}

				.btn_click {
					@include btn(#b0c1c4, $fontsize: $btn_txt, $radius: 0);
					padding                        : 15px 42px;
				}
			}

			&.sty2 {
				//컨텐츠 3,4 반대
				justify-content: flex-end;

				.img_area,
				.wrap_movie_area {
					order: 2
				}

				.txt_area,
				.note-editor {
					order: 1;
				}

				.txt_container {

					.wrap_txt_area,
					.btn_area {
						text-align: right;
					}
				}
			}


			.wrap_movie_area {
				//컨텐츠 4
				padding: 15px;

				&:hover {
					background    : rgba(41, 171, 226, 0.1);
					outline       : 1px dotted #CCC;
					outline-offset: -1px;
				}

				.video_area {
					//	width: 610px;
					box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.21);

					@include mediaquery(mobile) {
						width: 100%;
					}
				}

			}
		}
	}

	.note-editor {
		font-size  : $tit_txt;
		font-family: '본고딕';
		font-weight: 500;
	}


	&.sty2 {

		//컨텐츠 6
		.inner_section {
			width         : auto;
			padding-bottom: 30px;

			.txt_container {
				display         : flex;
				align-items     : center;
				width           : 100%;
				height          : 380px;
				margin          : 187px auto 45px;
				background-color: #fff8e1;

				@include mediaquery(tablet) {
					height    : auto;
					margin-top: 12%;
				}

				@media (min-width: 768px) and (max-width: 850px) {
					margin-top: 5%;
				}

				@include mediaquery(mobile) {
					display: block;
					height : auto;
					margin : 0;
				}

				.wrap_txt_area {
					width : 1280px;
					margin: 0 auto;

					@include mediaquery(pc) {
						width: 100%;
					}

					@include mediaquery(tablet) {
						width: 100%;
					}

					@include mediaquery(mobile) {
						width: 100%;
					}

					.txt_area {
						width: 50%;

						@include mediaquery(pc) {
							width: 44%;
						}

						@include mediaquery(tablet) {
							width: 44%;
						}

						@include mediaquery(mobile) {
							width: 100%;
						}
					}

					p {
						padding: 0 15px;
					}
				}
			}

			.img_container {
				display        : flex;
				justify-content: flex-end;
				position       : absolute;
				right          : 16%;
				top            : 15px;

				@include mediaquery(pc) {
					width: 56%;
					right: 0;
				}

				@include mediaquery(tablet) {
					width: 49%;
					right: 0;
				}

				@include mediaquery(mobile) {
					display : block;
					position: static;
				}

				.img_four_area {
					display        : flex;
					flex-wrap      : wrap;
					justify-content: flex-end;
					width          : 580px;

					@include mediaquery(pc) {
						width: 100%;
					}

					@include mediaquery(tablet) {
						width: 100%;
					}

					@include mediaquery(mobile) {
						width: 100%;
					}

					.grid-square {
						width    : 50%;
						max-width: 290px;

						@include mediaquery(mobile) {
							max-width: unset;
							height   : auto;
						}

						.img_area {
							img {
								display: block;
								 width:260px;
								height:240px;

								@include mediaquery(tablet) {
									width:225px;
									height:92%;
								}
								@include mediaquery(mobile) {
									width:100%;
									height:92%;
								}
							}
						}
					}
				}
			}
		}
	}

	&.sty3 {
		//컨텐츠8

		//	@extend .bg_wide;

		@include mediaquery(mobile) {
			padding: 30px 15px;
		}

		.inner_section {
			display: flex;

			@include mediaquery(pc) {
				width: 1024px;
			}

			@include mediaquery(mobile) {
				display: block;
			}

			.wrap_txt_area,
			.img_container {
				width: 50%;

				@include mediaquery(mobile) {
					width: 100%;
				}
			}

			.wrap_txt_area {
				display        : flex;
				align-items    : center;
				justify-content: center;
				text-align     : center;
				color          : #fff;

				.txt_area {
					font-size  : $tit_txt;
					font-family: $font_m;
				}
			}

			.img_four_area {
				display  : flex;
				flex-wrap: wrap;
				width    : 100%;
				z-index  : 1;

				li {
					width: 320px;

					@include mediaquery(mobile) {
						width        : 100%;
						margin-bottom: 15px;
					}

					.img_area {
						img {
							display: block;
							width  : 290px;
							height : 228px;

							@include mediaquery(mobile) {
								width : 100%;
								height: auto;
							}

						}
					}
				}
			}

			.wrap_movie_area {
				width    : 100%;
				max-width: 610px;
				height   : 343px;
				margin   : 100px 0;

				@include mediaquery(mobile) {
					max-width: unset;
					margin   : 15px 0;
				}
			}
		}
	}
}

/* 템플릿1 - 기본 배너형 (about 페이지) */
.wrap_txt_img_type1 {

	.inner_section {
		@include mediaquery(mobile) {
			padding-top: 15px;
		}
	}

	h2 {
		padding   : 15px 0;
		font-size : $tit_small_txt;
		text-align: center;
	}

	.two_div {
		display        : flex;
		justify-content: center;

		.grid-circle-sty1 {
			overflow     : hidden;
			width        : 250px;
			height       : 250px;
			margin       : 15px;
			border-radius: 50%;
			box-shadow   : 0 0 18px 0 rgba(0, 0, 0, 0.31);

			@include mediaquery(mobile) {
				width : 150px;
				height: 150px;
			}

			&.img_area {
				padding: 0;

				@include mediaquery(mobile) {
					margin-bottom: 0;
				}

			}
		}
	}

	.wrap_txt_area {
		text-align: center;

		.section_tit_center {
			padding  : 15px;
			font-size: $tit_sub_txt;

			@include mediaquery(mobile) {
				padding: 0;
			}
		}

		p {
			padding  : 0 15px;
			font-size: $cont_txt;

			&:first-of-type {
				padding-top: 15px;
			}

			@include mediaquery(mobile) {
				padding-left : 0;
				padding-right: 0;
			}
		}

	}
}

.wrap_txt_horizon_type1 {
	.txt_container {
		display    : flex;
		align-items: flex-start;

		@include mediaquery(mobile) {
			display       : block;
			padding-bottom: 30px;
		}

		.left_txt {
			width      : 315px;
			padding    : 15px;
			font-size  : $tit_small_txt;
			line-height: 0.8;
			font-family: $font_r;
			box-sizing : border-box;

			@include mediaquery(mobile) {
				width      : 100%;
				padding-top: 30px;
			}
		}

		.wrap_txt_area:first-child {
			@include mediaquery(tablet) {
				width: 20%
			}

			.txt_area {
				@include mediaquery(mobile) {
					padding: 0;
				}
			}

			h3 {
				padding    : 15px;
				font-size  : $component_sub_txt;
				font-family: $font_r;

				@include mediaquery(mobile) {
					padding-bottom: 0;
				}
			}

			p {
				padding    : 15px;
				font-size  : $cont_txt;
				font-family: $font_r;

				@include mediaquery(mobile) {
					padding-bottom: 5px;
				}

			}
		}
	}
}

.wrap_txt_img_type2 {
	h2 {
		padding    : 15px;
		font-size  : $tit_txt;
		text-align : left;
		font-family: $font_m;
	}

	.cont_container {

		@include mediaquery(mobile) {
			padding-top   : 15px;
			padding-bottom: 30px;
		}

		.tit_edit {
			font-size  : $tit_sub_txt;
			font-weight: 500;
			line-height: 1;
		}

		.cont_area {
			display    : flex;
			align-items: flex-start;

			.img_area {
				img {
					width: 610px;
				}
			}

			@include mediaquery(tablet) {
				width: 100%;

				.img_area {
					width: 50%;

					img {
						width: 100%;
					}
				}
			}

			@include mediaquery(mobile) {
				display: block;

				.img_area {
					width: 100%;

					img {
						width: 100%;
					}
				}
			}


			.tit_edit {
				padding: 15px 0;

				@include mediaquery(mobile) {
					//		padding-bottom: 0;
				}
			}

			.sub_tit_edit,
			.list_diamond {
				padding  : 0;
				font-size: $component_sub_txt;

				@include mediaquery(mobile) {
					padding-bottom: 0;
					line-height   : 1.34;
				}
			}

			.list_diamond {

				@include mediaquery(mobile) {
					padding-top: 0;
				}

				li {
					position   : relative;
					padding    : 15px 0 15px 18px;
					line-height: 1;

					@include mediaquery(mobile) {
						padding-bottom: 0;
						line-height   : 1.5;
					}


					&:before {
						display : block;
						position: absolute;
						left    : 0;
						top     : 20px;
						@include bg(9px, 9px, '../images/list_diamond.svg');
						content: '';
					}
				}
			}
		}

	}
}

/* 템플릿1 - 기본 배너형 (service, about 페이지) */
.banner_basic_type1 {
	.sub_head {
		position: relative;

		&:before {
			display   : block;
			width     : 100%;
			height    : 100%;
			content   : '';
			position  : absolute;
			left      : 0;
			top       : 0;
			background: rgba(0, 0, 0, 0.4);
		}

		.inner_section {
			position: relative;

			.wrap_txt {
				display        : flex;
				flex-direction : column;
				justify-content: center;
				align-items    : center;
				height         : 400px;

				@include mediaquery(mobile) {
					height: 250px;
				}

				.wrap_tit {
					margin-bottom: 27px;

					.cont_page_tit {
						font-weight: 500;
						font-size  : $tit_big_txt2;
						line-height: 1;
						color      : #fff;
						text-align : center;

						@include mediaquery(mobile) {
							margin-bottom: 0;
						}
					}
				}

				.wrap_subtit .cont_page_subtit {
					font-size  : $cont_tit_txt;
					line-height: 1;
					color      : #ffffff;
					text-align : center;
				}

			}
		}

	}

	.wrap_imgtxt_three2 {
		padding-bottom: 15px;


		@include mediaquery(mobile) {
			padding-bottom: 0;
		}

		.section_tit_left {
			padding  : 15px 0;
			font-size: $tit_small_txt;

			@include mediaquery(mobile) {
				padding-bottom: 0;

				br {
					display: none;
				}
			}

			.txt_point {
				vertical-align: top;
				color         : #29abe2;
			}
		}

		.section_note {
			padding    : 15px 0;
			font-size  : $cont_txt;
			font-family: $font_r;
			color      : #5c5c5c;

			@include mediaquery(mobile) {
				padding-bottom: 0;
			}
		}

		.wrap_imgtxt_three3 {
			.three_div {
				display: flex;

				@include mediaquery(mobile) {
					display       : block;
					padding-bottom: 30px;
				}

				>li {
					position  : relative;
					width     : 100%;
					height    : 346px;
					box-sizing: border-box;
					padding   : 15px;

					.img_area {
						position               : absolute;
						left                   : 0;
						top                    : 0;
						overflow               : hidden;
						border-top-left-radius : 30px;
						border-top-right-radius: 30px;
						z-index                : 0;
						width                  : 100%;
						height                 : 331px;
						padding                : 15px 15px 0;

						&:before {
							display                : block;
							content                : '';
							position               : absolute;
							left                   : 15px;
							top                    : 15px;
							width                  : calc(100% - 30px);
							height                 : calc(100% - 15px);
							border-top-left-radius : 30px;
							border-top-right-radius: 30px;
							background             : rgba(0, 0, 0, 0.4);
							overflow               : hidden;
						}

						.changedimg {
							border-top-left-radius : 30px;
							border-top-right-radius: 30px;
						}
					}

					.txt_edit_cont {
						display        : flex;
						flex-direction : column;
						justify-content: flex-end;
						height         : auto;
						position       : absolute;
						left           : 0;
						bottom         : 15px;
						padding        : 0 15px;


						@include mediaquery(tablet) {
							height: 100%;
						}

						@include mediaquery(mobile) {
							height: 100%;
						}

						.wrap_txt_area {
							h4 {
								font-size  : $tit_sub_txt;
								font-weight: 500;
								line-height: 1;
								color      : #fff;
								z-index    : 1;
							}

							p {
								font-size: $component_sub_txt;
								color    : #fff;
								z-index  : 1;

							}
						}
					}


				}
			}

		}

	}
}

.wrap_txt_img_sty2 {

	//정산서비스
	&.titbg {
		background: url(/images/bg_basic_sample.jpg) 50% 50%/cover;
	}

	.tit_bg_area {
		position: relative;
		height  : 350px;

		@include mediaquery(tablet) {
			height: 250px;
		}

		@include mediaquery(mobile) {
			height: 150px;
		}

		&:before {
			display   : block;
			width     : 100%;
			height    : 100%;
			content   : '';
			position  : absolute;
			left      : 0;
			top       : 0;
			background: rgba(0, 0, 0, 0.4);
			z-index   : 0;
		}

		.tit_cont {
			position   : relative;
			padding-top: 170px;

			@include mediaquery(tablet) {
				padding-top: 70px;
			}

			@include mediaquery(mobile) {
				padding-top: 35px;
			}

		}

		.section_tit_center {
			box-sizing : border-box;
			font-size  : $tit_big_txt;
			font-family: $font_r;
			text-align : center;
			color      : #fff;
			line-height: 1;
			z-index    : 1;
		}
	}

	.inner_section {
		width  : 100%;
		padding: 0;

		.txt_cont {
			width           : 100%;
			max-width       : 1250px;
			position        : absolute;
			top          : -85px;
			left            : 50%;
			margin-left     : -625px;
			text-align      : center;
			background-color: #f2f2f2;
			z-index         : 1;

			@include mediaquery(tablet) {
				width: 100%;
			}

			@include mediaquery(mobile) {
				position : static;
				transform: none;
			}

			.txt_area {
				padding: 15px 0;

				h3 {
					padding    : 15px;
					font-size  : $tit_small_txt;
					font-family: $font_r;
					text-align : center;
					line-height: 1;

					@include mediaquery(mobile) {
						padding-bottom: 0;
					}

				}

				p {
					padding    : 15px;
					font-size  : $component_sub_txt;
					font-family: $font_r;
					text-align : center;

					@include mediaquery(mobile) {
						padding-left : 0;
						padding-right: 0;
					}
				}
			}


		}
	}

	.wrap_address {
		width    : 100%;
		max-width: 1250px;
		margin   : 0 auto;

		@include mediaquery(mobile) {
			width: auto;
		}


		.wrap_txt_area {
			padding: 0;

			.sub_tit_txt {
				padding    : 15px;
				font-size  : $tit_txt;
				font-weight: 500;
				text-align : right;
				line-height: 1;

				@include mediaquery(mobile) {
					padding-left  : 0;
					padding-bottom: 0;
				}

			}
		}

		address {
			padding   : 0;
			text-align: right;

			@include mediaquery(mobile) {
				padding-top: 0
			}

			.wrap_txt_area {
				padding: 15px;

				p {
					margin-bottom: 12px;
					font-size    : $tit_sub_txt;
					line-height  : 1;

					b {
						padding-right : 5px;
						vertical-align: top;
					}

					a {
						vertical-align: top;
					}
				}
			}

		}
	}
}

/*템플릿1 - 기본 배너형 (contact 페이지)*/
.wrap_map_txt_sty1 {
	.map_area {
		height: 400px;
	}

	.txt_container {
		color: #000;

		@include mediaquery(mobile) {
			padding-bottom: 30px;
		}

		.tit_txt {
			padding    : 15px 0;
			font-size  : $tit_big_txt2;
			font-family: $font_m;
			line-height: 1;

			@include mediaquery(mobile) {
				padding-bottom: 0;
			}
		}

		.list {
			display  : flex;
			flex-wrap: wrap;

			@include mediaquery(mobile) {
				display: block;
			}

			.wrap_txt_area {
				width: 50%;

				@include mediaquery(mobile) {
					width: auto;
				}

				.cont_page_subtit {
					padding    : 0 0 15px;
					font-size  : $cont_tit_txt;
					font-family: $font_r;
					line-height: 1;

					@include mediaquery(mobile) {
						padding-bottom: 0;
					}
				}

				dd {
					padding    : 15px 0 0;
					font-size  : $component_sub_txt;
					font-family: $font_r;
					line-height: 1;
				}
			}
		}
	}
}

/* 템플릿1 - 기본 배너형 (project 페이지)*/
.gallery_type1 {

	@include mediaquery(mobile) {
		padding-top   : 30px;
		padding-bottom: 30px;
	}

	.tit_txt {
		font-size  : 3.2rem;
		font-family: $font_m;
		text-align : center;
	}

	.wrap_gallery {
		display  : flex;
		flex-wrap: wrap;

		@include mediaquery(mobile) {
			display: block;
		}

		li {
			width     : 426px;
			height    : 300px;
			padding   : 15px;
			box-sizing: border-box;

			@include mediaquery(mobile) {
				width  : auto;
				height : auto;
				padding: 5px 0 0;
			}

			.wrap_img_txt {
				overflow: hidden;
				position: relative;
				width   : 396px;
				height  : 270px;

				@include mediaquery(mobile) {
					width: auto;
				}

				.bg_overlay {
					display         : flex;
					align-items     : center;
					width           : 100%;
					height          : 100%;
					position        : absolute;
					left            : 0;
					top             : 0;
					padding         : 0 58px;
					background-color: rgba(0, 0, 0, 0.6);
					opacity         : 0;
					transition      : opacity 0.5s;

					@include mediaquery(mobile) {
						justify-content : center;
						padding         : 0 30px;
						background-color: rgba(0, 0, 0, 0.4);
						opacity         : 1;
					}


					.txt_box {
						font-family   : $font_r;
						font-size     : $cont_txt;
						line-height   : 1.8;
						color         : #e1e1e1;
						letter-spacing: -0.9px;
						text-align    : center;

						@include mediaquery(mobile) {
							letter-spacing: 0;
						}
					}
				}

				&:hover {
					.bg_overlay {
						cursor : pointer;
						opacity: 1;
					}

				}

			}
		}
	}
}

.wrap_imgtxt {


	.list {

		@include mediaquery(mobile) {
			display: block;
		}

		li {
			.btn_imgtxt {
				display    : block;
				width      : 160px;
				height     : 50px;
				margin     : 30px auto;
				color      : #1b6ae2;
				font-size  : $cont_txt;
				line-height: 50px;
				text-align : center;
				border     : 1px solid #1b6ae2;
			}

			@include mediaquery(mobile) {
				.img_area {
					padding: 0;
				}
			}
		}

		&.two_div>li {
			width: 50%;
		}

		&.three_div>li {
			width: 33.3%;

			&:last-child {
				width: 33.4%;
			}
		}

		&.four_div>li {
			width: 25%;
		}

		&.three_div,
		&.four_div {
			>li {
				@include mediaquery(mobile) {
					width: 100%;

					&:last-child {
						width: 100%;
					}
				}
			}
		}
	}
}


.wrap_txt_area {
	font-size: $cont_txt;

	h2,
	&.sub_title .note-editable {
		margin     : 0;
		font-size  : $tit_sub_txt;
		line-height: 80px;
	}

	h3 {
		font-size: $tit_sub_txt;
	}

	p {
		font-size: $cont_txt;
	}

	output {
		padding: 0 !important
	}
}

.wrap_imgtxt_three {
	.wrap_txt_area {
		width: 35%;

		-ms-word-wrap: break-word;
		word-wrap    : break-word;

		@include mediaquery(mobile) {
			width      : 100%;
			padding-top: 20px;
		}
	}

	.txt_area {
		@include mediaquery(mobile) {
			padding-bottom: 0;
		}
	}

	.section_tit_center {
		padding    : 11px 0;
		line-height: 1;

		@include mediaquery(mobile) {
			padding-bottom: 0;
		}
	}

	.box_txt_img {
		display: flex;
		display: -webkit-flex;
		display: -ms-flexbox;

		.img_area {
			width: 30%;
		}

		@include mediaquery(mobile) {
			display       : block;
			padding-bottom: 15px;

			.img_area {
				width: 100%;
			}
		}

		h4,
		p {
			padding: 0;

			@include mediaquery(mobile) {
				padding-top: 0;
			}
		}

		p:first-of-type {
			padding-top: 1.5rem;
		}
	}
}


.tinted {
	background-color: #fff6b2;
}

.handle {
	cursor: grab;
	cursor: -webkit-grab;
}

.list-group-item:hover {
	z-index: 0;
}

.input-section {
	background-color: rgba(255, 255, 255, 0.5);
	padding         : 20px;
}

.swap-threshold-indicator {
	background-color: #0079bf;
	height          : 100%;
	display         : inline-block;
}

.inverted-swap-threshold-indicator {
	background-color: #0079bf;
	height          : 100%;
	position        : absolute;
}

.indicator-left {
	left: 0;
	top : 0;
}

.indicator-right {
	right : 0;
	bottom: 0;
}

.num-indicator {
	position : absolute;
	font-size: 50px;
	width    : 25px;
	top      : 50%;
	left     : 50%;
	transform: translate(-50%, -50%);
	color    : white;
}

.nested-sortable,
.nested-1,
.nested-2,
.nested-3 {
	margin-top: 5px;
}

.nested-1 {
	background-color: #e6e6e6;
}

.nested-2 {
	background-color: #cccccc;
}

.nested-3 {
	background-color: #b3b3b3;
}

.blue-background-class {
	background-color: #C8EBFB;
}

.col {
	padding-right: 0;
	margin-right : 15px;
}

.selected {
	background-color: #f9c7c8;
	border          : solid red 1px !important;
	z-index         : 1 !important;
}

.highlight {
	background-color: #B7F8C7;
}


.right-click-layer {
	//우측 클릭 레이어
	display      : none;
	position     : fixed;
	min-width    : 150px;
	margin       : 0;
	background   : #f7f7f7;
	border       : 1px solid #ddd;
	border-radius: 4px;
	box-shadow   : 2px 2px 8px 0 rgba(0, 0, 0, 0.3);
	overflow     : hidden;
	z-index      : 10000;

	li {
		display      : block;
		position     : relative;
		padding      : 0;
		color        : #000;
		cursor       : pointer;
		height       : 40px;
		line-height  : 40px;
		border-bottom: 1px solid #ddd;

		&:last-child {
			border-bottom: 0;
		}

		&:hover {
			background-color: #ddd !important;
			color           : #fff !important;
		}

		span {
			display           : block;
			width             : 100%;
			padding-left      : 27px;
			padding-right     : 27px;
			font-size         : 1.4rem;
			font-family       : $font_m;
			font-weight       : 500;
			color             : #242424;
			text-align        : left !important;
			box-sizing        : border-box;
			-webkit-transition: ease .2s;
			transition        : ease .2s;
		}
	}
}

section {
	position: relative;
}


//푸터
.footer {
	background: #383838;

	.note-editor.note-airframe .note-editing-area .note-editable {
		background: #383838;
	}

	.note-dropdown-menu.dropdown-menu {
		min-width: 100%;
	}

	.right-click-layer span {
		color: #242424 !important;
	}

	.wrap_footer {

		position   : relative;
		max-width  : 1280px;
		width      : 100%;
		padding    : 15px 15px 28px;
		margin     : 0 auto;
		box-sizing : border-box;
		font-family: $font_r;
		color      : #f7f7f7;

		@include mediaquery(mobile) {
			width: auto;
		}

		.right_area {
			display       : flex;
			flex-direction: column;

			.logo {
				display        : inline-flex;
				align-items    : center;
				justify-content: center;
				max-width      : 320px;
				width          : 100%;
				height         : 100px;
				margin         : 0 auto;
				order          : 2;

				img {
					max-width: 100%;
					max-height: 100%;
					object-fit: cover;
				}

				.txt {
					font-size  : $tit_txt;
					font-family: '티몬';
				}
			}

			.sns_icon_area {
				order        : 1;
				margin-left  : auto;
				margin-bottom: 12px;
			}

		}

		.sns_icon_area {
			font-size: 0;

			a {
				display     : inline-block;
				margin-right: 15px;
			}

			.icon-sns1 {
				@include bg(30px, 30px, '../images/icon_playkok.png');
			}

			.icon-sns2 {
				@include bg(30px, 30px, '../images/icon_facebook.png');
			}

			.icon-sns3 {
				@include bg(30px, 30px, '../images/icon_blognaver.png');
			}

			.icon-sns4 {
				@include bg(30px, 30px, '../images/icon_youtube.png');
				margin-right: 0;
			}

			.icon-sns5 {
				@include bg(30px, 30px, '../images/icon_instargram.png');
				margin-right: 0;
			}
		}

		.logo {
			display: inline-block;

			.btn_add {
				width : auto;
				height: 50px;
			}
		}

		.playkok_name {
			margin     : 0 auto 14px;
			text-align : center;
			font-size  : $cont_txt;
			line-height: 1;
		}

		.site_info_area {
			line-height: 1.7;

			* {
				font-size : $pop_cont_txt;
				text-align: center;
			}

			.site_basic_info {
				margin: 0 auto;

				.contact_number {
					display        : flex;
					justify-content: center;

					.fax_num {
						padding: 0 20px;
					}
				}


				.represent .space {
					display    : inline-block;
					width: 18px;
				}

				a {
					display: block;
				}
			}


			.copyright_area {
				display    : block;
				margin-top : 12px;
				font-size  : $pop_cont_txt;
				text-align : center;
				line-height: 1;
			}

			.page_terms_wrap {
				display : flex;
				position: absolute;
				left    : 15px;
				top     : 16px;

				@include mediaquery(mobile) {
					left: 15px;
					top : 15px;
				}

				li {
					line-height: 1;
					font-family: $font_r;


					&:first-child {
						padding-right: 13px;
						border-right : 1px solid #fff;
					}

					&:last-child {
						padding-left: 13px;
					}

					a {
						font-size: $cont_txt;
					}
				}
			}
		}

	}

	&.sty2 {
		//색깔 스타일
		background: #f7f7f7;

		.wrap_footer {

			color: #242424;

			.site_info_area .page_terms_wrap {
				li {
					color: #242424;

					&:first-child {
						border-color: #242424;
					}
				}
			}

		}

		.copyright_area span {
			color      : #757575;
			line-height: 1;
		}

	}

	&.layoutsty2 {

		//레이아웃 스타일
		.wrap_footer {
			display: flex;
			padding: 15px 15px 82px;

			.right_area {
				order      : 2;
				margin-left: auto;
			}


			.left_area {
				order    : 1;
				max-width: 640px;
				width    : 50%;

				@include mediaquery(mobile) {
					width: auto;
				}

				.site_info_area {
					padding-top: 45px;

					@include mediaquery(mobile) {
						padding-top: 0;
					}

					.page_terms_wrap {
						left     : 50%;
						transform: translateX(-50%);
					}

					.contact_number {
						flex-wrap      : wrap;
						width          : 350px;
						justify-content: flex-start;

						@include mediaquery(mobile) {
							width: auto;
						}
					}
				}


				.playkok_name {
					text-align: left;
				}

				.site_info_area * {
					text-align: left;
				}

				.copyright_area {
					position  : absolute;
					bottom    : 28px;
					left      : 50%;
					transform : translateX(-50%);
					margin-top: 0;
					text-align: center;

					@include mediaquery(mobile) {
						position: static;
					}
				}
			}
		}
	}


	@include mediaquery(mobile) {
		.wrap_footer {
			.right_area {
				.logo {
					margin-top: 10px;
				}

				.sns_icon_area {
					position     : relative;
					top          : 27px;
					margin-right : auto;
					margin-bottom: 0;
				}
			}

			.left_area {
				.site_info_area {
					.site_basic_info .contact_number {
						flex-direction: column;
					}

					.page_terms_wrap {
						left     : 50%;
						transform: translateX(-50%);
					}

					.copyright_area {
						margin-top: 0;
					}
				}


			}
		}

		&.layoutsty2 {
			display       : flex;
			flex-direction: column;
			padding-top   : 0;
			padding-bottom: 15px;

			.wrap_footer {
				display       : block;
				padding-bottom: 40px;


				.right_area {
					order       : 0;
					margin-right: auto;

					.logo {
						order     : 0;
						max-width : 235px;
						margin-top: 0;
					}

					.sns_icon_area {
						position    : static;
						margin-right: auto;
					}
				}




				.left_area {
					margin: 0 auto;

					.site_info_area {
						padding-top: 0;

						* {
							text-align: center;
						}

						.contact_number {
							justify-content: center;
						}

						.page_terms_wrap {
							position       : static;
							transform      : none;
							justify-content: center;
						}
					}

					.copyright_area {
						position  : static;
						transform : none;
						margin-top: 15px;
					}
				}
			}
		}
	}
}





.free_block_banner {
	display: block !important;
	width: 100% !important;
	margin: 0 !important;
	position: fixed !important;
	left: 0 !important;
	bottom: 0 !important;			
	line-height: normal;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	text-align: center !important;
	box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.24);
	z-index: 99999;			
	visibility: visible !important;
	background: #fff !important;
	
	.wrap_cont {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		max-width: 1250px;
		width: 100%;
		height: 100px;
		padding: 0 30px;
		margin: 0 auto;
		box-sizing: border-box;
		text-align: center;
	}
	
	.free_site_notice {
		margin: 0 auto;
		font-size: 26px;
		line-height: 34px;
		font-weight:350;
		color:#4d4d4d;
	}
	
	.free_site_notice br {display: none;}
	
	.gradient_txt {
		display: inline-block;
		width:163px; height: 34px;
		margin-left: 10px;
		background:url(../images/banner_txt_pb.png) no-repeat center/cover;
	}
	
	.free_ad_btn {
		display: block;
		width: 200px;
		height: 65px;
		font-size: 20px;
		line-height: 65px;
		text-align: center;
		border-radius: 4px;
		color: #fefefe;
		background: #29abe2;			
	}
	
	.free_ad_btn br {display: none;}

	.logo {width: 299px;}

	@media (max-width:1250px) {
		.wrap_cont {
			max-width:720px;
		}

		.logo {display: none;}
		.free_site_notice {
			margin: 0 15px 0 0;
			font-size: 24px;
			line-height: 32px;
			letter-spacing: -2px;
		}
		.gradient_txt {
			width:153px;
			height: 32px;
		}
		.free_ad_btn {
			width:150px;
			height:65px;
			padding: 11px 0;
			line-height: 1.2;
			
			box-sizing: border-box;
		}
		.free_ad_btn br {display: block;}
	}

	@media (max-width:720px) {
		.wrap_cont {padding: 0 15px;}
		.free_site_notice {margin: 0 7px 0 0;}
			.free_ad_btn { width:16%}
	}


	@media (max-width:620px) {
		
		.free_site_notice br {display: block;}
		.free_ad_btn { width:21%}
	}
	@media (max-width:480px) {
		.wrap_cont {height: 50px; padding:0 9px}
		.free_site_notice { font-size: 12px; line-height: 16px; 
			letter-spacing: 0;
		}
		.gradient_txt {
			width:76px;
			height: 16px;
			margin-left: 5px;
		}
		.free_site_notice br {display: none;}

		.free_ad_btn {
			width:75px;
			height:32px;
			padding: 6px 0;
		font-size: 10px;
		}
	}

}

.btn_only_setting {

	&.sty3 {
		.cont_area {
			padding-top: 0;
		}

		.body_comm,
		.sub_tit {
			display: none;
		}
	}
}


//영상 설정 HP.1-6-3
.wrap_video {
	border          : 1px dashed #ddd;
	background-color: #f4fbfe;
}

//이미지설정, 영상설정, 지도설정 HP.1-6-3
.wrap_ivm {
	.wrap_movie_area {
		display        : flex;
		justify-content: center;
		align-content  : center;
		position       : relative;
		height         : 703px;
		background     : url('../images/icon_movie.svg') no-repeat center/92px;

		.mask_youtube {
			//youtube 영상 위에서 우클릭을 위한 조치
			position: absolute;
			width   : 100%;
			height  : 100%;
			left    : 0;
			top     : 0;
			content : '';
		}

		video {
			max-width: 100%
		}

		.video-js {
			max-width : 100%;
			max-height: 100%;
		}

		&.lightbox {
			.showlightbox {
				position: absolute;
				width   : 100%;
				height  : 100%;
			}

			&.on {
				.video-js {
					position : fixed;
					z-index  : 20;
					top      : 50%;
					left     : 50%;
					transform: translate(-50%, -50%);
					width    : 700px;
					height   : 700px;
				}

				iframe {
					position : fixed;
					z-index  : 20;
					top      : 50%;
					left     : 50%;
					transform: translate(-50%, -50%);
					width    : 1280px;
					height   : 700px;
				}
			}
		}
	}

	&.designEl1 {
		.inner_section {
			padding: 0;

			.txt_area {
				padding    : 27px 0;
				line-height: 1;
			}
		}
	}


	.inner_section.full_width {
		width: 100%;

		.wrap_images_area {
			width : 100%;
			height: auto;

			a {
				width: 100%
			}
		}
	}

	.wrap_images_area {
		//디자인요소 이미지 설정 HP.1-6-3
		height    : 703px;
		background: #eaf7fd url('../images/icon_images.png') no-repeat center/93px 107px;
	}

	.wrap_map_area {
		height    : 703px;
		background: #eaf7fd url('../images/icon_map.png') no-repeat center/94px 90px;
	}

	&.fullvideo {
		.inner_section {
			width: 100%;
			padding: 0;

			.wrap_movie_area {
				height: auto;
			}

			.video-js {
				height    : auto;
				max-width : none;
				max-height: none;
				width     : 1980px;
			}

			.video-js .vjs-tech {
				position: static;
				width   : 1980px;
			}

			iframe {
				height: 780px;
			}
		}
	}
}


.edit-mode {
	.wrap_images_area {background: #eaf7fd url('../images/icon_images.png') no-repeat center/93px 107px;}
	.wrap_map_area {background: #eaf7fd url('../images/icon_map.png') no-repeat center/94px 90px;}
	.wrap_movie_area {			background: #eaf7fd url('../images/icon_movie.svg') no-repeat center/92px 76px;}
}



.link_visual_slide {
	position: absolute;
	top     : 0;
	left    : 0;
	width   : 100%;
	height  : 100%;
	z-index : 10;
}

.add_slide_area {
	display: flex;
	height : 100px;

	.wrap_txt {
		position           : relative;
		width              : 90px;
		height             : 90px;
		margin-right       : 10px;
		background-position: center center !important;
	}

	.txt_area {
		display: none;
	}

	.btn_del {
		position  : absolute;
		z-index   : 10;
		top       : 5px;
		right     : 5px;
		width     : 21px;
		height    : 21px;
		cursor    : pointer;
		background: url('../images/btn_del_mainvisual.png') no-repeat left top;
	}

	.link_visual_slide {
		display: none;
	}

}


.wrap_mainmovie_area {
	//메인비주얼 영상
	overflow   : hidden;
	position   : relative;
	display    : flex;
	max-height : 937px;
	align-items: center;

	.mask_mvis {
		position: absolute;
		top     : 0;
		left    : 0;
		z-index : 5;
		width   : 100%;
		height  : 100%;
	}

	.wrap_txt {
		position   : absolute;
		width      : 100%;
		margin     : 0 auto;
		height     : 780px;
		top        : 0;
		padding-top: 207px;

		@include mediaquery(mobile) {
			height     : calc(100vh - 80px);
			padding-top: 90px;
		}


		.txt_area {
			width : 1280px;
			margin: auto;

			@include mediaquery(pc) {
				width: auto;
			}

			@include mediaquery(tablet) {
				width: auto;
			}

			@include mediaquery(mobile) {
				width: auto;
			}
		}
	}

	h2 {
		font-weight: bold;
		color      : #fff;
		font-size  : 7.2rem;

		@include mediaquery(mobile) {
			font-size: 36px;
		}
	}

	h3 {
		color      : #fff;
		font-weight: bold;
		font-size  : 4rem;

		@include mediaquery(mobile) {
			font-size: 20px;
		}
	}

	p {
		font-size: 3rem;
		color    : #fff;

		@include mediaquery(mobile) {
			font-size: 15px;
		}
	}
}

.main_set_movie .note-editing-area {
	background-size  : cover;
	background-repeat: unset;
}

/* 플러그인 모음 */
.minicolors-theme-default .minicolors-swatch {
	width        : 15px;
	height       : 15px;
	top          : 2px;
	left         : 154px;
	border-radius: 20px;

	.minicolors-swatch-color {
		border-radius: 20px;
	}
}

.btn-group {
	color: #333 !important;
}

.note-icon-caret {
	color: #333 !important;
}

.popover-content {
	text-align: left;
}

.popover-content .dropdown-menu li {
	text-align: left !important;
}

.popover-content .dropdown-menu a {
	color: #333 !important;
}

.note-editor {
	margin-top: 30px;
	z-index   : 100;
}

.note-editor .note-toolbar .note-dropdown-menu,
.note-popover .popover-content .note-dropdown-menu {
	min-width: 100% !important;
}

//스크롤바 커스텀
.mCS-minimal-dark.mCSB_scrollTools_vertical .mCSB_dragger {
	height: 50px !important;
}

//이미지 라이트박스 밖
img.lightInImg,
.lightboxVideo {
	position : fixed;
	top      : 50%;
	left     : 50%;
	width    : 60%;
	z-index  : 30;
	transform: translate(-50%, -50%);
}

.lightBoxImg {
	width    : auto;
	position : fixed;
	top      : 50%;
	left     : 50%;
	z-index  : 31;
	transform: translate(-50%, -50%);
}

//검색 레이어
.search_container {
	width     : 100%;
	height    : 100%;
	position  : fixed;
	left      : 0;
	top       : 0;
	padding   : 300px 0 100px;
	box-sizing: border-box;
	z-index   : 10;
	background: rgba(0, 0, 0, 0.6);


	.inp_box {
		display      : flex;
		align-items  : center;
		height       : 51px;
		width        : 65%;
		max-width    : 470px;
		min-width    : 235px;
		padding      : 0 10px;
		margin       : 0 auto 20px;
		border-bottom: 2px solid #fff;

		.inp_sch_txt {
			width      : 400px;
			padding    : 14px 10px;
			font-family: $font_r;
			font-size  : 2.2rem;
			color      : #ddd;
			box-sizing : border-box;
		}

		.btn_search {
			width      : 30px;
			height     : 30px;
			margin-left: auto;
			background : url('../images/icon_search_white.svg') no-repeat;
		}

	}

	.result_sch_area {
		width     : 65%;
		max-width : 470px;
		min-width : 235px;
		height    : 45vh;
		margin    : 0 auto;
		overflow-y: auto;

		.result_list {
			font-family: $font_r;
			font-size  : 2.2rem;
			color      : #ddd;

			li {
				padding: 15px 0;
			}
		}
	}

	.btn_close_schbox {
		display : block;
		position: absolute;
		right   : 53px;
		top     : 53px;
		@include bg(23px, 24px, '../images/btn_close_white.svg');
		cursor: pointer;
	}

}

// 크리에이터 모드에서 'i'아이콘을 위한 포지션 처리
section,
.img_area,
section .txt_area,
footer .txt_area,
.wrap_txt_area,
section .txt_area,
footer .txt_area,
.btn_area,
header .logo,
header .logo .logoimg,
footer .logo,
.login.on,
.wrap_search.on,
.header,
.main_visual,
footer,
.wrap_images_area,
.wrap_movie_area,
.mask_youtube,
.wrap_map_area,
.padding_sty2,
.wrap_gallery {
	&:hover {
		position: relative;

		.icon_i {
			position       : absolute;
			top            : 10px;
			right          : 10px;
			width          : 30px;
			height         : 30px;
			background-size: cover;
			cursor         : pointer;
		}
	}
}

.main_visual .txt_area .btn_el_setting {
	display: none;
}

.logo .wrap_txt_area {
	outline: 0;
}

.header .wrap_gnb .header_logo .wrap_txt_area .txt_area {
	outline: 0
}

.header .off_icon_i>.icon_i {
	display: none !important;
}