@import '_common';

.virtual_content {
	display: block; position: absolute; content: '';
}

.bg_non_wide .inner_section { // 배경 일반
	background: url(../images/sample_component_four_img.jpg) center/cover;
}

.txt_area .note-editor {padding: 15px}


.wrap_imgtxt.sty2 .img_area {padding: 0 !important;}


section.bg_color1 {background-color: #f2f2f2;}

//빈 페이지
.empty_page {
	height: calc(100vh - 260px - 80px);

	.inner_section {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;

		.icon_emptyblock {
			display: block;
			@include bg(301px, 301px, '../images/empty_block.png');
		}

		.section_tit_center {
			margin-top: 30px;
			font-size: $tit_small_txt;
			color: #4d4d4d;

			.btn_add {
				display: inline-flex;
				width: 26px; height: 26px;
				margin-left: 10px;
				vertical-align: -2px;
				background: #ffffff url(../images/btn_add.svg) center/26px 26px;
			}
		}
	}
}



/* -------------------------------------
			다른 컴포넌트 
--------------------------------------  */
.padding_sty1 {//공백1
	width : 100%;
	height: 30px;
}

.padding_sty2 {//공백2
	position: relative;
	z-index : 30;
	width   : 100%;
	height  : 15px;
}

.wrap_maptxt { //컨텐츠 5_1

	.wrap_map_area {
		padding: 15px;


		.map_area {
			height: 100%;
		}
	}

	.adrs_txt {
		padding: 0 15px;
		font-size: $tit_sub_txt;
		line-height: 1.5;
		text-align: center;
		color: #242424
	}

	.contact_nbr {
		display: flex;
		justify-content: center;

		.tel_txt, .fax_txt {
			padding: 15px;
			font-size: $component_sub_txt;
			color: #242424;
		}
	}

	&.sty2 { //컨텐츠 5_2
		background: #fff;

		.inner_section {
			display: flex;
			align-items: center;

			@include mediaquery(mobile) {
				flex-direction: column;
			}

			.wrap_map_area {
				order: 1;

				width: 640px;
				height: 515px;

				@include mediaquery(mobile) {
					order: 2;
					width: 100%;
				}
			}

			.wrap_txt_area {
				width: 640px;

				@include mediaquery(mobile) {
					order: 1;
					width: auto;

					.txt_area {padding-bottom: 0;}
				}

				.adrs_txt {
					text-align: left;
				}

				.contact_nbr {justify-content: flex-start;}
			}
		}
	}
}


.designEl1 { //텍스트설정 hp1-3-1
	.inner_section {
		//border: 1px dashed #ddd;
		//
		//background: rgba(41, 171, 226, 0.05);

		.txt_area {
			padding: 20px 0;

			p {
				font-size: $tit_txt;
				text-align: center;
			}

		}
	}
}

.dbEl2 { //캘린더
	.inner_section {
		.calendar {

			.fc-prev-button, .fc-next-button {
				background-color: #757575;
				border-color: #757575;
			}

			.fc-today-button {
				background-color: $pink;
				border-color: $pink;
			}

			.fc-dayGridMonth-button, .fc-timeGridWeek-button, .fc-timeGridDay-button {
				background-color: #757575;
				border-color: #757575;

				&.fc-button-active {
					background-color: #242424;
					border-color: #242424;
				}
			}

			.fc-toolbar h2 {font-size: $tit_txt;}

			.fc-day-header {font-size: $cont_txt;}

			.fc-day-top {font-size: $cont_txt;}

			.fc-event {
				font-family: $font_m;
				font-size: $cont_txt;
				background: $blue;
				border-color: $blue;
			}

			.fc-button {font-size: $cont_small_txt;}
		}
	}

}


.logo {
	border: 1px solid transparent;

	.btn_add {display: block;margin: 0 auto;}
}

.btn_click {
	margin: 0 auto;

	&.sty1 {border-radius: 0 !important;}

	&.sty2 {border-radius: 10px !important;}

	&.sty3 {border-radius: 300px !important;}
}

.tool .on {border-bottom: none !important;}

.wrap_pop {position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);z-index: 5000;}