@charset "utf-8";
@import "_common";


em,
a {
    vertical-align: top;
}

.clfix:after {
    content   : ".";
    display   : block;
    height    : 0px;
    clear     : both;
    visibility: hidden;
}

.clfix {
    display: inline-block;
}

.clfix {
    display: block;
}

* html .clfix {
    height: 1%;
}

/* Hides from IE-mac */
.clfix {
    zoom: 1;
}

/*for IE 5.5-7*/

.tit_shop {
    padding    : 27px 0 27px 15px;
    font-size  : 3.6rem;
    line-height: 1;
}

// 2020-11-03 추가

.wrap_thema2_sty {
    display:flex;
    .img_area {
        width:50%;height:1067px;
    }
    .list_sty_half {
        width:50%;
    }
}

@include mediaquery(mobile) {
   .wrap_thema2_sty {
        display:block;
        .img_area {
            width:100%;height:auto;
        }
        .list_sty_half {
            width:100%;
        }
    }
   
}


.wrap_shopitem_box {
    //기본은 진열형

    .inner_section { padding: 30px 0;}

    .list {
        display: flex;
        flex-wrap:wrap;
        margin  : 23px 0 15px;

        li {
            width : 320px; height: 552px;
            padding   : 15px;
            box-sizing: border-box;

            a {
                display        : block;
                border         : 1px solid transparent;
                text-decoration: none;
                box-sizing     : border-box;

                &:hover {
                    color: inherit
                }
            }

            .name {
                margin-top    : 30px;
                color         : #4d4d4d;
                font-size     : 2rem;
                letter-spacing: -0.3px;
                line-height   : 1.2;
            }

            .product-info {
                overflow          : hidden;
                height            : 44px;
                margin-top        : 18px;
                color             : #4d4d4d;
                font-size         : 16px;
                font-weight       : 300;
                line-height       : 1.5;
                text-overflow     : ellipsis;
                display           : -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                word-wrap         : break-word;
            }

            .price-area {
                margin-top: 24px;
            }

            .base-price {
                display    : block;
                color      : #828282;
                height     : 24px;
                font-size  : 1.6rem;
                font-weight: 300;
                line-height: 1.5;
            }

            .price-value {
                display    : block;
                color      : #4d4d4d;
                font-size  : 3rem;
                line-height: 0.8;
            }
        }

        &.sty2 {

            //상품 목록 여러 줄
            li {
                margin-bottom: 30px;
            }
        }


        .image.soldout {
            position: relative;

            &:before {
                content   : '';
                display   : block;
                width     :100%;
                height    : 100%;
                position  : absolute;
                left      : 0;
                top       : 0;
                background: rgba(130, 130, 130, 0.4);
            }

            .soldout_txt {
                display  : inline-block;
                position : absolute;
                left     : 50%;
                top      : 50%;
                transform: translate(-50%, -50%);
                font-size: 2.4rem;
                color    : #fff;
            }
        }
    }

    .etc_info {
        display: none;
    }

    &.sty2 {

        //목록형
        li {
            float : none;
            width : 100%;
            height: auto;
        }

        .image {
            width: 14%;
            padding: 15px;

            &.soldout:before {
                 width     : calc(100% - 30px);
                height    : calc(100% - 30px);
                left      : 15px;
                top       : 15px;
            }


            
        }


        .price-value.soldout {
            font-size: 3rem;
            color    : #828282;
        }




        .product-wrap,
        .descriptions {
            display: flex;
        }

        .product-wrap {
            padding-bottom: 30px;
            border-bottom : 1px solid #efefef
        }

        .descriptions {
            width: 86%;
        }

        .wrap_txt_desc {
            width       : 73.2%;
            padding     : 0 15px;
            margin      : 15px 0;
            border-right: 1px solid #efefef;

            .name {
                margin-top: 0;
            }
        }

        .wrap_info_desc {
            display  : flex;
            flex-wrap: wrap;
            width    : 31%;
            padding  : 0 15px;
            margin   : 15px 0;

            .badges-wrap,
            .price-area,
            .etc_info {
                width              : 100%;
                //      margin-left: auto;
                text-align         : right;
            }

            .badges-wrap {
                order     : 1;
                margin-top: 0;
            }

            .price-area {
                order: 2;
            }

            .base-price,
            .price-value {
                display       : inline-block;
                vertical-align: baseline;
            }

            .base-price {
                margin-right: 9px;
            }

            .etc_info {
                order      : 3;
                display    : block;
                margin-top : 15px;
                font-size  : 1.6rem;
                line-height: 1.5;
            }
        }
    }

    &.sty4 {
        //첫번째 아이템
        margin-top: 30px;
    }

    &.sty3 {
        //마지막 아이템
        margin-bottom: 49px;
    }
}

.badges-wrap {
    overflow  : hidden;
    height    : 25px;
    margin-top: 23px;
    font-size : 0;
}

.bage_com {
    display     : inline-block;
    width       : 60px;
    height      : 25px;
    margin-right: 16px;
    font-size   : 1.3rem;
    line-height : 25px;
    text-align  : center;
    box-sizing  : border-box;

    &:last-child {
        margin-right: 0
    }
}

.bage_new {
    color           : #fff;
    background-color: #29abe2;
}

.bage_sale {
    color           : #fff;
    background-color: #ff4e60;
}

.bage_hit {
    color : #ffc000;
    border: solid 1px #ffc000;
}

.bage_best {
    color : #ff4e60;
    border: solid 1px #ff4e60;
}

.bage_normal {
    color : #4d4d4d;
    border: solid 1px #4d4d4d;
}

.banner_basic_type1.shop {
    .sub_head .inner_section .wrap_txt {
        justify-content: flex-start;

        .wrap_tit {
            margin: 126px 0 0;
        }

        .cont_page_tit {

            text-align   : left;
            margin-bottom: 18px;
            font-size    : $shop_tit;
            color        : #3e1c1c;
        }

        .cont_page_subtit {
            font-size  : $shop_sub_tit;
            text-align : left;
            font-weight: normal;
            color      : #3e1c1c;
            line-height: 1.5;
        }
    }
}


.location {
    //page 내 뎁스
    width  : 1280px;
    margin : 0 auto;
    padding: 60px 0 0 15px;

    .location_nav {
        float: left;
    }

    .tool_search {
        float: right;

        select {
            min-width    : 145px;
            margin-top   : 11px;
            border       : none;
            border-bottom: 1px solid #b4b4b5;
            background   : url(../images/arrow_select_shop.png) no-repeat 95% 50%;
            border-radius: 0px;
            appearance   : none;
            font-size    : 20px;
        }

    }

    a {
        display     : inline-block;
        padding     : 15px 0 13px;
        color       : #4d4d4d;
        font-size   : $shop_sub_tit;
        line-height : 1;
        margin-right: 40px;

        &.depth1_location {
            padding-bottom: 0px;
            margin-right  : 21px;
            padding-right : 28px;
            background    : url('../images/arrow_location.png') no-repeat right top 13px;

            .txt {
                display      : inline-block;
                padding      : 0 1px 13px;
                font-weight  : bold;
                border-bottom: 2px solid #ff4e60;
            }
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

// 라디오 커스텀 정리하기 ~---------------------------------------------------------------------------------
.area_radio {
    display  : flex;
    font-size: 16px;
}

.radio_contain {
    display            : block;
    position           : relative;
    cursor             : pointer;
    -webkit-user-select: none;
    -moz-user-select   : none;
    -ms-user-select    : none;
    user-select        : none;
}

.radio_contain input {
    position: absolute;
    opacity : 0;
    cursor  : pointer;
}

.radio_contain .checkmark {
    position     : relative;
    left         : 0;
    border-radius: 50%;
    border       : 1px solid #efefef;
}

.radio_contain .checkmark:after {
    border-radius: 50%;
    background   : #4d4d4d;
}

.checkmark {
    display         : inline-block;
    background-color: #f8f8f8;
    border-color    : #4d4d4d;
    width           : 21px;
    height          : 20px;
    top             : -1px
}

.radio_contain input:checked~.checkmark {
    border-color: #29abe2;
}

.radio_contain input:checked~.checkmark:after {
    content   : "";
    position  : absolute;
    width     : 13px;
    height    : 12px;
    left      : 3px;
    top       : 3px;
    background: #29abe2
}

.radio_contain:hover .checkmark {
    background-color: #eeeeee;
}

// ~ 라디오 커스텀 정리하기 ---------------------------------------------------------------------------------


.page_list {
    //페이징
    margin-bottom: 49px;

    .pager {
        width      : auto;
        margin     : 0 auto;
        font-family: $font_r;
        font-size  : $cont_txt;
        text-align : center;
        color      : #1c1c1c;

        td {
            width : 40px;
            cursor: pointer;

            .txt_page:hover {
                color: #799dce;
            }
        }


        .prev {
            .icon_prev {
                display: inline-block;
                @include bg(17px, 17px, '../images/icon_arrow1.svg');
                transform          : rotate(180deg);
                background-position: center;
            }
        }

        .next {
            .icon_next {
                display: inline-block;
                @include bg(17px, 17px, '../images/icon_arrow1.svg');
                background-position: center;
            }
        }

        .current_page {
            .txt_page {
                display      : inline-block;
                width        : 34px;
                height       : 24px;
                line-height  : 24px;
                border-radius: 12px;
                font-family  : $font_m;
                color        : #fff;
                background   : #799dce;

                &:hover {
                    color: #fff
                }
            }
        }
    }
}
.scroll_over {position:fixed !important}

.tab_bottom_detail {
    //상품 상세페이지 탭
    position  : relative;
    margin-top: 135px;

    .tab-titles {
        position     : absolute;
        top          : 0;
        width        : 1280px;
        border-bottom: none;
        font-size    : 0;

        li {
            display      : inline-block;
            width        : 25%;
            height       : 60px;
            padding      : 15px 20px 14px;
            border-top   : 1px solid #ddd;
            border-right : 1px solid #ddd;
            border-bottom: 1px solid #4d4d4d;
            background :  #fff;
            text-align   : center;
            color        : #ddd;
            font-size    : 2rem;
            box-sizing   : border-box;
            cursor       : pointer;

            &.active {
                color        : #4d4d4d;
                border       : 1px solid #4d4d4d;
                border-bottom: 1px solid #fff;
                background   : #ffffff;
            }
        }
    }

    .tab-contents {
        padding-top: 60px;

        >li {
            padding-top: 100px;

        }

    }
}

.product-detail .product-essential-info {
    margin-bottom: 30px;
}

.product-detail .product-essential-info .table-title {
    padding-bottom: 10px;
    font-size     : 18px;
    font-weight   : 700;
}


.wrap_payment {
    .sdp-review__title {
        margin-bottom: 4px;
    }

    .wrap_order {
        margin-bottom: 72px;
    }

    .txt_chk_payment {
        margin: 13px 0 27px;
        input {margin-right:5px;}
    }
}

.wrap_payment,
.msg_complete,
.wrap_mypage {
    padding-top: 78px;
    margin-top : 114px;
    border-top : 1px solid #e7e7e7;
}

.msg_complete {
    .txt1 {
        margin-top: 80px;
    }
}


.box_title_button .sdp-review__title {
    float: left;
}

.box_title_button .btn_title_btn {
    float        : right;
    padding      : 7px 17px;
    color        : #fff;
    font-size    : 16px;
    border-radius: 6px;
    background   : #799dce
}


.box_title_button .sdp-review__title {float:left;}
.box_title_button .btn_title_btn {float:right;padding:7px 17px;color:#fff;font-size:16px;border-radius: 6px;background:#799dce}


.receive_info .title_area {display:flex;align-items: center;}
.receive_info .title_area .btn_payment {width:120px;height:30px;margin-left:14px;font-size:16px;line-height:28px;border:1px solid #b4b4b4b5;border-radius: 3px;text-align: center;cursor:pointer;}
.table_shop {
    //쇼핑몰 대표 테이블 디자인
    width        : 100%;
    margin-bottom: 72px;
    table-layout : fixed;
    border-top   : 1px solid #b4b4b5;
    border-bottom: 1px solid #b4b4b5;
    font-size    : 1em;

    th {
        overflow        : hidden;
        padding         : 12px 16px;
        color           : #4d4d4d;
        font-size       : 1.4rem;
        font-weight     : 400;
        border-bottom   : 1px solid #b4b4b5;
        text-align      : center;
        background-color: #e7e7e7;
    }

    td {
        padding      : 12px 16px;
        color        : #333;
        font-size    : 1.4rem;
        border       : none;
        border-bottom: 1px solid #b4b4b5;
        white-space  : normal;
        word-break   : break-all;

        p {
            font-size: 1.4rem;
        }

        .more_info {
            color: #b4b4b5
        }
    }

    td.exchange {
        padding: 12px 30px;

        p {
            padding: 7px 0;
        }

        .tit {
            margin-left: -14px;
        }
    }

    &.sty2 {
        margin-top   : 10px;
        border-top   : none;
        border-bottom: none;

        th,
        td {
            padding  : 21px 16px 23px;
            font-size: 16px;
        }

        td.nodata {
            padding      : 68px 0;
            border-bottom: none;
            color        : #b4b4b5;
            font-size    : 2.4rem;
            text-align   : center;
        }
    }

    &.mb0 {
        margin-bottom: 0 !important;
    }
}

.product-review .num {
    color    : #ff4e60;
    font-size: 1.6rem;
}

.product-review .num {
    color    : #ff4e60;
    font-size: 1.6rem;
}

.wrap_order {

    .info,
    .quantity,
    .amount,
    .shipping {
        display   : inline-block;
        font-size : 1.6rem;
        text-align: center;
    }

    .info {
        width: 54%;
    }

    .quantity {
        width: 12%;
    }

    .amount {
        width: 15%;
    }

    .shipping {
        width: 18%;
    }

    .order_tit {
        width           : 100%;
        height          : 50px;
        border-top      : 1px solid #4d4d4d;
        border-bottom   : 1px solid #b4b4b5;
        background-color: #e7e7e7;

        .tit {
            line-height: 5rem;
        }
    }

    .order_cont {
        display      : flex;
        align-items  : center;
        padding      : 27px 0;
        border-bottom: 1px solid #b4b4b5;

        .info {
            display     : flex;
            padding-left: 32px;
            text-align  : left;

            .thumb img {
                width       : 100px;
                height      : 100px;
                margin-right: 9px;
            }
            .desc {
                width: calc(100% - 100px);
            }

            .tit {
                color      : #383838;
                line-height: 1.25;
            }

            .txt_option {
                display    : block;
                color      : #b4b4b5;
                font-size  : 14px;
                line-height: 1.43;
            }

        }

    }
}


.product-item__table {

    //결제>결제정보 & 받는사람 정보 / 상세페이지 >판매자정보
    select {
        -webkit-appearance: auto;
    }


    .th_accent {
        color     : #fff;
        background: #b4b4b5;
    }

    .th_kong {
        color     : #fff;
        background: #79a500;
    }

    .inp_kong {
        width         : 105px;
        height        : 31px;
        border        : 1px solid #e7e7e7;
        vertical-align: middle;
    }

    .txt_kong {
        margin   : 0 20px 0 10px;
        font-size: 1.6rem;
        color    : #79a500;
    }

    .txt_notice_gray {
        margin-left: 20px;
        color      : #b4b4b5;
    }

    .box_card {
        width           : 318px;
        height          : 115px;
        margin          : 11px 0 0 25px;
        padding         : 20px;
        background-color: #e7e7e7;

        .cardtype {
            margin-bottom: 14px;
        }

        select {
            width      : 200px;
            height     : 31px;
            margin-left: 15px;
        }
    }

}

.msg_complete {
    //주문완료 payment2

    .txt1,
    .txt2 {
        text-align : center;
        line-height: 1.2;
    }

    .txt1 {
        margin-bottom: 30px;
        font-size    : 3rem;

        em {
            color         : #ff4e60;
            vertical-align: top;
        }
    }

    .txt2 {
        font-size    : 2rem;
        margin-bottom: 148px;
    }

    .box1,
    .box2 {
        float: left;
        width: 50%;
    }

    .box2 td {
        padding-left: 57px
    }

    .table-title {
        margin-bottom: 10px;
        font-size    : 2.4rem;
        line-height  : 1.5;
    }

    table {
        margin-bottom: 80px;
    }

    th,
    td {
        font-size: 1.6rem;

        a {
            color: $blue
        }
    }

    .borbn {
        border-bottom: none;
    }

    .cell_address {
        height: 96px;
    }

    .delivery_msg {
        height: 72px;
    }

    .cell_total_price {
        height: 73px;

        th,
        td {
            font-size: 2.4rem;
        }
    }

    .lst {
        color     : #fff;
        background: #b4b4b5;
    }

    .box_btn {
        text-align   : center;
        margin-bottom: 200px;

        .btns {
            display    : block;
            width      : 200px;
            height     : 50px;
            margin     : 0 auto;
            line-height: 50px !important;
        }

        .btn_order_detail {
            margin-right: 20px;
            @include btn(#fff, 1.8rem);
            border: 1px solid #29abe2;
            color : #29abe2;
        }

        .btn_shopping {
            @include btn(#29abe2, 1.8rem);
            border: 1px solid #29abe2;
            color : #fff;
        }
    }
}


.btn_buy {
    @include btn(#29abe2, 2rem);
    display    : block;
    width      : 200px;
    height     : 60px;
    margin     : 0 auto;
    line-height: 60px !important;
}

.btn_blue_line {
    @include btn(#fff);
    color : #28abe2;
    border: 1px solid #28abe2;
}

.btn_bg_blue {
    @include btn(#28abe2);
    border: 1px solid #28abe2;
}

.wrap_mall_pop {
    //쇼핑몰 팝업 공통
    border-radius: 4px;
    background   : #fff;

    .head_area {
        position     : relative;
        height       : 78px;
        padding-left : 31px;
        color        : #4d4d4d;
        font-size    : $shop_sub_tit;
        font-weight  : 500;
        line-height  : 78px;
        text-align   : left;
        border-bottom: 1px solid #b4b4b5;

        .btn_close {
            display: block;
            @include bg(21px, 21px, '../images/btn_close.svg');
            -webkit-background-size: 20px;
            position               : absolute;
            top                    : 15px;
            right                  : 15px;
            background-size        : 20px;
            cursor                 : pointer;
        }
    }

    .box_btn {
        margin-top: 20px;
        text-align: center;

        .btns {
            width      : 180px;
            height     : 50px;
            line-height: 50px !important;
        }

        .btn_cancle {
            margin-right: 60px;
            @include btn(#828282, 2rem);
        }

        .btn_complete {
            @include btn(#28abe2, 2rem);
        }
    }
}

.pop_qna {
    //상세페이지 > 상품 문의 page_detail
    width: 584px;

    .cont_area {
        padding: 30px 28px 20px;

        dt {
            font-size  : 16px;
            line-height: 1.5;
        }

        dd {
            textarea {
                width : 100%;
                height: 237px;
                border: solid 1px #b4b4b5;
            }

            .txt_caution {
                margin   : 10px 0 20px;
                font-size: 14px;
            }

            label {
                font-size: 16px;

                input[type="checkbox"] {
                    position          : relative;
                    top               : 2px;
                    width             : 16px;
                    height            : 16px;
                    margin-right      : 7px;
                    border            : 1px solid #b4b4b5;
                    -webkit-appearance: auto;
                }
            }
        }

    }
}


.section_product_detail {
    margin-top: 114px;
    border-top: 1px solid #e7e7e7;

    .location {
        display    : flex;
        padding-top: 63px;

        a {
            font-size: 14px;
            color    : #828282;
        }
    }

    .wrap_product_info {
        display: flex;
    }

    .product_img_area {
        width       : 555px;
        margin-right: 85px;
        .full_img {display:flex;width:555px;height:610px;align-items:center;}
        .thumb_img {
            display   : flex;
            margin-top: 10px;

            li {display:flex;
                width       : 90px;
                height      : 90px;
                margin-right: 3px;
                align-items:center;
            }
        }
    }

    .info_area {
        select {
            -webkit-appearance: auto;
            font-size         : 16px;
            border            : 1px solid #ddd;
        }

        .select_size {
            width : 120px;
            height: 35px;
        }

        .product_top_info {
            margin-bottom : 15px;
            padding-bottom: 15px;
            border-bottom : 1px solid #efefef
        }

        .product_name {
            width      : 610px;
            height     : 61px;
            font-size  : 24px;
            line-height: 1.5;
        }

        .price-area {
            margin-bottom: 59px;

            .price-value {
                margin-right: 5px;
                font-size   : 2.4rem;
                line-height : 1;
            }

            .base-price {
                color      : #828282;
                font-size  : 1.6rem;
                line-height: 1.5;
            }
        }

        .product_desc {
            margin-bottom: 59px;
            font-size    : 1.6rem;
            line-height  : 1.5;
        }

        .more_info {
            margin-bottom: 59px;

            p {
                font-size  : 2rem;
                line-height: 1.2;

                &:first-child {
                    margin-bottom: 14px;
                }
            }
        }

        .product_input_info {
            dl {
                margin-bottom: 29px;

                &:last-child {
                    margin-bottom: 15px;
                }
            }

            dt {
                margin-bottom: 3px;
                font-size    : 16px;
                line-height  : 1.5;
            }

            dd {
                display: flex;

                &.wrap_quanity_control {
                    padding      : 15px;
                    padding-right: 0;
                    background   : #f8f8f8;
                }
            }

            .price {
                margin-left  : auto;
                padding-right: 15px;
                font-size    : 2rem;
            }
        }

        .num {
            vertical-align: initial;
        }

    }

    .box_quantity {
        display: flex;

        .btns {
            width : 35px;
            height: 35px;
            cursor: pointer;
        }

        .inp_product_quanity {
            width        : 50px;
            height       : 35px;
            font-size    : 16px;
            border-top   : 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            text-align   : center;
            background   : #fff;
        }

        .prod-quantity__minus {
            background: url('../images/btn_product_minus.png') no-repeat left top;
        }

        .prod-quantity__plus {
            background: url('../images/btn_product_plus.png') no-repeat left top;
        }
    }

    .total_price {
        text-align: right;
        font-size : 2.4rem;

        .price {
            font-size     : 2.4rem;
            vertical-align: initial;
        }
    }

    .box_btn {
        padding: 60px 0 15px;

        .btns {
            width      : 295px;
            height     : 60px;
            font-size  : 2.4rem;
            line-height: 60px !important;

            &:first-child {
                margin-right: 20px;
            }
        }
    }

}

.table_review {
    td {
        padding: 24px 0px 53px !important
    }

    .fst_line {
        display: flex;

        .tit {
            margin-right: 10px;
            color       : #383838;
            font-size   : 1.6rem;
            line-height : 1.5;
        }

        .box_star {
            width     : 91px;
            height    : 15px;
            margin-top: 4px;
            background: url('../images/bg_star.png') no-repeat left top;

            .star {
                height    : 15px;
                background: url('../images/bg_star_on.png') no-repeat left top;
            }
        }

        .date {
            margin-left : 10px;
            padding-left: 10px;
            color       : #b4b4b5;
            font-size   : 1.4rem;
            line-height : 1.71;
            background  : url('../images/line_review.gif') no-repeat left center;
        }
    }

    .img_line {
        display: flex;
        margin : 12px 0 5px;

        img {
            width       : calc(12.5% - 7px);
            margin-right: 7px
        }
    }

    .box_written {
        position: relative;

        .write_name {
            position: absolute;
            top     : 24px;
        }

        .box_btn {
            position: absolute;
            bottom  : 26px;

            span {
                font-size: 1.4rem;

                &:first-child {
                    margin-right: 10px;
                }
            }
        }

        .btn_del {
            color: #b4b4b5
        }

        .btn_report {
            color: #ff4e60
        }

    }
}

.table_qna {
    margin: 80px 0 30px !important;

    .answer_state {
        display     : inline-block;
        height      : 30px;
        margin-right: 20px;
        padding     : 0 13px;
        color       : #fff;
        line-height : 30px;
        text-align  : center;
        font-size   : 1.3rem;
        background  : #828282;
    }

    .answer_state.complete {
        background: #799dce
    }

    td:last-child {
        text-align: center;
    }

    .on td {
        background: #f8f8f8;
    }

    .on td:first-child:before {
        content     : "";
        display     : inline-block;
        width       : 12px;
        height      : 18px;
        margin-right: 11px;
        background  : url('../images/ico_reply_qna.png') no-repeat left top;
    }

    .answer_txt {
        display: inline-block;
        width  : 80%
    }

    .ico_secret_writing {
        display     : inline-block;
        width       : 12px;
        height      : 16px;
        margin-right: 5px;
        background  : url('../images/ico_secret_qna.gif') no-repeat left center;
    }

    .question td {
        border-bottom: none;
        background   : #f8f8f8;
    }
}


// Colors
$color-1: #2ecc71;
$color-2: #3498db;
$color-3: #f1c40f;
$color-4: #e74c3c;


.custom-radios {

    div {
        display: inline-block;
    }

    input[type="radio"] {
        display: none;

        +label {
            color      : #333;
            font-family: Arial, sans-serif;
            font-size  : 14px;

            span {
                display            : inline-block;
                width              : 25px;
                height             : 25px;
                margin             : -1px 4px 0 0;
                vertical-align     : middle;
                cursor             : pointer;
                border-radius      : 50%;
                border             : 1px solid #ddd;
                box-shadow         : 0 1px 3px 0 rgba(0, 0, 0, 0.33);
                background-repeat  : no-repeat;
                background-position: center;
                text-align         : center;
                line-height        : 44px;

                img {
                    width     : 50%;
                    margin-top: -22px;
                    opacity   : 0;
                    transition: all .3s ease;
                }
            }
        }

        &#color-1+label span {
            background-color: $color-1;
        }

        &#color-2+label span {
            background-color: $color-2;
        }

        &#color-3+label span {
            background-color: $color-3;
        }

        &#color-4+label span {
            background-color: $color-4;
        }

        &:checked+label span img {
            opacity: 1;
        }
    }
}

.select_box {
    position : relative;
    min-width: 315px;
    cursor   : pointer;

    &.on {
        .list_sel {
            display: block;
            z-index: 10;
        }

        .select_required_option:after {
            background: url('../images/arrow_detail_option_on.png') no-repeat left top;
        }
    }
}

.select_required_option {
    position   : relative;
    display    : inline-block;
    width      : 100%;
    padding    : 6px 35px 7px 10px;
    font-size  : 14px;
    line-height: 1.71;
    border     : 1px solid #ddd;

    &:after {
        content   : "";
        position  : absolute;
        top       : 50%;
        right     : 10px;
        width     : 17px;
        height    : 10px;
        margin-top: -5px;
        background: url('../images/arrow_detail_option.png') no-repeat left top;
    }
}

.list_sel {
    display : none;
    position: absolute;
    width   : 100%;

    li {
        overflow  : hidden;
        padding   : 5px 10px;
        border    : 1px solid #ddd;
        border-top: none;
        background: #f8f8f8;

        &:hover {
            background: #fff
        }
    }

    span {
        font-size  : 14px;
        line-height: 1.71;
    }

    .txt1 {
        float: left
    }

    .txt2 {
        float: right
    }
}


.wrap_mypage {

    /* infobox */
    .info_box {
        width:16%;
        float: left;
        max-width       : 200px;
        text-align  : center;
        border      : 1px solid #e7e7e7
    }

    .user {
        height     : 200px;
        padding-top: 32px;
        background : #e7e7e7;

        .thumb {
            width     : 70px;
            height    : 72px;
            margin    : 0 auto;
            background: url('../images/thumb_userinfo.png') no-repeat left top;
        }

        .user_name {
            font-size  : 2rem;
            padding    : 15px 0 4px;
            line-height: 1.2;
        }

        .user_id {
            font-size: 1.6rem;
        }
    }

    .info_kong {
        display      : inline-block;
        border-bottom: 1px solid #e7e7e7;

        .txt1 {
            margin-top: 24px;
            color     : #79a500
        }

        .txt2 {
            color    : #828282;
            font-size: 1.2rem;
        }

        .btn_charge {
            @include btn(#79a500, 1.6rem, 0);
            width      : 140px;
            height     : 30px;
            margin     : 17px 0 30px;
            line-height: 30px;
        }
    }

    nav li {
        margin-bottom: 10px;
        text-align   : center;
        line-height: 1;

        a {
            font-size      : 1.6rem;
            text-decoration: none;

            &:hover,
            &.on {
                color: #29abe2;
            }
        }
    }    
    .nav_mypage {
        display      : inline-block;
        padding      : 24px 0;
        border-bottom: 1px solid #e7e7e7;
    }

    .nav_etc {
        display      : inline-block;
        padding      : 20px 0 40px;
    }

    /* mypage cont */
    .wrap_mypage_cont {
        width:82%;
        max-width: 990px;
        float: right;
    }

    .box_state_delivery {
        height: 270px;
        border: 3px solid #e7e7e7;

        &.qna_sty {
            display: flex;
            height : 100px;

            .box_search {
                height    : auto;
                background: #fff;
            }

            .btn_search {
                margin-left: 20px;
            }

        }

        .wrap_state {
            display    : flex;
            height     : 170px;
            align-items: center;

            dl {
                width       : 33.3%;
                padding     : 3px 0;
                text-align  : center;
                border-right: 1px solid #e7e7e7;

                &:last-child {
                    width       : 33.4%;
                    border-right: none;
                }
            }

            dt {
                font-size: 2.4rem;
            }

            dd {
                margin-top: 6px;
                font-size : 2rem;

                span {
                    display       : inline-block;
                    vertical-align: initial;
                }

                .num {
                    color       : #29abe2;
                    font-size   : 3.6rem;
                    margin-right: 3px;
                }
            }
        }

        .box_search {
            display    : flex;
            padding: 3%;
            justify-content: center;
            background : #e7e7e7
        }

        .list_month {
            width:43%;
            max-width:420px;
            margin: 0 1% 0 0;

            li {
                float       : left;
                width:16%;
                max-width       : 70px;
                height      : 40px;
                font-size   : 1.6rem;
                line-height : 40px;
                border      : 1px solid #ddd;
                border-right: none;
                text-align  : center;
                background  : #fff;

                &:last-child {
                    border-right: 1px solid #ddd
                }
            }
        }

        .box_sel_calendar {
            width:28%;
            max-width:280px;
            font-size: 0;
        }

        .wrap_calendar {
            display   : inline-block;
            width: 45%;
            max-width:129px;
            position: relative;
            height    : 40px;
            border    : 1px solid #ddd;
            background: #fff;


            &:after {
                content    : " ";
                display    : block;
                position   : absolute;
                top        : 9px;
                right      : 10px;
                width      : 20px;
                height     : 20px;
                margin-left: 7px;
                background : url('../images/ico_calendar.png') no-repeat left top/cover;
            }

            input {
                width:75%;
                max-width     : 97px;
                height    : 25px;
                border    : none;
                background: #fff;
            }
        }

        .inp_line {
            margin: 0 1%;
            font-size: 1.6rem;
        }

        .sel_state {
            width:13%;
            max-width             : 130px;
            height            : 40px;
            margin            : 0 2%;
            padding-left      : 10px;
            font-size         : 1.6rem;
            border            : 1px solid #ddd;
            -webkit-appearance: auto;
        }

        .btn_search {
            width:4%;
            max-width     : 40px;
            height    : 40px;
            background: url('../images/ico_search.png') no-repeat center #29abe2;
        }
    }

    .wrap_order {
        margin-top: 80px;

        .date {
            font-size : 2rem;
            text-align: left;
        }

        .sty2 {
            display: flex;
            padding: 0 30px;
        }

        .link {
            margin-left: auto;

            a {
                display        : block;
                margin-top     : 12px;
                padding-right  : 16px;
                color          : #29abe2;
                font-size      : 1.6rem;
                text-decoration: none;
                background     : url('../images/arrow_link_order.png') no-repeat right 6px;
            }
        }

        .pos_vm {
            align-items: center;
        }

        input[type="checkbox"] {
            width             : 20px;
            height            : 20px;
            margin            : 0 10px 0 0;
            border            : 1px solid #b4b4b5;
            -webkit-appearance: auto;
            vertical-align    : middle;
        }

        .pl0 {
            padding-left: 0;
        }

        .chk_all {
            label {
                color      : #000016;
                font-size  : 1.6rem;
                line-height: 1.5;
            }
        }

        .num_basket {
            vertical-align: initial;
        }

        .txt_shopping_basktet {
            margin-left: auto;
            font-size  : 2rem;
            color      : #000016;
        }

        .ellipsis.multiline {
            white-space: normal;
        }

        .shipping {
            span {display: block;}

            .state {
                color      : #383838;

                &.on {color: #29abe2}
            }

            .state_addtxt {
                font-size: 1.4rem;
            }

            .btns {
                display    : block !important;
                width      : 75px;
                height     : 30px;
                color      : #4d4d4d !important;
            }

            .btn_gray {
                @include btn(#e7e7e7, 1.4rem);
                margin: 10px auto 5px;
                line-height: 30px;
            }

            .btn_white {
                @include btn(#fff, 1.4rem);
                margin: 0px auto;
                line-height: 30px;
                border: 1px solid #e7e7e7
            }
        }

        .desc .tit {
            overflow          : hidden;
            height            : 41px;
            text-overflow     : ellipsis;
            display           : -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            word-wrap         : break-word;
        }

        .order_cont {
            &:last-child {
                border-bottom: none;
            }

            &.product_end {

                .tit,
                .amount {
                    color: #b4b4b5;
                }
            }
        }

        .box_quantity {
            display    : flex;
            margin-left: 9px;

            .btns {
                width          : 30px;
                height         : 30px;
                cursor         : pointer;
                background-size: 30px !important;
            }

            .inp_product_quanity {
                width        : 50px;
                height       : 30px;
                font-size    : 1.4rem;
                border-top   : 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                text-align   : center;
                background   : #fff;
            }

            .prod-quantity__minus {
                background: url('../images/btn_product_minus.png') no-repeat left top;
            }

            .prod-quantity__plus {
                background: url('../images/btn_product_plus.png') no-repeat left top;
            }
        }

        .box_chk_basket {
            width       : 8%;
            padding-left: 30px;
        }

        .box_del_basket {
            width     : 8%;
            text-align: center;

            .btn_del {
                display   : inline-block;
                width     : 20px;
                height    : 20px;
                background: url('../images/btn_del_basket.png') no-repeat left top;
            }
        }
    }

    .tabel_qna {
        .box_question_desc {
            display: inline-block;
            width  : calc(100% - 100px);
        }

        .answer_state {
            margin-top    : 11px;
            vertical-align: top;
        }

        .product_name {
            display  : block;
            font-size: 14px;
            color    : #b4b4b5
        }
    }

    .order_info_box {
        margin-top: 30px;
        border    : solid 3px #e7e7e7;

        .tit_box,
        .cont_box {
            display    : flex;
            padding    : 0 30px;
            align-items: center;
        }

        .tit_box {
            height          : 70px;
            font-size       : 2rem;
            background-color: #e7e7e7;
        }

        .list {
            width: 100%;

            li {
                width        : 100%;
                padding      : 30px;
                border-bottom: 1px solid #e7e7e7;

                &:last-child {
                    border-bottom: none;
                }

            }

            span {
                display  : inline-block;
                font-size: 1.6rem;
            }

            .txt1 {
                width: 115px;
            }

            .txt2 {
                font-weight: bold;
            }
        }

        &.order_detail {
            .cont_box {
                height: 70px;

                span {
                    font-size: 1.6rem;

                    &:first-child:after {
                        content     : "|";
                        margin-right: 10px;
                        padding-left: 10px;
                        color       : #e7e7e7;
                    }
                }
            }
        }

        &.wrap_price_info {
            .cont_box {
                display: block;
                padding: 0;
            }

            li {
                border-bottom: none;

                &.price_info {
                    padding   : 15px 30px;
                    background: #f8f8f8;
                }
            }

            .total_price {
                background: #f8f8f8;

                .wrap_price {
                    display    : flex;
                    height     : 70px;
                    margin     : 0 30px;
                    border-top : 1px solid #e7e7e7;
                    align-items: center;

                    span {
                        display  : inline-block;
                        font-size: 2rem
                    }

                    .txt1 {
                        width: 115px;
                    }

                    .txt2 {
                        font-weight: bold;
                    }

                    .btn_box {
                        margin-left: auto;
                    }

                    .btns {
                        @include btn(#fff, 1.4rem);
                        margin-left: 20px;
                        padding    : 0 11px;
                        color      : #383838;
                        line-height: 30px;
                        border     : 1px solid #b4b4b5;

                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
            }
        }

    }

    .btn_order_list {
        display    : block;
        width      : 200px;
        height     : 50px;
        margin     : 60px auto;
        font-size  : 2rem;
        line-height: 50px;
    }
}

.notice_delivery {
    width        : 100%;
    margin-bottom: 80px;
    border       : 3px solid #e7e7e7;

    .tit_box {
        height     : 70px;
        padding    : 0 30px;
        font-size  : 2rem;
        line-height: 70px;
        background : #e7e7e7;
    }

    .cont_box {
        ul {display: flex; justify-content: space-between; padding: 40px 20px;}  

        li {            
            position: relative;
            width     : 20%;
            text-align: center;

            &:after {
                content:'';
                display: block;
                width:17px; height: 30px;
                position: absolute;
                right:0;
                top:37px;
                background: url(../images/icon_arrow5.png) no-repeat center/cover;
            }

            &:last-child:after {display: none;}
        }

        span {display: block;}

        .tit {
            padding-top: 125px;
            font-size  : 1.6rem;
        }

        @for $i from 1 through 5 {
            li:nth-child(#{$i}) .tit {
                background: url('../images/notice_delivery'+ $i + '.gif') no-repeat top center;
            }
        }

        .txt {font-size: 1.4rem; font-weight: 350;}
    }
}

.wrap_info_basket {
    margin-bottom: 80px;

    input[type="checkbox"] {
        width             : 20px;
        height            : 20px;
        margin            : 0 10px 0 0;
        border            : 1px solid #b4b4b5;
        -webkit-appearance: auto;
        vertical-align    : middle;
    }

    .tit_box {
        display     : flex;
        height      : 70px;
        padding-left: 30px;
        color       : #000016;
        font-size   : 16px;
        align-items : center;
        background  : #e7e7e7;

        .btns {
            @include btn(#fff, 1.4rem);
            margin-left: 20px;
            padding    : 0 11px;
            color      : #383838;
            line-height: 30px;
            border     : 1px solid #b4b4b5;
        }
    }

    .cont_box {
        display    : flex;
        height     : 70px;
        padding    : 0 30px;
        border     : solid 3px #e7e7e7;
        align-items: center;
        font-size  : 20px;

        span {
            vertical-align: initial;
        }

        .txt {
            color: #000016
        }

        .txt_product_price {
            margin-right : 15px;
            padding-right: 37px;
            background   : url('../images/ico_add_basket.gif') no-repeat right center;
        }

        .txt_shipping_charge {
            margin-right : 15px;
            padding-right: 37px;
            background   : url('../images/ico_sum_basket.gif') no-repeat right center;
        }

        .txt_order_amount {
            font-weight: bold;
        }

        .btn_buy {
            width       : 100px;
            height      : 40px;
            margin-right: 0;
            font-size   : 2rem;
            line-height : 40px !important;
        }
    }
}

.pop_basket {
    //장바구니에 담겼습니다 page_detail
    width        : 310px;
    padding      : 41px 0 0;
    text-align   : center;
    border-radius: 4px;
    background   : #fff;

    .pop_txt {
        font-weight: 350;
        font-size  : 14px;
        color      : #4d4d4d;
    }

    .box_btn {
        padding: 42px 0 15px;
    }

    .btn_blue_line {
        margin-right: 30px;
        @include btn(#fff);
        color      : #28abe2;
        width      : 110px;
        height     : 32px;
        line-height: 30px !important;
        border     : 1px solid #28abe2;
    }

    .btn_bg_blue {
        @include btn(#28abe2);
        width      : 110px;
        height     : 32px;
        line-height: 30px !important;
        border     : 1px solid #28abe2;
    }
}

.pop_address {
    //쇼핑몰 팝업 payment1_1.html
    width        : 700px;
    height       : 700px;
    border-radius: 4px;
    background   : #fff;

    .head_area {
        overflow     : hidden;
        height       : 78px;
        line-height  : 78px;
        padding      : 0 32px;
        border-bottom: 2px solid #b4b4b5;
        font-family  : $font_m;
        font-size    : 2rem;
        color        : #4d4d4d;

        .btn_close {
            display   : block;
            float     : right;
            margin-top: 14px;
            @include bg(21px, 21px, '../images/btn_close.svg');
            -webkit-background-size: 20px;
            background-size        : 20px;
            cursor                 : pointer;
        }
    }

    .tab_list {
        display: flex;

        li {
            width        : 50%;
            height       : 47px;
            line-height  : 47px;
            font-size    : 1.6rem;
            color        : #828282;
            text-align   : center;
            border-bottom: 2px solid #b4b4b5;
            background   : #f8f8f8;
            cursor       : pointer;


            &.active {
                color        : #4d4d4d;
                border-bottom: 0;
                background   : #fff;
            }

            &:first-child {
                border-right: 2px solid #b4b4b5;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .tab_content {
        display: none;

        &.active {
            display: block;
        }
    }

    .saved_adres {
        //최근 배송지
        padding: 29px 30px 0;


        .delivery_address_list {
            height    : 434px;
            overflow-y: auto;

            li {
                position     : relative;
                padding      : 20px;
                margin-bottom: 9px;
                background   : #f8f8f8;
                cursor       : pointer;
                color        : #4d4d4d;

                &.active {
                    border: 1px solid $blue;
                }

                .btn_del {
                    display : block;
                    position: absolute;
                    right   : 20px;
                    top     : 20px;
                    @include bg(10px, 11px, '../images/btn_del2.png');

                }
            }

            .name_txt {
                padding-bottom: 11px;
                font-size     : 1.6rem;
            }

            .adres,
            .cellphone {
                padding-bottom: 10px;
                font-size     : 1.4rem;
            }

            .delievery_memo {
                font-size: 1.4rem;
            }
        }
    }

    .new_adres {
        //새로운 배송지
        padding: 60px 70px 33px;

        .delivery-info__table {
            .cell_title {
                width         : 107px;
                padding       : 0 16px 0 0;
                font-size     : 1.6rem;
                text-align    : right;
                letter-spacing: -.9px;
                line-height   : 40px;
                vertical-align: top;
            }

            td {
                padding: 0 0 20px;
            }

            .inp_text {
                height     : 40px;
                line-height: 40px;
                padding    : 0 10px;
                border     : 1px solid #b4b4b5;
                box-sizing : border-box;
                color      : #4d4d4d;
                font-size  : 1.6rem;
                background : #fff;
            }

            .name_td .inp_text {
                width: 177px;
            }

            .inp_zipcode {
                width: 177px;
            }

            .btn_lookup {
                margin-left                  : 8px;
                @include btn(#efefef, $radius:3px);
                width                        : 91px;
                height                       : 40px;
                line-height                  : 40px;
                vertical-align               : top;
                color                        : #4d4d4d;
            }

            .address_detail {
                padding-top: 10px;

                .inp_text {
                    width: 100%;
                }

                .inp_streetname {
                    margin-bottom: 10px;
                }
            }

            .phone_td {

                .select_contain,
                .hyphen,
                .inp_text {
                    display: inline-flex;
                }

                .hyphen {
                    width     : 11px;
                    height    : 2px;
                    background: #b4b4b5;
                    margin    : 0 9px;
                    font-size : 0;
                    overflow  : hidden;
                }


                .inp_text {
                    width         : 91px;
                    vertical-align: middle;
                }


                .select_contain {
                    width     : 91px;
                    background: url('../images/icon_arrow4.png') right 10px bottom 15px/17px no-repeat;

                    .first_number {
                        line-height: 40px;
                        padding    : 0 10px;
                        font-size  : $pop_cont_txt;
                        color      : #4d4d4d
                    }
                }
            }

            .select_list {
                position  : absolute;
                display   : none;
                left      : 0;
                top       : 40px;
                width     : 100%;
                max-height: 200px;
                overflow-y: auto;
                border    : 1px solid #b4b4b5;
                box-sizing: border-box;
                background: #fff;
                z-index   : 1;

                li {
                    height     : 20px;
                    line-height: 20px;
                    padding    : 1px;
                    font-size  : $pop_cont_txt;
                    cursor     : pointer;

                    &:hover {
                        background: #f2f2f2;
                    }
                }
            }

            .select_contain {
                position: relative;
                height  : 40px;
                border  : 1px solid #b4b4b5;

                &.on {
                    .select_list {
                        display: block;
                    }
                }
            }


            .memo_td {
                padding-bottom: 0;

                .select_contain {
                    width        : 450px;
                    margin-bottom: 9px;
                    background   : url('../images/icon_arrow4.png') right 10px bottom 14px/17px no-repeat;

                    .selected_li {
                        line-height: 40px;
                        padding    : 0 10px;
                        font-size  : $pop_cont_txt;
                        color      : #4d4d4d
                    }
                }
            }


            .wrap_my_memo {
                .inp_text {
                    width: 381px
                }

                .text_length {
                    padding-left: 7px;
                    line-height : 40px;
                    font-size   : 1.6rem;
                    color       : #4d4d4d;

                    .count_length {
                        vertical-align: baseline;
                    }
                }

            }
        }
    }


    .foot_area {
        overflow: hidden;
        padding : 30px 140px;

        .btn_cnxl {
            float: left;
            @include btn(#828282);
            width      : 180px;
            height     : 50px;
            line-height: 50px;
            font-size  : 2rem;
        }

        .btn_save {
            float: right;
            @include btn($blue);
            width      : 180px;
            height     : 50px;
            line-height: 50px;
            font-size  : 2rem;
        }
    }
}

.pop_review {
    //구매후기 팝업
    width: 700px;

    .cont_area {
        padding: 29px;
    }

    .review_label {
        display  : block;
        padding  : 0 1px 4px;
        font-size: $pop_head_txt;
        color    : #4d4d4d
    }

    .box_inp_tit {
        padding-bottom: 28px;

        .inp_tit {
            display    : block;
            width      : 100%;
            height     : 31px;
            line-height: 31px;
            padding    : 0 10px;
            border     : 1px solid #b4b4b5;
            box-sizing : border-box;
            font-size  : $pop_head_txt;
            background : #fff;
        }
    }

    .box_star_point,
    .box_review_note {
        padding-bottom: 29px;
    }

    .stars {
        display      : inline-flex;
        padding-right: 7px;

        .icon_star {
            display: inline-block;
            @include bg(26px, 24px, '../images/icon_star.png');
            margin-right: 5px;
            cursor: pointer;

            &.on {
                background-image: url(../images/icon_star_on.png);
            }
        }
    }

    .txt_point {
        display  : inline-flex;
        font-size: $cont_txt;
        color    : #4d4d4d
    }

    .review_note {
        width     : 640px;
        height    : 238px;
        padding   : 10px;
        border    : 1px solid #b4b4b5;
        box-sizing: border-box;
        font-size : $cont_txt;
    }

    .box_file_upload {
        padding-bottom: 30px;
    }

    .add_file {
        display: flex;
        padding-bottom: 9px;

        .btn_add_file {
            @include upload_custom;
            @include btn(#fff, $pop_cont_txt);
            width      : 80px;
            height     : 31px;
            line-height: 31px;
            border     : 1px solid $blue;
            color      : $blue;
        }

        .add_file_note {
            padding    : 9px 0 7px 11px;
            font-weight: 350;
            font-size  : $pop_cont_txt;
            color      : #828282;
        }
    }

    .box_uploaded {
        overflow: hidden;

        .file_one {
            float:left;
            position: relative;
            width:70px;
            height: 70px;
            margin:0 10px 8px 0;


            .file_one_img {
                width: 70px;
                height:70px;
            }
            .btn_del_file {
                display: block;
                @include bg(13px, 13px, '../images/btn_close.svg');
                cursor: pointer;
                position: absolute;
                right:5px;
                top:5px;
            }
        }
    }

    .privacy_note {
        padding    : 0 2px 30px;
        font-weight: 350;
        font-size  : $cont_small_txt;
        color      : #4d4d4d;
    }
}

@include mediaquery(all) {
    .location {width:auto;}
}

@include mediaquery(pc) {
    .location, .wrap_shopitem_box {max-width:960px; margin: 0 auto;}
}

@include mediaquery(tablet) {

    .wrap_mypage .wrap_mypage_cont .btn_search{ margin-left:2%; }
}


@media (max-width:1024px) {

   .location, .wrap_shopitem_box {max-width:640px; margin: 0 auto;}
    .location a {font-size: 2.4rem;}
    .badges-wrap {height: 41px;}
    .bage_com {width:100px; height: 41px; line-height: 41px; font-size: 1.8rem;}
    .wrap_shopitem_box {
        .inner_section {
            padding: 0px 0;
        }
        .tit_shop {padding:20px 15px;}
        .list {
            margin: 0px 0 15px;
            li {width:100%;margin-bottom:20px;height:auto;
                &:first-child {padding-top:0;}
                .name {margin-top:15px; font-size: 2.4rem; font-weight: 500;}
                .product-info {height:auto; margin-top:10px; font-size: 2.2rem; font-weight: 350;}
                .base-price {margin-bottom:5px;height:auto; font-size: 2rem;}
                .price-value {font-size: 2.4rem;}
            }
        }
    }
    .section_product_detail {
        .location {width:100%;padding-top:13px;}
        .wrap_product_info {display:block;
            .box_btn {text-align:center;
                .btns {width:153px;}
            }
        }
        .product_img_area {
            width:100%;
             .full_img {width:100%;height:auto;}
        }
        .info_area  {
            width:auto;
            height:auto;
            padding:0 15px;
            .product_name {width:auto;height:auto;}
            .price-area, .product_desc,  .more_info {margin-bottom:20px;}
            .more_info p:first-child {margin-bottom:10px;}
        }
        .select_box {min-width:unset}
        
    }
    .tab_bottom_detail {margin-top:20px;
        .tab-titles {width:100%;
            li {height:47px;padding:0;font-size:1.4rem;line-height:47px;}
        }
        .tab-contents > li {
                padding-top: 20px;
        }
        .product-detail, .product-item__table {
            width:100%;
            .table_shop {
                colgroup {display:none;}
                tr {overflow:hidden;}
                th, td {display:flex;float:left;text-align:center;padding:0;min-height:59px;align-items:center;justify-content:center;}
                th {width:35%;}
                td {width:65%;flex-direction: column;}
            }
        }
        
        
        .product-review .table_review  {table-layout:auto;}
        .product-review .table_review .fst_line {display:block;}
        .product-review .table_review thead th:last-child {display:none;}
        .product-review .table_review tr td:first-child {padding:15px !important;font-size:1.4rem;}
        .product-review colgroup {display:none;}
        .table_review .fst_line .tit {display:block;}

        .product-review  .table_review  {margin-bottom:22px;}
        .product-review .box_star,  .product-review .date {display:inline-block;}
        .product-review .box_written {display:none;width:30%;font-size:1.4rem;vertical-align:top;
            .write_name, .box_btn {position:static;}
        }
        .fst_line .box_written {display:block;width:auto;margin-top:5px;
            .write_name, .box_btn {display:inline-block;}
            .box_btn {margin-left:10px;}
        }

        .product-etc .essential-info-table  {table-layout:auto;}
        .product-etc .essential-info-table tr th {width:35%;padding:0;}
        .product-etc .essential-info-table  {table-layout:auto;
            th {width:30%}
            td {display:table-cell;width:70%;float:none;
                .tit:first-child {margin-left:0;}
                br {display:none;}
            }
        }
        .table_qna  {table-layout:auto;margin-top:10px !important;}
        .table_qna thead tr th:nth-child(1) {width:60%}
        .table_qna thead tr th:nth-child(2) {width:20%}
        .table_qna thead tr th:nth-child(3) {width:20%}

        
        .table_qna tr td:nth-child(3) {padding:0;}
        .table_qna th, .table_qna td {padding:10px;font-size:1.4rem;}
        .table_qna .answer_state {height:auto;margin-right:5px;line-height:initial;}
        .table_qna .answer_txt {width:auto;margin:5px 0 0 25px;}
    }

    //마이페이지 미디어쿼리
    .wrap_mypage {
      margin-top: 10px; padding: 0 15px; border-top: 0;
      
      .info_box { width: auto; max-width:unset; float: none; margin: 0 auto; border: 0; }
      .user {
          width: 50%; height: auto;
      
        .user_name { padding: 14px 0 8px; font-size: 3rem; }
        .user_id { padding-bottom: 30px; font-size: 2.6rem; font-weight: 350; }
      }

      .wrap_user_info { display: -webkit-box; display: -ms-flexbox; display: flex; }

      .info_kong {
        width: 50%;
        .txt1 { margin-top: 47px; margin-bottom: 9px; font-size: 2.4rem; }
        .txt2 { padding-bottom: 19px; font-weight: 350; font-size: 1.8rem; color: #828282; }

        .btn_charge { width: 100%; max-width: 210px; height: 45px; line-height: 45px; font-size: 2.4rem; }
      }

        .nav_mypage {
            display: block; width: 100%; padding: 40px 0 18px;

            ul {
                display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify;
                justify-content: space-between;

                li {
                    margin-bottom: 0; 
                    a { font-size: 2.4rem; font-weight: 350; }
                }
            }        
        }

        .nav_etc { width: 100%;

            ul { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute;
                justify-content: space-around;
                 
                 li { margin: 0; 
                     a { font-size: 2.4rem; font-weight: 350; }
                 }
            }        
        }

        .wrap_mypage_cont {
            width: 100%; float: none;
        
            .box_state_delivery {
                height: auto; 
                .wrap_state { height: auto; 
                    dl { margin: 35px 0; padding: 12px 0; }
                }

                .list_month {
                    width: 100%; max-width: 625px; margin: 0 0 15px;

                    li {
                        width: 16.6%; max-width:unset; height: 60px; line-height: 60px;

                        a { font-size: 2.4rem; font-weight: 350; }                
                    }    
                }

                .box_sel_calendar {
                    display: -webkit-box; display: -ms-flexbox; display: flex;
                    width: 69%; max-width:430px;
                
                    .wrap_calendar {
                        width: 45%; max-width: 195px; height: 60px;

                        &:after { width: 30px; height: 30px; top: 14px; right: 10px;}

                        input { width: 79%; max-width: 155px; height: 100%; }
                    }            
                    .inp_line { line-height: 60px; }
                
                }

                .sel_state {
                    width: 31%; max-width: 195px; height: 60px; line-height: 60px;
                    margin: 0; padding: 0;
                    font-size: 2.4rem; font-weight: 350;
                
                }        
            }

            .btn_search {
                width: 17%; max-width: 110px; height: 60px; line-height: 60px;
                padding: 0 2%;
                font-size: 2rem; text-align: left; background-position: center right 22px;

                .blind { width: auto; height: auto; margin: 0; position: static; font-size: 2rem; color: #fff; vertical-align: top; font-style: normal !important; }
            }

            .box_search {
                flex-wrap:wrap;

                .blind { position: static; font-size: 2rem; color: #fff; }        
            }
        }

        .wrap_order {
            margin-top: 75px;
            .date { font-size: 3rem; font-weight: 500; line-height: 1; padding: 24px 0; }

            .link a { margin-top: 0; font-size: 2.4rem; font-weight: 350; }
        }

        .order_tit {
            height: 70px; line-height: 70px;
            &.sty2 { border-top: 0; }
        }

        .order_cont {
            flex-wrap: wrap;

            .info {
                width: 100%; padding-left: 0;
                padding-bottom: 29px;
                border-bottom: 1px solid #e7e7e7;

                .thumb {
                    padding-right: 15px;
                
                    img {
                        width:150px; height: 150px;
                        margin-right: 15px;                
                    }
                }

                .desc {width:calc(100% - 115px)}

                .tit {
                    margin-right: 16px;
                    height:auto; -webkit-line-clamp: 3;
                    letter-spacing: 1px;
                    font-size: 2.4rem; font-weight: 500;                
                }

                .box_option_info {
                    margin-top: 13px;
                    font-size: 2.2rem;
                    font-weight: 350;

                    .txt_option {
                        padding-bottom: 6px;
                        line-height: 1;
                        font-size: 2.2rem;

                        &:last-child {padding-bottom: 0px;}
                    }
                }
            }

            .blind { position: static; font-size: 2.4rem; font-weight: 350; width: auto; height: auto; }

            .quantity {
                width: 100%; display: flex; justify-content: space-between;            
                padding-top: 29px;
                font-weight: 350; font-size: 2.4rem;
                color:#4d4d4d;
            }

            .amount {
                width: 100%; display: flex; justify-content: space-between;            
                padding-top: 22px;
                font-weight: 350; font-size: 2.4rem;
                color:#4d4d4d;
            }

            .shipping {
                width: 100%; display: flex;
                padding-top: 9px;

                .btns {                    
                    width:113px; height: 37px;
                    line-height: 37px;
                    font-size: 2.2rem; font-weight: 350; color:#383838;
                }

                .btn_white {order: 1; margin-left: auto; margin-right: 0;}
                .btn_gray {order: 2; margin: 0; margin-left: 10px;}

                .state {
                    font-size: 2.4rem; color:#4d4d4d;
                    line-height: 37px; vertical-align: top;
                }
            }
        }

        .notice_delivery {
            width: auto;
            
            ul {padding: 30px 10px;          
                li:after {display: none;}
            }
            .tit_box {font-size: 3rem;}
            .tit {font-size: 2.4rem; padding-bottom: 9px;}
            .txt {font-size: 1.8rem;}
        }
    }

    .page_list .pager {font-size: 2.2rem;} 
}
@media (max-width:850px) {
    .wrap_mypage .wrap_mypage_cont .btn_search {margin-top: 3%; max-width:unset; width:110px;}
}


@media (max-width:480px) {
    .wrap_mypage {

        .user {padding-top: 16px;
        
            .user_name {
                padding: 7px 0 4px;
                font-size: 15px;
            }

            .user_id {
                padding-bottom: 15px;
                font-size: 13px;
            }

            .thumb {width:35px; height: 36px; background-size: cover;}
        }
    
        .info_kong {
            .txt1 {
                margin-top: 23px; margin-bottom: 5px;
                font-size: 12px;    
            }
            .txt2 {
                padding-bottom: 10px;
                font-size: 11px;
            }

            .btn_charge {
                max-width:105px;
                height: 22px;
                line-height: 22px;
                margin: 8px 0 15px;
                font-size: 12px;
            }
        }

        .nav_mypage {
            padding: 20px 0 9px;
            ul li a {font-size: 12px;}    
        }

        .nav_etc {
            padding: 10px 0 20px;
            ul li a {font-size: 12px;}    
        }

        .wrap_mypage_cont .box_state_delivery {
            .wrap_state dl {
                margin: 17px 0; padding: 6px 0;

                dt {font-size: 12px;}
                dd {font-size: 10px;
                    .num {font-size: 18px;}

                }
            }

            .list_month {
                margin: 13px auto 8px;

                li {height: 30px; line-height: 30px;
                    a {font-size: 12px;}
                }
            }

            .box_sel_calendar {
                .wrap_calendar {
                    height: 30px;

                    &:after {
                        width:15px; height:15px;
                        margin-left: 4px; 
                        top:5px; background-size: cover;
                        vertical-align: top;
                    }
                }

                .inp_line {line-height: 30px;}
            }

            .sel_state {height: 30px; line-height: 30px; font-size: 12px;}
        }

        .wrap_mypage_cont .btn_search {
            width:55px;
            height:30px; line-height: 30px;
            margin-top: 15px;
            padding: 0 12px;
            font-size: 10px;
            background-position: center right 12px;
            background-size: 10px 10px;

            .blind {font-size: 10px;}
        }

        .wrap_order {
            margin-top: 38px;

            .order_tit {
                height: 35px; line-height: 35px;
                padding: 0 15px;                
            }

            .date {
                padding: 12px 0;
                font-size: 15px;
            }

            .link a {
                padding-left: 8px; font-size: 12px;
            }
            
            .order_cont {padding: 13px 0;
            
                .info {padding-bottom: 15px; font-size: 10px;
                
                    .thumb {padding-right: 8px;
                        img {width: 75px; height: 75px; margin-right: 8px;}
                    }

                    .desc {width:calc(100% - 83px)}

                    .tit {margin-right: 8px; font-size: 12px;}

                    .box_option_info {margin-top: 6px;
                        .txt_option {padding-bottom: 4px; font-size: 11px;}
                    }
                    
                }

                .shipping {
                    .state {font-size: 12px; line-height: 18px;}
                    .btns {font-size: 12px; width:58px; height: 18px; line-height: 18px;}
                
                }
            }
        
            .blind {font-size: 12px;}
            .quantity {padding-top: 15px; font-size: 12px;}
            .amount {padding-top: 11px; font-size: 12px;}
        }

        .notice_delivery {     
            margin-bottom: 40px;       

            ul {
                flex-wrap:wrap;
                padding: 15px 5px;

                li {width:100%}
            }
            .tit_box {padding: 0 15px; height: 35px; line-height: 35px; font-size: 15px;}
            .tit {font-size: 12px; padding-bottom: 5px;}
            .txt {font-size: 10px;}
        }
    }
}