@charset "utf-8";
@import "_common";


.useradmin_poparea {
    position: fixed; top: 50%; left: 50%;
    height: 85vh;
    overflow: auto;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 300;
}
/* ftp */
// @charset "utf-8";

//일반 글자크기
// $tit_txt       : 3rem;
// $tit_small_txt : 2.8rem;
// $tit_sub_txt   : 2.4rem;
// $cont_txt      : 1.6rem;
// $cont_small_txt: 1.4rem;
// $cont_big_txt : 2rem;
// $btn_txt       : 2rem;
// $tit_big_txt   : 4.4rem;
// $tit_big_txt2  : 4.8rem;
// $cont_tit_txt  : 2.6rem;

//팝업 글자크기
// $pop_head_txt: 1.6rem;
// $pop_cont_txt: 1.4rem;
// $pop_sub_txt : 1.3rem;

// $component_sub_txt: 2rem;

//SHOP 글자크기
// $shop_tit : 3.6rem;
// $shop_sub_tit: 2rem;

//빌더 대표 글꼴
// $font_r: '본고딕';
// $font_m: notoSans-M;
// $font_b: notoSans-b;
// $font_d: notoSans-D;

//대표 색상
// $blue: #29abe2;
// $pink: #e07272;
// $watermelon: #ff4e60;

// @mixin bg($width, $height, $url) {
// 	width: $width;
// 	height: $height;
// 	background: url($url) no-repeat left top;
// 	background-size: $width $height;
// }

// @mixin btn($color, $fontsize:1.6rem, $radius:4px) {
// 	display: inline-block;
// 	border-radius: $radius;
// 	background: $color;
// 	letter-spacing: -0.9px;
// 	font-weight: 500;
// 	text-align: center;
// 	color: #fff;
// 	font-size: $fontsize;
// 	line-height: 1;
// 	cursor: pointer;
// }

// @mixin check_custom1($width, $height, $border, $padding:28px) {//좌측 기준
// 	display: inline-block;
// 	position: relative;
// 	padding-left: $padding;
// 	cursor: pointer;
// 	-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
// 	input {position: absolute; height: 0; width: 0; opacity: 0; cursor: pointer}
// 	.checkmark {position: absolute;	top: 0;	left: 0;	height: $height;width: $width;	border: $border;}
// }

// @mixin check_custom2($width, $height, $border, $padding:28px) {//우측 기준
// 	display            : inline-block;
// 	position           : relative;
// 	cursor             : pointer;
// 	-webkit-user-select: none;
// 	-moz-user-select   : none;
// 	-ms-user-select    : none;
// 	user-select        : none;

// 	input {
// 		position: absolute;
// 		height  : 0;
// 		width   : 0;
// 		opacity : 0;
// 		cursor  : pointer;
// 	}

// 	.checkmark {
// 		position: absolute;
// 		top     : 0;
// 		right   : 0;
// 		height  : $height;
// 		width   : $width;
// 		border  : $border;
// 	}
// }

// @mixin checkmark {
// 	input:checked +.checkmark:after {
// 		display     : block;
// 		width       : 7px;
// 		height      : 12px;
// 		position    : absolute;
// 		left        : 5px;
// 		top         : 0;
// 		border      : solid $pink;
// 		border-width: 0 3px 3px 0;
// 		transform   : rotate(45deg);
// 		content     : '';
// 	}
// }

// @mixin radiomark($bgc:$blue) {
// 	input:checked+.checkmark:after {
// 		display      : block;
// 		width        : 12px;
// 		height       : 12px;
// 		position     : absolute;
// 		left         : 3px;
// 		top          : 3px;
// 		background   : $bgc;
// 		border-radius: 50%;
// 		content      : '';
// 	}
// }

// @mixin upload_custom {
// 	label {
// 		display      : block;
// 		cursor       : pointer;
// 		margin-bottom: 0;
// 	}

// 	input {
// 		display: none;
// 	}
// }

// @mixin custom_tt($top:-83px, $width:330px, $height:127px, $ml:-165px) {
// 	display       : inline-block;
// 	position      : relative;
// 	z-index       : 5001;
// 	margin-left   : 6px;
// 	vertical-align: 1px;

// 	.mark_tooltip {
// 		display         : inline-block;
// 		position        : relative;
// 		width           : 21px;
// 		height          : 21px;
// 		border-radius   : 50%;
// 		font-size       : $pop_cont_txt;
// 		font-family     : $font_r;
// 		text-align      : center;
// 		line-height     : 21px;
// 		vertical-align  : top;
// 		background-color: #fff;
// 		border          : 1px solid #ddd;

// 		&:hover {
// 			cursor: pointer;
// 		}

// 		&:hover~.tooltip_note {
// 			display: block;
// 		}
// 	}

// 	.tooltip_note {
// 		display    : none;
// 		position   : absolute;
// 		left       : 50%;
// 		margin-left: $ml;
// 		top        : $top;
// 		padding    : 30px 27px 0;
// 		@include bg($width, $height, '../images/bg_tooltip1.svg');
// 		box-sizing: border-box;

// 		p {
// 			font-size     : $pop_cont_txt;
// 			font-family   : $font_r;
// 			line-height   : 1.4;
// 			letter-spacing: -0.8px;
// 			padding-bottom: 15px;

// 			&:last-child {
// 				padding-bottom: 0;
// 			}
// 		}
// 	}
// }

// @mixin mediaquery($hd) {

// 	//미디어쿼리
// 	@if $hd==mobile {

// 		//저해상도 태블릿, 모바일(가로)
// 		@media (max-width: 767px) {
// 			@content;
// 		}
// 	}

// 	@else if $hd==tablet {

// 		//Device = 태블릿, 아이패드
// 		@media (min-width: 768px) and (max-width: 1024px) {
// 			@content;
// 		}
// 	}

// 	@else if $hd==pc {

// 		//Device = 랩탑, 데스크탑
// 		@media (min-width: 1025px) and (max-width: 1280px) {
// 			@content;
// 		}
// 	}

// 	@else if $hd==all {

// 		//모바일 가로~작은 데스크탑
// 		@media (max-width:1280px) {
// 			@content;
// 		}
// 	}
// }
/* ftp */

$userAdminTit: 2.5rem;
$userAdminSubtit: 2rem;
$userAdminInput: 1.8rem;

$userAdminPinkRed: #e64c4c;

.pb_header {
    //유저관리자 헤더
    display: flex;
    align-items: center;
    width: 100%;
    padding: 17px 57px;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    background: #fff;
    z-index: 1;

    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 11px;
        position: fixed;
        left: 0;
        top: 80px;
        background: url("../images/bg_gradient.png") no-repeat;
    }

    .logo_pb {
        width: 131px;
        height: 30px;
    }

    .logo_pk {
        width: 111px;
        height: 29px;
        margin-left: auto;
        font-size: 1rem;
    }

    .my_profileimg {
        width: 46px;
        height: 46px;
        margin: 0 16px 0 27px;

        img {
            border-radius: 50%;
        }
    }

    .pb_menu {
        position: relative;

        .user_hello {
            padding: 0 20px;
            height: 33px;
            line-height: 33px;
            font-size: $cont_small_txt;
            color: #4d4d4d;
            background: #fff;
            border: 1px solid #4d4d4d;
            border-radius: 17px;
            cursor: pointer;

            .name_txt {
                vertical-align: top;
                color: #1257f3;
            }

            .btn_arrow {
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 0;
                border-top: 9px solid #4d4d4d;
                margin-left: 14px;
                vertical-align: 1px;
            }
        }

        .pb_menu_cont {
            display: none;
            position: absolute;
            width: 176px;
            left: 50%;
            border: 1px solid #4d4d4d;
            box-shadow: 0 0 12.8px 2.3px rgba(234, 236, 243, 0.4);
            background-color: #ffffff;
            cursor: default;
            transform: translate(-50%);
        }

        &.on {
            .pb_menu_cont {
                display: block;
            }

            .btn_arrow {
                border-top: 0;
                border-bottom: 10px solid #4d4d4d;
            }
        }
    }

    .btn_logout {
        margin-left: 14px;
        @include btn(#fff, $fontsize: $cont_small_txt, $radius: 17px);
        width: 105px;
        height: 33px;
        line-height: 33px;
        border: 1px solid #4d4d4d;
        color: #4d4d4d;
    }
}

.lnb_wrap {
    //유저관리자 lnb
    overflow-y: auto;
    width: 300px;
    height: calc(100% - 80px);
    position: fixed;
    left: 0;
    top: 80px;
    background: #4b4b4b;

    .mCSB_inside > .mCSB_container {
        margin-right: 10px;
    }

    .depth1_li {

        .list_depth2 {
            overflow: hidden;
            height: 0;
            transition: all 0.5s;

            &.active {
                height: auto;
                transition: all 1s;

                .depth2_li.on {
                    background: #f8f8f8;

                    .menu2_txt {
                        color: #4b4b4b;
                    }
                }
            }
        }

        .menu_txt {
            font-size: 1.8rem;
            font-family: $font_d;
            color: #f8f8f8;
        }

        .icon_arrow {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: auto;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 9px solid #fff;
        }

        .icon_home {
            display: inline-block;
            margin-right: 12px;
            @include bg(26px, 29px, '../images/icon_home.svg')
        }

        .icon_watch {
            display: inline-block;
            margin-right: 12px;
            @include bg(27px, 27px, '../images/icon_watch.png')
        }

        .icon_roller {
            display: inline-block;
            margin-right: 9px;
            @include bg(29px, 31px, '../images/icon_roller.png')
        }

        .icon_mbcircle {
            display: inline-block;
            margin-right: 10px;
            @include bg(29px, 29px, '../images/icon_mbcircle.svg')
        }

        .icon_statistics {
            display: inline-block;
            margin-right: 10px;
            @include bg(29px, 29px, '../images/icon_statistics.png')
        }

        .icon_airplane {
            display: inline-block;
            margin-right: 10px;
            @include bg(30px, 29px, '../images/icon_airplane.png')
        }

        .icon_tobni {
            display: inline-block;
            margin-right: 9px;
            @include bg(31px, 31px, '../images/icon_tobni.png')
        }

        .icon_mall {
            display: inline-block;
            margin-right: 12px;
            @include bg(28px, 33px, '../images/icon_mall.png')
        }

        &.on {
            background: #f8f8f8;

            .menu_txt {
                color: #4b4b4b;
            }

            &.lnb_mall,
            &.lnb_sites,
            &.lnb_statistics {
                background: transparent;

                .menu_txt {
                    color: #f8f8f8;
                }

                .box_depth2 {
                    border-bottom: 1px solid #9e9e9e;
                }
            }

            .box_depth2 {
                border-bottom: 0;
            }

            .icon_home {
                @include bg(26px, 29px, '../images/icon_home_on.svg');
            }

            .icon_watch {
                @include bg(27px, 27px, '../images/icon_watch_on.png');
            }

            .icon_mbcircle {
                @include bg(29px, 29px, '../images/icon_mbcircle_on.svg')
            }

            .icon_airplane {
                @include bg(30px, 29px, '../images/icon_airplane_on.png')
            }

            .icon_tobni {
                @include bg(31px, 31px, '../images/icon_tobni_on.png')
            }

            .icon_roller {
                @include bg(29px, 31px, '../images/icon_roller_on.png')
            }

            .icon_arrow {
                border-top: 0;
                border-bottom: 9px solid #fff;
            }
        }

        .box_depth2 {
            display: block;
            width: calc(100% - 30px);
            height: 100%;
            margin: 0 15px;
            border-bottom: 1px solid #9e9e9e;
            box-sizing: border-box;

            .wrap_menu {
                display: flex;
                align-items: center;
                padding: 23px 20px;
            }

            &:hover {
                .menu_txt {
                    text-decoration: underline;
                }
            }
        }

        .depth2_li {
            &.on {
                background-color: #fff;

                .li_wrap {
                    border-bottom: 0;
                }

                .menu2_txt {
                    color: #4b4b4b;
                }
            }

            &:hover {
                .menu2_txt {
                    text-decoration: underline;
                }
            }
        }

        .count_badge {
            display: block;
            width: 40px;
            height: 20px;
            position: absolute;
            right: 51px;
            top: 29px;
            line-height: 20px;
            border-radius: 30px;
            background: #2ea9df;
            font-size: 14px;
            text-align: center;
            color: #fff;
            font-weight: 350;
        }

        .li_wrap {
            display: block;
            margin: 0 15px 0 65px;
            position: relative;
            border-bottom: 1px solid #9e9e9e;

            .menu2_txt {
                display: block;
                padding: 28px 30px;
                font-size: 1.8rem;
                font-family: $font_d;
                color: #ddd;
            }
        }
    }
}

.admin_tit {
    position: relative;
    padding: 35px 0 33px;
    margin-bottom: 17px;
    border-bottom: 1px solid #d7d7d7;
    font-family: $font_m;
    letter-spacing: 2.5px;
    font-size: $userAdminTit;

    .btn_save {
        @include btn($watermelon);
        position: absolute;
        right: 0;
        top: 35px;
        width: 110px;
        height: 32px;
        line-height: 32px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.admin_subtit {
    padding: 21px 30px;
    font-family: $font_m;
    font-size: $userAdminSubtit;
    letter-spacing: 2px;
}

/*-------------------유저관리자-------------*/

.pb_user_admin {
    width: calc(100% - 300px);
    height: calc(100% - 80px);
    overflow-y: auto;
    margin-top: 80px;
    margin-left: 300px;
    font-family: $font_r;
    color: #4d4d4d;

    .page_container {
        min-height: 100%;
        padding: 75px 46px 60px 69px;
        box-sizing: border-box;
        background: #f8f8f8;

        .main_panel {
            height: 100%;
            background: #fff;

            .user_admin_cont {
                width: 1506px;
                padding: 0 42px;
                border: 1px solid #d7d7d7;
                border-radius: 10px;
                background: #fff;
                box-sizing: border-box;
            }

            .btn_back {
                display: inline-block;
                margin-right: 5px;
                @include bg(35px, 12px, '../images/btn_back2.svg');
                cursor: pointer;
            }
        }
    }

    .page_list {
        padding-top: 20px;
        padding-bottom: 68px;

        .pager {
            width: auto;
            margin: 0 auto;
            font-family: $font_r;
            font-size: 1.8rem;
            text-align: center;
            color: #7e7e7e;

            td {
                width: 50px;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }

            .txt_page {
                display: block;
                height: 20px;
                border-right: 1px solid #7e7e7e;

            }

            .current_page {
                .txt_page {
                    color: #2ea9df;
                }
            }
        }
    }

    /*---------------------- 대시보드 --------------------*/
    .dashboard_container {
        display: flex;
        flex-wrap: wrap;

        .dash_cont {
            width: 690px;
            height: 420px;
            border: 1px solid #d7d7d7;
            background: #fff;
            box-sizing: border-box;

            &:nth-child(even) {
                margin-left: auto;
            }
        }

        .visit_days_info {
            border: 0;

            .admin_subtit {
                border: 1px solid #d7d7d7;
                border-bottom: 0;
            }
        }

        .visiter_tbl {

            //일자별 요약
            thead th {
                padding: 9px 0 8px;
                border-bottom: 2px solid #fff;
                text-align: center;
                font-size: $cont_txt;
                color: #fff;
                background: #4b4b4b;
            }

            td {
                padding: 11px 0 9px;
                border-bottom: 2px solid #fff;
                background: #efefef;
                font-size: $cont_small_txt;
                color: #4b4b4b;
                text-align: center;
                letter-spacing: 1.4px;
            }

            tfoot th {
                padding: 8px 0 7px;
                border-bottom: 2px solid #fff;
                font-size: $cont_txt;
                color: #4b4b4b;
                letter-spacing: 1.6px;
                background: #efefef;
            }
        }
    }
}

.badge_new {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 8px;
    border-radius: 50%;
    background-color: #ce7979;
    font-size: $cont_small_txt;
    font-family: $font_m;
    text-align: center;
    line-height: 20px;
    vertical-align: 1px;
    color: #fff;
}

.new_member {
    margin-top: 40px;
    margin-bottom: 43px;

    .admin_subtit {
        display: flex;
        align-items: center;
        padding-bottom: 35px;

        .badge_cnt {
            width: 40px;
            height: 20px;
            margin-left: 9px;
            border-radius: 10px;
            background: $blue;
            color: #fff;
            font-size: $cont_small_txt;
            text-align: center;
            line-height: 19px;
        }

        .btn_more {
            margin-left: auto;
            margin-right: 51px;
            font-family: $font_d;
            font-size: $cont_txt;
            color: #4d4d4d;
            letter-spacing: 1px;
        }
    }

    .newmember_tbl {
        td {
            padding: 22px 4px 3px;
        }

        tbody tr:first-child {
            td {
                padding-top: 3px;
            }
        }

        .nick_td {
            font-family: $font_d;
            font-size: $cont_txt;
        }
    }
}

.my_infobox {
    margin-top: 40px;
    margin-bottom: 43px;
    text-align: left;

    .admin_subtit {
        padding-bottom: 36px;
    }

    .my_info_tbl {

        th {
            padding: 22px 4px 5px;
            border-bottom: 1px solid #d7d7d7;
            font-family: $font_d;
            font-size: $cont_txt;
        }

        td {
            padding: 22px 4px 3px;
        }

        tbody tr:first-child {
            th {
                padding-top: 5px;
            }

            td {
                padding-top: 3px;
            }
        }

        .itsite_lv,
        .mymbsh_td,
        .mysite_cnt {
            position: relative;
        }

        .btn_chg_mbsh,
        .btn_mysite,
        .btn_upgrsite {
            position: absolute;
            bottom: 5px;
            right: 7px;
            font-family: $font_d;
        }
    }
}

.my_info_tbl,
.newmember_tbl {
    margin: 0 71px 47px 66px;

    td {
        border-bottom: 1px solid #d7d7d7;
        font-size: $cont_small_txt;
        color: #4b4b4b;
    }
}

.search_go_inp {
    display: flex;
    align-items: center;
    height: 60px;
    border: 1px solid #d7d7d7;
    box-sizing: border-box;
    background: #fff;

    .inp {
        width: 347px;
        padding: 0 18px;
        font-size: 1.8rem;
        height: 60px;
        line-height: 60px;
    }

    .btn_sch {
        width: 60px;
        height: 60px;
        margin-left: auto;
        border: 1px solid #2ea9df;
        background: #2ea9df url("../images/icon_search_white.svg") no-repeat center;
        box-sizing: border-box;
    }

}

/*---------------------- 회원관리 --------------------*/
.managemb_container {
    .tbl_head {
        display: flex;
        align-items: center;
        margin-top: 15px;

        .mysite_member_info {
            padding-left: 31px;
            font-size: $cont_txt;

            .mb_count {
                padding-top: 6px;
                font-family: $font_m;
                font-size: $cont_big_txt;
            }
        }

        .search_area {
            width: 443px;
            margin-left: auto;
        }
    }

    .mysite_mb_tbl {
        margin-top: 14px;
        font-size: 1.8rem;

        th {
            padding: 20px;
            font-family: $font_m;
            text-align: center;
            color: #fff;
            border-bottom: 5px solid #fff;
            background: #4b4b4b;
        }

        .nick_th {
            text-align: left;
        }

        td {
            padding: 7px 20px 6px;
            text-align: center;
            color: #000;
            border-bottom: 5px solid #fff;
            background: #efefef;
        }

        .mbnick_td {
            text-align: left;
        }

        .badge_me {
            display: inline-block;
            width: 70px;
            height: 20px;
            border-radius: 10px;
            font-size: $cont_small_txt;
            text-align: center;
            line-height: 20px;
            color: #fff;
            background: #2ea9df;
        }

        .btn_mbinfo {
            @include btn(#fff, $fontsize: 1.8rem, $radius: 0);
            padding: 11px 17px;
            color: #000;
            border: 1px solid #d7d7d7;
        }
    }

    &.mbmodify_container {
        display: flex;
    }

    .activity_info {
        margin-left: 40px;
    }

    .stat_cont {
        .radio_box {
            @include check_custom1(15px, 15px, 1px solid #ececec);
            font-size: $cont_big_txt;
            @include radiomark;

            .checkmark {
                border-radius: 50%;
                background: #fff;
            }

            input:checked+.checkmark:after {
                width: 8px;
                height: 8px;
                left: 4px;
                top: 4px;
                background: #4d4d4d;
            }

            &:last-child {
                margin-left: 40px;
            }
        }
    }

    .mb_modify_info {
        width: 690px;
        height: 420px;
        border: 1px solid #d7d7d7;
        background: #fff;
        text-align: left;
        box-sizing: border-box;
        font-size: $cont_big_txt;

        .admin_subtit {
            padding-bottom: 43px;
        }

        .mbif_tbl {
            margin: 0 37px 53px;
        }

        .active_info_tle {
            margin: 0 37px 114px;
        }

        th {
            padding: 23px 0 17px;
            font-family: $font_m;
            color: #4b4b4b;
            border-bottom: 1px solid #d7d7d7;
        }

        .tbl_th {
            display: block;
            width: 120px;
            border-right: 1px solid #4b4b4b;
        }

        td {
            padding: 17px 27px;
            font-family: $font_d;
            border-bottom: 1px solid #d7d7d7;
        }

        tr:first-child {

            td,
            th {
                padding-top: 0;
            }
        }
    }
}

/*---------------------- 쇼핑 --------------------*/
// 상품관리, 주문관리 상단 공통
.prod_search {
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 24px;
}
.status_search {
    //상태별 검색버튼
    float: left;
    margin-top: 18px;
}
.wrap_status {
    overflow: hidden;

    li {
        float: left;
        padding-bottom: 19px;
        padding-left: 3px;
        font-size: 0;

        &.on {
            border-bottom: 2px solid #2ea9df;
            .status_txt {
                color: $blue;
                &:hover {
                    text-decoration: none;
                    cursor: default;
                }
            }
            .badge_cnt {
                background: $blue;
            }
        }

        &:last-child {
            margin-right: 0 !important;
        }
    }
    .status_txt {
        font-weight: 500;
        font-size: 2rem;
        color: #4d4d4d;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
    .badge_cnt {
        display: inline-block;
        width: 40px;
        height: 20px;
        border-radius: 10px;
        line-height: 20px;
        text-align: center;
        color: #fff;
        font-weight: 350;
        font-size: 1.4rem;
        vertical-align: top;
        background: #757575;
    }
}

.name_search {
    //상품명으로 검색하기
    height: 60px;
    overflow: hidden;
    float: right;
    border: 1px solid #d7d7d7;
}

.inp_proname {
    padding: 0 17px;
    width: 364px;
    height: 60px;
    line-height: 60px;
    font-size: 1.8rem;
}
.btn_srch {
    display: block;
    width: 60px;
    height: 60px;
    float: right;
    background: $blue url(/images/icon_search_white.svg) no-repeat center/27px;
    cursor: pointer;
}

//상품 관리 SP.1
.products_container {
    position: relative;
    padding-bottom: 54px;

    .wrap_status li {
        margin-right: 66px;

        .status_txt {
            margin-right: 16px;
        }
    }

    .name_search {
        width: 464px;
    }

    //삼품 관리 > 카테고리 설정
    .category_edit {
        width: 200px;
        position: absolute;
        font-size: 1.4rem;
        .depth1_li {
            .depth1_name {
                display: inline-block;
                width: 100%;
                height: 40px;
                padding-left: 26px;
                line-height: 40px;
                vertical-align: middle;
                .arrow {
                    display: inline-block;
                    padding-right: 7px;
                    font-size: 10px;
                }
            }
            &.on .depth1_name {
                color: #fff;
                background-color: #29abe2;
            }
        }
        .list_depth2 li {
            display: inline-block;
            width: 100%;
            height: 40px;
            padding-left: 53px;
            line-height: 40px;
            vertical-align: middle;
            background: url("/images/ico_list_depth2.png") no-repeat 36px 11px;
            &.on {
                background: url("/images/ico_list_depth2.png") #29abe2 no-repeat 36px 11px;
            }
        }

        .special_cate_list {
            width: 100%;
            min-height: 250px;
            background: #efefef;

            li {
                padding: 13px 43px;
                font-weight: 350;
                font-size: 1.4rem;
                color: #242424;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .edit_all_menu {
        .depth1_name {
            display: flex;
            overflow: hidden;
            width: 100% !important;
            height: 40px;
            line-height: 40px;
            font-size: 1.4rem;
            overflow: hidden;
            display: block !important;
            cursor: pointer;
        }

        .list_depth2 .on,
        .on .depth1_name {
            color: #fff;
            background-color: #29abe2;
        }
    }

    .btn_category_edit {
        @include btn($blue);
        width: 110px;
        height: 32px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    // 상품 관리 > 본문
    .product_edit {
        margin-left: 210px;
        height: 671px;
    }
    .prod_edit_head {
        overflow: hidden;
        margin-bottom: 10px;

        .btn_add_prod {
            @include btn($watermelon);
            width: 110px;
            height: 32px;
            line-height: 32px;
        }
    }

    .prod_list_tbl {
        th {
            height: 60px;
            line-height: 60px;
            font-weight: 500;
            font-size: 1.6rem;
            text-align: center;
            color: #fff;
            background: #4b4b4b;
        }

        td {
            padding: 15px 0;
            font-size: 1.4rem;
            border-bottom: 1px solid #d7d7d7;
            background: #fff;
            text-align: center;
        }

        .prod_td {
            width: 24%;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }

            .fst_img {
                width: 70px;
                height: 70px;
                margin-right: 10px;
            }
        }
        .prodsaledate_td {
            width: 80px;
        }

        .extra_cnt {
            color: $blue;
        }
        .prod_name_txt {
            display: inline-block;
            max-width: 176px;
            line-height: 1.43;
            text-align: left;
        }
        .prodel_td .icon_del {
            display: block;
            @include bg(21px, 21px, '../images/btn_close.svg');
            cursor: pointer;
        }
        .select_special {
            @extend .select_custom_mall1;
            width: 124px;
            font-size: 1.4rem;
            text-align: left;
        }
        .select_status {
            @extend .select_custom_mall1;
            width: 66px;
            padding: 0;
            text-align: left;
        }
    }
    .prod_list .prod_list_tbl {
        .select_special,
        .select_status {
            label {
                font-size: 1.4rem;
            }
        }
    }
}

.export_btns {
    //출력, 엑셀 다운로드 버튼 공통
    float: right;
    overflow: hidden;
    margin-top: 6px;

    .btn_print {
        float: left;
        display: block;
        @include bg(36px, 36px, '/images/icon_print.png');
    }
    .btn_excel {
        float: left;
        display: block;
        @include bg(34px, 36px, '/images/icon_excel.png');
        margin-left: 46px;
    }
}

//상품 추가 및 편집 SP.1-1
.products_edit_container {
    .check_custom {
        @include check_custom1(21px, 21px, 0);
        height: 21px;
        line-height: 21px;
        font-size: $userAdminInput;
        color: #242424;

        input~.checkmark {
            background: url("../images/check_custom1_off.svg") no-repeat top center/23px;
        }
        input:checked~.checkmark {
            background: url("../images/check_custom1_on.svg") no-repeat center/18px;
        }

        &.sty2 {
            @include check_custom1(21px, 21px, 1px solid #e3e3e3);
            @include radiomark;

            .checkmark {
                border-radius: 50%;
                background: #fff;
            }

            input:checked+.checkmark {
                border-color: #f00;
                background: #fff;

                &:after {
                    width: 11px;
                    height: 11px;
                    left: 4px;
                    top: 4px;
                }
            }
        }
    }

    .product_cont {
        margin-bottom: 20px;
        border: 1px solid #d7d7d7;
        background: #fff;
    }

    .box_tit {
        font-size: $userAdminInput;
        font-weight: 500;
        color: #4b4b4b;
    }

    .product_pictures {
        //상품이미지
        width: 688px;
        margin-right: 40px;
        padding-bottom: 25px;
        float: left;

        .admin_subtit {
            position: relative;
        }

        .upload_custom {
            position: absolute;
            right: 21px;
            top: 21px;

            @include upload_custom;

            label {
                @include btn(#4b4b4b);
                width: 110px;
                height: 32px;
                line-height: 32px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .big_img_area {
            position: relative;
            margin: 8px auto 11px;
            width: 290px;
            height: 290px;
        }

        .memo {
            font-size: 1.4rem;
            font-family: $font_d;
            text-align: center;
            color: #4d4d4d;
        }

        .small_img_area {
            margin: 37px 25px 0;
            overflow: hidden;

            li {
                float: left;
                position: relative;
                width: 90px;
                height: 90px;
                margin-right: 5px;
            }

            .small_img {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        .btn_del {
            display: inline-block;
            @include bg(21px, 21px, '../images/btn_close.svg');
            position: absolute;
            right: 5px;
            top: 5px;
            cursor: pointer;
        }
    }

    .product_name {
        //상품명, 요약설명
        width: 688px;
        float: left;

        .inp_prdt_name,
        .inp_short_explain {
            width: 640px;
            margin: 0 25px;
            border-bottom: 1px solid #9e9e9e;
            box-sizing: border-box;
            font-size: $userAdminInput;
        }

        .inp_prdt_name {
            padding: 0 4px 8px;
            margin-bottom: 69px;
        }

        .inp_short_explain {
            margin-bottom: 224px;
            padding: 0 4px 11px;
            line-height: 1.67;
        }
    }

    .product_detail {
        //상세설명
        clear: both;

        .prdt_detail_smnt {
            width: 1250px;
            margin: 24px 85px 30px;
        }
    }

    .product_prices {
        //판매가격

        .box_cont {
            display: flex;
            padding-bottom: 40px;
            font-size: $userAdminInput;
        }

        .box_sale_price {
            margin-left: 25px;
            margin-right: 80px;
        }

        .box_sales_dates {
            margin-left: 110px;
        }

        .label_tit {
            padding-left: 5px;
            color: #4b4b4b;
        }

        .inp_area {
            display: flex;
            align-items: center;

            input {
                border-bottom: 1px solid #795e5e;
                padding: 9px 0;
            }
        }

        .wrap_calendar {
            display: inline-block;
            width: 250px;
            height: 46px;
            line-height: 46px;
            position: relative;
            border-bottom: 1px solid #9e9e9e;
            background: #fff;

            &:after {
                content: " ";
                display: block;
                position: absolute;
                bottom: 9px;
                right: 0;
                width: 20px;
                height: 20px;
                background: url("../images/ico_calendar.png") no-repeat 0 0;
            }

            .date {
                width: 100%;
                vertical-align: middle;
            }
        }

        .inp_line {
            margin: 0 45px;
            font-size: $userAdminInput;
        }

        .note {
            display: block;
            padding-top: 12px;
            font-size: $cont_small_txt;
            font-weight: 350;
            line-height: 1.71;
            color: #757575;

            .point_txt {
                font-weight: 900;
                color: #f00;
                vertical-align: top;
            }
        }

        .box_real_price .note {
            width: 243px;
        }
    }

    .product_category {
        font-size: 18px;

        //상품분류
        .box_cont {
            display: flex;
            padding: 0 25px 28px;
        }

        .box_tit {
            padding-bottom: 23px;
            padding-left: 5px;

            .small_txt {
                padding-left: 8px;
                vertical-align: bottom;
                font-weight: 350;
                font-size: $cont_small_txt;
                color: #757575;
            }
        }

        .select_cate_dp,
        .select_special_dp {
            width: 470px;
            @extend .select_custom_mall1;
            padding: 0 5px;
            cursor: pointer;

        }
        .js-select-category,
        .js-special-view {
            display: block;
        }
        .js-list-category,
        .js-list-specialview {
            width: 100%;
        }

        .chk_radio_cate,
        .chk_special_view {
            visibility: visible !important;
            appearance: auto;
            margin-right: 5px;
        }
        .js-list-category,
        .js-list-specialview {
            position: absolute;
            z-index: 100;
            padding: 15px;
            border: 1px solid;
            background: #fff;
        }

        .list_category2 {
            padding: 10px;
        }
        .list_category2 li {
            margin-bottom: 5px;
        }
        .list_category2 li:last-child {
            margin-bottom: 0;
        }

        .once_cate {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            font-size: 1.8rem;
            font-weight: 500;
            color: #4b4b4b;

            .icon_del {
                margin-left: 14px;
            }
        }

        .icon_arrow {
            display: block;
            @include bg(15px, 25px, '../images/icon_arrow5.png');
            margin: 0 7px 0 15px;
        }

        .icon_del {
            display: block;
            @include bg(21px, 21px, '../images/btn_close.svg');
            cursor: pointer;
        }

        .special_area {
            padding: 0 54px 0 145px;

            .note {
                padding-top: 14px;
                font-size: 1.4rem;
                font-weight: 350;
                color: #757575;
            }
        }

        .selected_categories {
            padding-left: 5px;
            padding-top: 10px;
        }

        .selected_dp {
            display: flex;
            position: absolute;
            left: 0;
            bottom: 2px;

            .once_dp {
                padding-left: 14px;
                padding-right: 4px;
                height: 27px;
                line-height: 27px;
                position: relative;
                margin-right: 13px;
                border-radius: 14px;
                background: $blue;
                font-size: 1.8rem;
                font-weight: 350;
                color: #fff;

                .icon_del {
                    display: inline-block;
                    margin-top: -4px;
                    margin-left: 9px;
                    vertical-align: middle;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .badge_area {
            li {
                padding-bottom: 19px;

                &:last-child {
                    padding-bottom: 0;
                }

            }

            .check_custom {
                margin-left: 0;
            }
        }
    }

    .product_typeinfo {

        //상품정보 제공고시
        .box_cont {
            padding: 0 30px;
        }

        .cont_head {
            overflow: hidden;
            padding-bottom: 15px;

            .require_memo {
                float: left;
                font-weight: 350;
                font-size: $userAdminInput;
                color: #757575;
            }

            .check_custom {
                float: left;
                margin-left: 363px;
            }
        }

        .cont_body {
            overflow: hidden;
            padding-bottom: 50px;
        }

        .box_tit {
            float: left;
            padding-right: 47px;
            line-height: 32px;
        }

        .select_prod_group {
            float: left;
            width: 500px;
            @extend .select_custom_mall1;
        }

        .btn_set_pdgr {
            @include btn($blue);
            margin-left: 15px;
            margin-right: 20px;
            width: 110px;
            height: 32px;
            line-height: 32px;
            &:hover {
                text-decoration: underline;
            }
        }

        .btn_pop_bookinfo {
            @include btn(#4b4b4b);
            width: 110px;
            height: 32px;
            line-height: 32px;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .product_delivery {
        //배송 및 택배

        .delivery_option_set {
            overflow: hidden;
            padding-left: 29px;
        }

        .box_normal_delopt {
            float: left;

            .pop_normal_set {
                @include btn($blue);
                width: 140px;
                height: 32px;
                line-height: 32px;
                margin-right: 20px;
                margin-left: 30px;
                &:hover {
                    text-decoration: underline;
                }

            }

            .pop_single_set {
                @include btn(#4b4b4b);
                width: 140px;
                height: 32px;
                line-height: 32px;
                &:hover {
                    text-decoration: underline;
                }

            }

            .ref_memo {
                padding-top: 14px;
                padding-bottom: 22px;
                font-weight: 350;
                font-size: $cont_small_txt;
                color: #757575;
            }
        }

        .now_delivery_option {
            margin-left: 222px;
            float: left;

            .box_options {
                li {
                    position: relative;
                    padding-left: 11px;
                    margin-bottom: 10px;
                    font-size: $cont_small_txt;
                    line-height: 14px;
                    font-weight: 350;
                    color: #242424;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                li:before {
                    content: '';
                    display: block;
                    width: 5px;
                    height: 5px;
                    position: absolute;
                    left: 0;
                    top: 5px;
                    border-radius: 50%;
                    background: red;
                }
            }
        }

        .other_option {
            overflow: hidden;
            padding-top: 14px;

            .check_custom:last-child {
                margin-left: 59px;
            }

        }

        .delivery_option_note {
            padding: 70px 26px 52px 30px;

            .inp_delivery_info {
                display: block;
                width: 1369px;
                padding: 0 5px 6px;
                border-bottom: 1px solid #9e9e9e;
                font-weight: 350;
                font-size: 1.8rem;
            }

            .help_note {
                padding-top: 8px;
                font-weight: 350;
                font-size: $cont_small_txt;
                color: #757575;
            }
        }

    }

    .product_inventory {

        //재고
        .box_inventory {
            overflow: hidden;
            padding: 0 25px 22px;
        }

        .help_notes,
        .input_control_inventory,
        .select_control_inventory {
            float: left;
        }

        .input_control_inventory {
            margin-left: 100px;
            margin-right: 135px;
        }

        .select_control_inventory .box_tit {
            padding-left: 4px;
        }
        .help_notes {
            float: left;

            li {
                position: relative;
                padding-left: 11px;
                margin-bottom: 10px;
                font-size: $cont_small_txt;
                line-height: 17px;
                font-weight: 350;
                color: #242424;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            li:before {
                content: '';
                display: block;
                width: 5px;
                height: 5px;
                position: absolute;
                left: 0;
                top: 5px;
                border-radius: 50%;
                background: red;
            }
        }
    }

    .select_control_ivtr {
        width: 250px;
        @extend .select_custom_mall1;
        margin-top: 17px;
    }

    .inp_control_ivtr {
        width: 250px;
        padding: 0 5px;
        height: 31px;
        line-height: 31px;
        border-bottom: 1px solid #9e9e9e;
        font-weight: 350;
        color: #4b4b4b;
        font-size: 1.8rem;
    }

    .product_option {//사용하지 않는 css 정리 필요
        font-size: 18px;

        //옵션
        .cont_head {
            padding: 0 31px 30px;
            border-bottom: 1px solid #d7d7d7;

            .btn_add_option {
                @include btn($blue, 2rem);
                width: 310px;
                height: 52px;
                line-height: 52px;
                margin-top: 18px;

                &:hover {
                    text-decoration: underline;
                }

            }
        }

        .help_area {
            font-weight: 350;
            color: #4b4b4b;
            font-size: 1.8rem;

            .btn_pop_guide {
                @include btn(#4b4b4b);
                width: 110px;
                height: 32px;
                line-height: 32px;
                margin-left: 21px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .cont_body_up {
            padding: 0 25px;
            background: #f8f8f8;

        .option_item_txt {
            display: inline-block;
            width: auto;
            height: 21px;
            line-height: 21px;
            padding-right: 25px;
            margin-right: 5px;
            border-radius: 10px;
            background: #4e4e4e url("/images/btn_close.svg") no-repeat right 2px center/21px;

            .option_item_name {
                font-size: 18px;
                color: #fff;
            }
            .box_btndel {
                font-size: 0;
                overflow: hidden;
            }
        }
        }

        .wrap_option_fst {
            .box_btndel {
                display: block !important;
                position: absolute;
                top: 0;
                right: 4px;
                width: 16px;
                height: 20px;
                cursor: pointer;
                font-size: 0;
                overflow: hidden;
            }
        }
        .opt_type_color {

            .option_name,
            .option_type,
            .option_value {
                .box_tit {
                    line-height: 21px;
                }
            }

            .option_item_txt {
                display: inline-block;
                position: relative;
                width: 45px;
                height: 21px;
                margin-right: 10px;

            }

            .option_value .inp_option_text {
                visibility: hidden;
            }

            .selected_colors {
                height: 27px;
            }
        }

        .wrap_option_fst {
            padding: 30px 0 17px;
            border-bottom: 1px solid #d7d7d7;
            overflow: hidden;
        }

        .option_type {
            float: left;
        }

        .option_name {
            float: left;
            margin-left: 85px;
            margin-right: 115px;
        }

        .option_value {
            float: left;
        }

        .box_tit {
            margin-bottom: 20px;
        }

        .option_type .check_custom {
            font-size: 1.8rem;
            line-height: 21px;
        }

        .check_custom:nth-child(2) {
            margin-left: 30px;
        }

        .opt_name {
            width: 250px;
            padding: 0 5px 5px;
            border-bottom: 1px solid #9e9e9e;
            font-size: 1.8rem;
            font-weight: 350;
        }

        .opt_value {
            display: inline-block;
            width: 565px;
            padding: 0 6px 5px;
            border-bottom: 1px solid #9e9e9e;
            font-size: 1.8rem;
            font-weight: 350;

            .box_add_optionitem  {position: relative;}

        }


        .opt_type_other .option_item_txt {
            height: 24px;
            padding: 0 25px 0 5px;
        }
        .opt_type_other {
            position: relative;

        }

        .selected_colors {
            overflow: hidden;
            width: 565px;
            padding-bottom: 5px;
            border-bottom: 1px solid #9e9e9e;

            .color_box {
                float: left;
                display: block;
                margin-right: 5px;
                width: 45px;
                height: 21px;
                border-radius: 10px;
                background: #4e4e4e url("/images/btn_close.svg") no-repeat right top;

                &:last-child {
                    margin-right: 0;
                }
                .color {
                    vertical-align: top;
                    background: #fff;
                }
            }
        }

        .option_value_require {
            float: left;
            margin-top: 39px;
            margin-left: 50px;

            .btn_option_del {

                margin-left: 15px;
                display: inline-block;
                @include bg(21px, 21px, '../images/btn_close.svg');
                cursor: pointer;
            }
        }

        .cont_body_btm {
            padding: 49px 25px 63px;
            background: #f8f8f8;

            .option_item_txt .box_btndel {display: none;}
        }

        .tit_require {
            position: relative;
        }
        .tit_selective {
            margin-top: 70px;
        }
        .box_chk_combination {
            @include check_custom1(21px, 21px, 0);
            display: block;
            margin-right: 38px;
            position: relative;
            position: absolute;
            right: 0;
            top: 0;
            font-size: $userAdminInput;
            color: #242424;

            input~.checkmark {
                background: url("../images/check_custom1_off.svg") no-repeat top center/23px;
            }
            input:checked~.checkmark {
                background: url("../images/check_custom1_on.svg") no-repeat center/18px;
            }
        }

        .option_cont,
        .option_head {
            overflow: hidden;
            margin-top: 5px;
            margin-bottom: 28px;
        }

        .option_cont:last-of-type {
            margin-bottom: 0;
        }
        .wrap_option_table {
            font-size: 1.8rem;
            color: #4b4b4b;
            text-align: left;

            .color {
                vertical-align: top;
            }
            .optprice_td {
                width: 220px;
            }

            .inven_td {
                width: 230px;
            }
            .status_td {
                width: 170px;
            }
            .edit_td {
                width: 115px;
            }
            //   .option_value, .option_inven, .sales_status {float: left;
            //     padding: 0 5px;
            //     line-height: 32px;
            //   }

            .option_value {
                width: 32%;

                .kr_dollar {
                    padding-left: 5px;
                    line-height: 32px;
                    font-size: 1.8rem;
                }
            }

            .opt_inv,
            .opt_val {
                padding: 0 5px;
                font-size: 1.8rem;
                width: 130px;
                border-bottom: 1px solid #9e9e9e;
            }

            .option_inven {
                width: 35%;
            }

            .select_status {
                @extend .select_custom_mall1;
                width: 130px;
                color: #4b4b4b;
            }
        }

        .btn_all_edit {
            @include btn(#d7d7d7);
            display: block;
            float: right;
            width: 110px;
            height: 32px;
            line-height: 32px;

            &.on {
                background: #4b4b4b;
            }
            &.complete {
                background: $blue;
            }
        }

        .btn_del {
            float: right;
            display: block;
            @include bg(21px, 21px, '../images/btn_close.svg');
            cursor: pointer;
        }

        .option_cont .option_value {
            font-size: 0;
        }

        .wrap_option_thrd {
            padding-top: 64px;
        }


        #optionRequireTable, #optionSelectiveTable {
            select {opacity:1;    background: #f8f8f8;}
        }

    }

    .color {
        display: inline-block;
        width: 21px;
        height: 21px;
        border: 1px solid #4b4b4b;
        border-radius: 50%;
    }

    .option_basic {
        display: inline-block;
        margin-left: 20px;
        font-size: 0;
        vertical-align: top;

        .color {
            margin-right: 9px;
        }
        .color:last-child {
            margin-right: 0;
        }
    }

    .notice_chg_rfd {
        //교환/반품안내
        padding-bottom: 50px;
        .box_cont {
            padding: 0 29px;
        }
        .check_custom {
            font-size: 1.8rem;
            line-height: 21px;
            background: #fff;
        }
        .btn_basicnote {
            @include btn($blue);
            width: 120px;
            height: 32px;
            line-height: 32px;
            margin-right: 20px;
            margin-left: 70px;
            &:hover {
                text-decoration: underline;
            }

        }

        .btn_othernote {
            @include btn(#4b4b4b);
            width: 120px;
            height: 32px;
            line-height: 32px;
            &:hover {
                text-decoration: underline;
            }

        }

        .head_helpnote {
            margin-top: 14px;
            margin-bottom: 36px;
            color: #757575;
            font-weight: 350;
            font-size: 1.4rem;
        }

        .basic_step_tbl {
            margin-top: 28px;
            text-align: left;

            .step_th {
                width: 157px;
                padding-right: 19px;
                border-right: 1px solid #d7d7d7;
            }
            .step_th .txt {
                display: block;
                position: relative;
                padding-left: 16px;
                font-size: 1.4rem;
                line-height: 15px;
                font-weight: 350;
                color: #4d4d4d;

                &:before {
                    content: '';
                    display: block;
                    width: 5px;
                    height: 5px;
                    position: absolute;
                    left: 0;
                    top: 4px;
                    border-radius: 50%;
                    background: #f00;
                }
            }

            .step_detail {
                padding-left: 26px;
                font-size: 1.4rem;
                font-weight: 350;
                line-height: 1;
                color: #4d4d4d;
            }

            .note_sub {
                margin-top: 4px;
                margin-bottom: 24px;
                font-weight: 350;
                color: #757575;
            }
        }

        .note_main.sty2 {
            margin-bottom: 14px;
        }

        .note_main .space {
            display: inline-block;
            width: 1em;
            height: 1em;
        }
        .step_tit {
            margin-top: 25px;
            margin-bottom: 15px;
            font-weight: 400;
        }
        .note_main_circle li {
            .li_tit {
                position: relative;
                display: block;
                padding-left: 8px;
                margin-bottom: 5px;

                &:before {
                    content: '';
                    display: block;
                    width: 3px;
                    height: 3px;
                    position: absolute;
                    left: 0;
                    top: 6px;
                    border-radius: 50%;
                    background: #4d4d4d;
                }
            }

            .note_sub_hypen {
                padding-left: 8px;
                margin-bottom: 10px;

                &:last-of-type {
                    margin-bottom: 14px;
                }
            }

        }
    }

    .saler_info {
        //판매자 정보
        .box_cont {
            overflow: hidden;
            padding: 0 25px 40px 30px;
        }

        .cont_main_tbl {
            width: 50%;
            float: left;
        }

        .cont_sub_tbl {
            width: 50%;
            float: left;
        }

        .main_th {
            padding-bottom: 25px;
            font-weight: 500;
            font-size: 1.8rem;
            color: #4b4b4b;
            text-align: left;
        }

        .cont_main_tbl .main_th {
            width: 95px;
        }
        .cont_sub_tbl .main_th {
            width: 163px;
        }

        .main_td {
            padding-bottom: 25px;

            input {
                padding: 0 5px 6px;
                font-weight: 400;
                font-size: 1.8rem;
                border-bottom: 1px solid #9e9e9e;
            }
        }

        .cont_main_tbl .main_td input {
            width: 370px;
        }
        .cont_sub_tbl .main_td input {
            width: 470px;
        }
    }

    .btn_save {
        @include btn($watermelon, 2rem);
        display: block;
        width: 310px;
        height: 52px;
        line-height: 52px;
        margin: 34px auto 28px;

        &:hover {
            text-decoration: underline;
            cursor: pointer;

        }
    }
}

.select_custom_mall1 {
    //상품편집 및 추가 커스텀 셀렉트 박스 width 만 따로 지정
    height: 31px;
    line-height: 31px;
    position: relative;
    padding: 0 1px;
    border-bottom: 1px solid #9e9e9e;
    font-weight: 350;

    &:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        right: 0;
        bottom: 11px;
        border-bottom: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 8px solid #4b4b4b;
    }

    &.on:after {
        border-bottom: 8px solid #4b4b4b;
        border-top: 0;
    }

    label {
        display: block;
        width: 100%;
        font-size: $userAdminInput;
        color: #757575;
    }

    select {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 30px;
        line-height: 30px;
        padding: 0 1px;
        opacity: 0;
        box-sizing: border-box;
        font-size: $cont_txt;
        cursor: pointer;
    }
}

//주문관리, 취소관리, ..
.mall_edit_head {
    overflow: hidden;
    padding-bottom: 10px;
}
.mall_edit_head .btns {
    @include btn(#4b4b4b);
    display: block;
    float: left;
    width: 110px;
    height: 32px;
    line-height: 32px;

    &:hover {
        text-decoration: underline;
    }
}

.prod_options {
    overflow: hidden;
    font-size: $cont_small_txt;

    .opt_name,
    .opt_val {
        float: left;
        display: block;

        &.sty2 {
            margin-top: 6px;
            margin-bottom: 6px;
        }
    }
    .opt_name {
        clear: left;
    }
}

//주문관리 sp.2 
.orders_container {
    padding-bottom: 60px;

    .wrap_status li {
        margin-right: 26px;
    }
    .status_txt {
        margin-right: 6px;
    }
    .name_search {
        width: 458px;
    }

    .btn_ready {
        margin: 0 20px;
    }

    .orderdprod_td {
        .prod_options {
            .opt_name,
            .opt_val {
                clear: none;
                font-size: $cont_small_txt;
            }
            .opt_name.sty2 {
                margin-left: 15px;
                margin-top: 0;
            }
            .opt_val.sty2 {
                margin-right: 15px;
                margin-top: 0;
            }
        }

    }
    .mall_manage_list_tbl .orderdprod_td .prd_info {
        width: auto;
    }
}

.select_steporder {
    //기타주문 처리
    float: left;
    height: 32px;
    line-height: 32px;
    position: relative;
    padding: 0 29px 0 7px;
    margin-right: 20px;
    border-radius: 4px;
    font-size: $cont_txt;
    font-weight: 500;
    background: #4b4b4b;

    &:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        right: 12px;
        bottom: 12px;
        border-bottom: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 8px solid #fff;
    }

    &.on:after {
        border-bottom: 8px solid #fff;
        border-top: 0;
    }

    &:hover {
        text-decoration: underline;
    }

    label {
        display: block;
        width: 100%;
        font-size: $cont_txt;
        color: #fff;
    }

    select {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 32px;
        line-height: 32px;
        padding: 0 1px;
        opacity: 0;
        box-sizing: border-box;
        font-size: $cont_txt;
        cursor: pointer;
    }
}

//취소 관리 SP.3
.cancel_container {
    .wrap_status li {
        margin-right: 26px;
    }
    .status_txt {
        margin-right: 5px;
    }

    .btn_checking {
        margin: 0 20px;
    }

    .reject_cancel {
        display: block;
        margin-bottom: 16px;
    }

    .cancelinfo_td {
        //취소요청일/사유
        padding: 21px 3px;
        font-size: $cont_small_txt;

        .reason_tit {
            display: block;
            margin: 17px 0 16px;
        }

        .btn_view_letter {
            @include btn(#757575, $cont_small_txt);
            margin-top: 16px;
            width: 110px;
            height: 32px;
            line-height: 32px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

//반품관리 SP.4
.refund_container {
    padding-bottom: 49px;

    .wrap_status li {
        margin-right: 27px;
    }
    .status_txt {
        margin-right: 5px;
    }

    .btn_taked {
        margin: 0 20px;
    }
    .select_steporder {
        margin-left: 20px;
    }

    .refundinfo_td {
        //반품사유/수거방법
        padding: 21px 3px;
        font-size: $cont_small_txt;

        .refund_reason {
            padding-top: 8px;
            .reason_txt {
                padding-top: 2px;
            }
        }
        .take_back {
            padding-top: 29px;

            .how_take {
                padding-bottom: 6px;
            }
        }

        .origin_courier {
            padding-top: 26px;

            .txt {
                padding-left: 2px;
                vertical-align: top;
            }
            .tit {
                vertical-align: top;
            }

            .courier_company {
                padding-top: 6px;
            }
        }
    }

    .mall_manage_list_tbl .receiverinfo_td .post_message {
        margin-bottom: 46px;
    }
}

.btn_view_note {
    //구매자 전달 내용
    @include btn(#757575, $cont_small_txt);
    width: 110px;
    height: 32px;
    line-height: 32px;
    margin-top: 17px;

    &:hover {
        text-decoration: underline;
    }
}

.exchange_container {
    //교환관리 SP.5
    padding-bottom: 43px;

    .wrap_status li {
        margin-right: 26px;
    }
    .status_txt {
        margin-right: 5px;
    }

    .btn_taked {
        margin: 0 20px;
    }
    .select_steporder {
        margin-left: 20px;
    }

    .exchginfo_td {
        //교환사유/수거방법
        padding: 21px 3px;
        font-size: $cont_small_txt;

        .exchg_reason {
            padding-top: 8px;
            .reason_txt {
                padding-top: 2px;
            }
        }
        .take_back {
            padding-top: 29px;

            .how_take {
                padding-bottom: 6px;
            }
        }

        .origin_courier,
        .resend_courier {
            padding-top: 26px;

            .txt {
                padding-left: 2px;
                vertical-align: top;
            }
            .tit {
                vertical-align: top;
            }

            .courier_company {
                padding-top: 6px;
            }
        }
    }

    .mall_manage_list_tbl .receiverinfo_td {
        .post_message {
            margin-bottom: 6px;
        }
        .redelivery_info {
            padding-top: 27px;
        }

        .receiver_name .tit {
            vertical-align: top;
        }
    }

    .exchangefee_td {
        //기타/교환비용
        padding: 21px 7px;
        font-size: $cont_small_txt;

        .txt {
            margin-top: 6px;
        }

        .extra_fee {
            margin-top: 179px;
        }
    }
}

.payinfo_td,
.refundpayinfo_td {
    //결제금액, 환불금액
    padding: 22px 7px;
    color: #4b4b4b;
    font-size: $cont_small_txt;
    text-align: right;

    .all_ttl_price .txt {
        vertical-align: top;
    }

    .one_ttl_price {
        margin-top: 15px;
        margin-bottom: 25px;
        .txt {
            vertical-align: top;
        }
    }

    .pay_info {
        .howto_pay {
            text-align: left;
        }
        .credit {
            margin-top: 16px;
            margin-bottom: 8px;
            .txt {
                vertical-align: top;
            }
        }
        .card_payauth {
            font-size: 1.2rem;
        }
        .card_nbr {
            margin: 6px 0 19px;
            font-size: 1.2rem;
        }
        .kokkong {
            font-size: 1.2rem;
            .txt {
                vertical-align: top;
            }
        }
    }
}

//주문관리, 취소관리, 환불관리 공통 테이블
.mall_manage_list_tbl {
    th {
        height: 60px;
        line-height: 60px;
        background: #4b4b4b;
        font-weight: 500;
        font-size: $cont_txt;
        color: #fff;
        text-align: center;
    }
    td {
        vertical-align: top;
        border: 1px solid #d7d7d7;
    }

    .select_td,
    .select_th {
        padding-left: 7px;
    }
    .select_td {
        padding-top: 19px;
        border-right: 0;
    }

    .check_custom {
        @include check_custom1(21px,21px,0,21px);
        height: 21px;

        input~.checkmark {
            background: url("../images/check_custom1_off.svg") no-repeat top center/23px;
        }
        input:checked~.checkmark {
            background: url("../images/check_custom1_on.svg") no-repeat center/18px;
        }
    }

    .ordernbr_td {
        //주문번호
        padding: 19px 12px 0 0;
        border-left: 0;

        .order_num {
            margin-left: 6px;
            font-size: 1.2rem;
            color: #383838;
        }
        .pay_date {
            margin-left: 6px;
            padding: 11px 0 18px;
            font-size: 1.2rem;
            color: #757575;
            .space {
                display: inline-block;
                width: 8px;
                height: 1px;
            }
        }
        .payer_nick_name {
            margin-left: 6px;
            font-size: $cont_small_txt;
            color: #383838;
        }
        .btn_printbill {
            @include btn(#4b4b4b);
            width: 110px;
            height: 32px;
            line-height: 32px;
            margin-top: 10px;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .orderdprod_td {
        //주문상품
        padding: 14px 3px;

        .orderd_prod {
            overflow: hidden;
        }
        .check_custom,
        .prd_info,
        .thum {
            float: left;
        }

        .check_custom {
            margin-top: 5px;
        }
        .thum {
            width: 70px;
            height: 70px;
            margin: 0 4px 0 5px;
        }

        .prd_info {
            width: 159px;
            padding-top: 6px;
            line-height: 1.43;
            color: #383838;
        }
        .prod_nbr {
            font-size: 1.2rem;
            line-height: 1;
        }
        .prod_tit {
            margin-top: 13px;
            margin-bottom: 14px;
            font-size: $cont_small_txt;
        }
    }

    //상품금액, 수량, 상태
    .ordercnt_td,
    .orderstat_td,
    .prodprice_td {
        padding: 21px 7px;
        text-align: center;
    }

    .order_status,
    .orderd_cnt,
    .prod_price {
        font-size: $cont_small_txt;
        color: #4b4b4b;
    }

    .prod_price .price {
        vertical-align: top;
    }

    .deliveryinfo_td {
        //배송
        padding: 22px 5px;
        font-size: $cont_small_txt;
        color: #4b4b4b;
        text-align: center;

        .how_delivery_detail {
            display: block;
            margin-top: 16px;
        }

        .delivery_fee {
            display: block;
            margin: 17px auto;
        }
    }

    .trackinfo_td {
        //운송장번호
        padding: 15px 3px;

        .select_shipcompany {
            display: inline-block;
            width: 150px;
            height: 27px;
            margin-bottom: 3px;
            position: relative;
            line-height: 27px;
            border: 1px solid #d7d7d7;

            &:after {
                content: '';
                display: block;
                width: 0;
                height: 0;
                position: absolute;
                right: 10px;
                bottom: 9px;
                border-bottom: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 8px solid #4b4b4b;
            }

            &.on:after {
                border-bottom: 8px solid #4b4b4b;
                border-top: 0;
            }

            label {
                display: block;
                font-size: $cont_small_txt;
                color: #4b4b4b;
                top: 7px;
                left: 3px;
                text-align: left;
            }

            select {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 27px;
                line-height: 27px;
                padding: 0 1px;
                opacity: 0;
                box-sizing: border-box;
                font-size: $cont_small_txt;
            }
        }
        .serealnbr {
            display: block;
            width: 150px;
            height: 27px;
            line-height: 27px;
            border: 1px solid #d7d7d7;
            font-size: $cont_small_txt;
        }
        .btn_trackinfo {
            @include btn(#757575);
            margin-top: 20px;
            width: 110px;
            height: 32px;
            line-height: 32px;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .receiverinfo_td {
        //배송정보       
        padding: 21px 7px;
        font-size: $cont_small_txt;
        color: #4b4b4b;
        text-align: left;

        .receiver_nbr {
            margin: 18px 0 17px;
            overflow: hidden;
            font-size: 1.2rem;

            .phone {
                padding-right: 3px;
            }
            .tel {
                padding-left: 3px;
            }
        }

        .receiver_address {
            width: 175px;

            .street_name {
                display: block;
                margin-bottom: 5px;
                word-break: break-all;
                line-height: normal;
            }
            .past_adrs {
                font-size: 1.2rem;
                .land_address {
                    vertical-align: top;
                }
            }
        }

        .post_message {
            margin: 20px 0 16px;
            word-break: break-all;
        }
        .btn_address_modify {
            @include btn(#757575);
            width: 110px;
            height: 32px;
            line-height: 32px;
            &:hover {
                text-decoration: underline;
            }
        }
    }

}

.btn_helpnote {
    @include btn(#757575);
    float: left;
    width: 110px;
    height: 32px;
    line-height: 32px;
    margin-left: 50px;
}

/*---------------------- 통계 --------------------*/
progress {
    background-color: #d7d7d7;
    border: 0;
    height: 5px;
    border-radius: 0;
}

progress::-webkit-progress-bar {
    background-color: #d7d7d7;
    border: 0;
    height: 5px;
    border-radius: 0;
}

progress::-webkit-progress-value {
    background: red;
}

progress::-moz-progress-bar {
    background-color: #d7d7d7;
    border: 0;
    height: 5px;
    border-radius: 0;
}

.statistic_container {
    display: flex;
    align-items: flex-start;
    padding-bottom: 38px;

    .visiter_people_box {
        width: 690px;
        margin-right: 40px;

        .new_member {
            border: 1px solid #d7d7d7;
            box-sizing: border-box;
            background: #fff;

            .newmember_prgrs {
                margin: 0 71px 27px 66px;

                .prog_label {
                    display: block;
                    position: relative;
                    font-family: $font_d;
                    font-size: $cont_txt;
                    color: #4b4b4b;

                    .cnt_txt {
                        position: absolute;
                        right: 6px;
                        top: 0;
                        font-family: $font_r;
                        font-size: $cont_small_txt;
                    }
                }

                .newmember_progress {
                    width: 100%;
                    margin-top: 6px;
                    margin-bottom: 20px;
                }
            }
        }
    }

    .visiters_gragh {
        width: 690px;
        height: 420px;
        border: 1px solid #d7d7d7;
        box-sizing: border-box;
        background: #fff;
    }

    .visit_page {
        width: 690px;
        background: #fff;
        border: 0;

        .admin_subtit {
            border: 1px solid #d7d7d7;
            border-bottom: 0;
        }

        th:first-child {
            padding-left: 46px;
            padding-right: 38px;
            text-align: left;
        }
    }

    .visitpage_tbl {
        th {
            padding: 9px 0 8px;
            border-bottom: 2px solid #fff;
            text-align: center;
            font-size: $cont_txt;
            color: #fff;
            background: #4b4b4b;
        }

        td {
            padding: 10px 38px 9px;
            border-bottom: 2px solid #fff;
            background: #efefef;
            font-size: $cont_small_txt;
            color: #4b4b4b;
            text-align: center;
            letter-spacing: 1.4px;
        }

        .menuname_td {
            text-align: left;
        }
    }

    .statistic_form {
        //통계 - 방문자 현황
        width: 100%;
    }

    .visit_analyze_data {
        //통계 - 방문자 현황
        padding-bottom: 42px;

        .analyze_month_year {
            .admin_subtit {
                padding: 0;
                margin: 44px 0 9px;
                letter-spacing: 0;
            }

            .analyze_m_y_tbl {
                font-size: $cont_txt;
                text-align: center;

                th {
                    padding: 7px;
                    border-bottom: 1px solid #d7d7d7;
                }

                td {
                    padding: 18px 9px 9px;
                    border-bottom: 1px solid #d7d7d7;

                    .btn_weekanalyze:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }

                .year_td {
                    padding: 19px 9px 6px 0;
                    text-align: left;
                }
            }
        }

        .week_analyze {
            .admin_subtit {
                padding: 0;
                margin: 51px 0 17px;
                letter-spacing: 0;
            }

            .week_analyze_tbl {
                table-layout: fixed;

                th {
                    font-family: $font_m;
                    font-size: 1.8rem;
                    padding: 21px;
                    text-align: center;
                    color: #fff;
                    border-bottom: 2px solid #fff;
                    background: #4b4b4b;
                }

                td {
                    position: relative;
                    height: 100px;
                    border-bottom: 2px solid #fff;
                    border-right: 2px solid #fff;
                    box-sizing: border-box;
                    vertical-align: 0;

                    .day_head {
                        padding: 12px 0 0 12px;
                        font-size: $cont_txt;

                        &.other_month {
                            color: #757575;
                        }
                    }

                    .compare_percent,
                    .day_analyze,
                    .week_analyze,
                    .week_avge {
                        position: absolute;
                        right: 16px;
                        bottom: 16px;
                        font-size: 2rem;
                        font-family: $font_r;
                        color: #000;
                        text-align: right;
                    }

                    .compare_percent {
                        display: flex;
                        align-items: center;

                        .arrow_low {
                            margin-right: 13px;
                            width: 0;
                            height: 0;
                            border-left: 6px solid transparent;
                            border-right: 6px solid transparent;
                            border-top: 13px solid #4b4b4b;
                        }

                        .arrow_high {
                            margin-right: 13px;
                            width: 0;
                            height: 0;
                            border-left: 6px solid transparent;
                            border-right: 6px solid transparent;
                            border-bottom: 13px solid #c70000;
                        }
                    }
                }

                .odd_tr td {
                    background: #efefef;
                }

                .even_tr td {
                    background: #e6e6e6;
                }

                .even_tr,
                .odd_tr {
                    .week_compare_td {
                        background: #f7caca;
                        border-right: 0;
                    }

                    .avge_td {
                        background: #d8caf7;
                    }

                    .total_td {
                        background: #cae9f7;
                    }
                }

                tfoot {
                    td[class$=analyze] {
                        background: #cae9f7;

                        .day_head {
                            color: #000;
                        }
                    }

                    .avge_analyze {
                        background: #d8caf7;
                    }

                    .last_td_null {
                        background: #f7caca;
                    }
                }
            }
        }
    }

    .visit_page_list {
        //통계 - 방문한페이지
        width: 100%;
        margin-bottom: 38px;

        td,
        th {
            font-size: 1.9rem;
        }

        th {
            padding: 27px 52px 17px 61px;
            border-bottom: 5px solid #fff;
            text-align: left;
        }

        td {
            padding: 21px 52px 25px;
            border-bottom: 4px solid #fff;
            text-align: center;
        }
    }

    .select_contain,
    .select_range {
        display: inline-block;
        position: relative;
        width: 155px;
        height: 52px;
        margin-bottom: 19px;
        line-height: 52px;
        border-bottom: 1px solid #d7d7d7;
        background: url("../images/select_custom1.svg") right 22px bottom 22px/12px no-repeat;

        label {
            display: block;
            font-size: $btn_txt;
            font-family: $font_m;
            color: #4d4d4d;
            top: 17px;
            left: 1px;
            text-align: left;
        }

        select {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 52px;
            line-height: 52px;
            padding: 0 1px;
            opacity: 0;
            box-sizing: border-box;
            font-size: $cont_txt;
        }
    }

    .visit_analyze_list {
        //기간별 분석
        width: 100%;

        .select_year {
            margin: 0 100px 19px;
        }

        .analyze_period_tbl {
            margin-bottom: 38px;

            th {
                padding: 21px 0;
                border-bottom: 2px solid #fff;
                text-align: center;
                font-size: 1.8rem;
                color: #fff;
                font-family: $font_m;
                background: #4b4b4b;
            }

            td {
                padding: 21px 27px;
                border-bottom: 5px solid #fff;
                background: #efefef;
                font-size: 1.8rem;
                color: #4b4b4b;
                text-align: center;
            }
        }
    }
}

/*---------------------- 지도 API --------------------*/
.mapapi_container {
    display: flex;
    padding-bottom: 43px;

    .admin_subtit .kr_txt {
        font-weight: 400;
        letter-spacing: 0;
        vertical-align: 0;
    }

    .api_note_area {
        padding-top: 22px;

        .admin_subtit {
            padding: 0;
        }

        .api_memo {
            width: 606px;
            padding: 20px 0 20px 19px;
            font-size: 1.8rem;
            line-height: 1.33;
        }
    }

    .api_key_area {
        display: flex;
        padding: 41px 71px 0 29px;
        margin-left: auto;
        border: 1px solid #d7d7d7;
        background: #fff;

        .admin_subtit {
            padding: 0;
            margin-right: 46px;
            font-weight: 500;
        }

        .api_key {
            .inp_apikey {
                width: 491px;
                padding: 4px 0 11px;
                border-bottom: 1px solid #d7d7d7;
                font-family: $font_d;
                font-size: 1.5rem;
            }

            .ref_link {
                padding-top: 16px;
                padding-bottom: 40px;
                font-size: 1.5rem;
                color: #757575;

                .btn_apiinfo {
                    font-family: $font_m;
                    text-decoration: underline;
                    color: $blue;
                    cursor: pointer;
                }
            }
        }
    }
}

/*---------------------- 환경 설정 --------------------*/
.configuration_container {
    display: flex;
    padding-top: 41px;

    .admin_subtit {
        padding: 0;
        letter-spacing: 0;
        line-height: normal;
    }

    .site_info_area {
        width: 727px;

        .site_keyword_cont,
        .site_name_cont {
            display: flex;

            .inp_site_keyword,
            .inp_site_name {
                width: 491px;
                padding: 0 0 13px;
                border-bottom: 1px solid #d7d7d7;
                font-family: $font_d;
                font-size: $cont_big_txt;
                color: #4b4b4b;
            }
        }

        .site_keyword_cont {
            margin-top: 56px;
        }

        .site_name {
            margin-left: 53px;
        }

        .site_keyword {
            margin-left: 56px;
        }
    }

    .site_opt_area {

        .admin_subtit {
            width: 140px;
            text-align: right;
        }

        .domain_cont,
        .inp_domain_area,
        .inp_site_area,
        .pb_level_cont {
            display: flex;
        }

        .site_domain {
            margin-left: 55px;

            .inp_domain_area {
                .inp_domain {
                    padding: 0 0 12px;
                }
            }
        }

        .pb_level_cont {
            margin-top: 52px;

            .site_level {
                margin-left: 56px;

                .select_site_lv {
                    display: inline-block;
                    position: relative;
                    width: 239px;
                    height: 32px;
                    line-height: 32px;
                    border-bottom: 1px solid #d7d7d7;
                    background: url("../images/select_custom1.svg") right 7px bottom 14px/12px no-repeat;

                    label {
                        display: block;
                        font-size: $btn_txt;
                        color: #4d4d4d;
                        top: 2px;
                        left: 3px;
                        text-align: left;
                    }

                    select {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 32px;
                        line-height: 32px;
                        padding: 0 1px;
                        opacity: 0;
                        box-sizing: border-box;
                        font-size: $cont_txt;
                    }
                }
            }
        }

        .btn_chg_lv,
        .btn_dupe_check {
            @include btn($blue);
            width: 110px;
            height: 32px;
            line-height: 32px;
        }

        .btn_chg_lv {
            margin-left: 142px;
        }
    }

    .note {
        margin-top: 16px;
        font-size: 1.5rem;
        line-height: 1.33;
        color: #757575;
    }
}

.btn_wrap {
    text-align: right;

    .btn_opt_save {
        @include btn(#4b4b4b);
        margin-top: 32px;
        margin-bottom: 24px;
        padding: 8px 41px 8px 42px;
    }
}

.inp_domain_area {
    //환경설정 본문, 팝업 동시 사용
    display: flex;
    align-items: center;

    .inp_domain {
        width: 210px;
        font-size: $cont_big_txt;
        border-bottom: 1px solid #d7d7d7;
    }

    .pb_domain {
        padding-left: 1px;
        padding-right: 15px;
        font-size: $cont_big_txt;
        font-weight: 500;
    }
}

/* 환경 설정 팝업 */
.wrap_pop {
    position: relative;
    left: 50%;

    width: 370px;
    padding: 50px 28px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #f7f7f7;
    font-family: $font_m;
    text-align: center;

    &.domain_false {
        width: 550px;

        .inp_domain_area {
            margin-top: 22px;
            justify-content: center;

            .inp_domain {
                padding: 0 0 4px;
            }
        }

    }

    .pop_tit {
        margin-bottom: 26px;
        font-size: 2rem;
        color: $userAdminPinkRed;
    }

    &.max_site,
    &.max_site_gold {
        .pop_tit {
            margin-bottom: 13px;
        }
    }

    .pop_txt {
        font-size: 1.5rem;
        color: #242424;
        line-height: 1.33;
        padding-bottom: 11px;

        &:last-of-type {
            padding-bottom: 0;
        }
    }

    .pop_input {
        display: flex;
        justify-content: center;
        margin: 24px 27px 0;
    }

    .btn_cnxl {
        @include btn(#757575);
    }

    .btn_upgrade {
        @include btn(#e07272);
        margin-left: auto;
    }

    .btn_dupe_check {
        @include btn($blue);
    }

    .btn_confirm {
        @include btn(#e07272);
    }

    [class^='btn_'] {
        width: 110px;
        height: 32px;
        line-height: 32px;
    }
}

.wrap_pop.guide_api {
    width: auto;
    transform: translateX(-50%);
}

.wrap_pop {
    &.edit_all_menu {
        //CO.3 전체 메뉴 설정
        width: 680px;
        position: absolute !important;
        top: 247px !important;
        left: 650px !important;
        padding: 0 !important;

        .wrap_pop_cont {
            display: flex;

            label {
                width: 108px;
                margin-right: 29px;
            }
        }
    }

    &.edit_one_menu {
        //CO.3 일반 메뉴 설정
        width: 510px;

        .bottom_area {
            display: flex;
        }
    }

    &.edit_all_menu,
    &.edit_one_menu {

        //CO.3 전체 메뉴 설정, 일반 메뉴 설정
        .cont_area .inp_box input {
            width: 287px;
            padding: 3px 1px;
            border-bottom: 1px solid #ddd;
            box-sizing: border-box;
            vertical-align: top;
        }

        .bottom_area {
            .btn_del {
                margin-left: 17px;
                padding-left: 27px;
                font-size: $pop_cont_txt;
                line-height: 31px;
                background: url("../images/btn_del.svg") no-repeat left center;
                cursor: pointer;
                padding-bottom: 1px;
            }

            .notice {
                margin-left: 24px;
                font-size: 13px;
                line-height: 31px;
                color: #757575;
            }

            .btn_save {
                opacity: 0;
            }

            .btn_apply {
                margin: 0 15px 0 auto;
                @include btn($blue);
                width: 110px;
                height: 32px;
                line-height: 32px;
            }
        }
    }

    &.com_set {
        //CO.3 공통 설정
        width: 390px;

        .inp_box {
            display: flex;

            label {
                width: 95px;
            }

            .inp_area,
            .select_area {
                width: 169px;
                border-bottom: 1px solid #ddd;
            }

            .inp_area {
                input {
                    width: 169px;
                    padding: 3px 1px;
                }

                .preview_color {
                    display: block;
                    float: right;
                    width: 15px;
                    height: 15px;
                    background-color: #fff;
                    border-radius: 50%;

                    &.sty1 {
                        border: 1px solid #ddd;
                    }
                }
            }

            .select_contain {
                display: inline-block;
                position: relative;
                height: 20px;
                background: url("../images/select_custom1.svg") right 1px bottom 2px/12px no-repeat;

                label {
                    display: block;
                    font-size: 1.4rem;
                    font-family: $font_r;
                    color: #242424;
                    top: 3px;
                    left: 1px;
                    text-align: left;
                }

                select {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 20px;
                    line-height: 20px;
                    padding: 0 1px;
                    opacity: 0;
                    box-sizing: border-box;
                }
            }

            .box_style {
                .radio_contain1 {
                    width: 60px;
                    height: 20px;
                    @include check_custom1(60px, 20px, 0);

                    &.square {
                        margin-right: 10px;
                        border: 1px solid #29abe2;
                    }

                    &.round {
                        margin-right: 10px;
                        border: 1px solid #29abe2;
                        border-radius: 4px;
                    }

                    &.half_circle {
                        border: 1px solid #29abe2;
                        border-radius: 10px;
                    }
                }
            }
        }

        .preview_btn_area {
            padding: 20px 0;
            margin-bottom: 28px;
            background-color: #ddd;
            font-size: 0;
            text-align: center;

            .btn_click {
                display: inline-block;
                padding: 7px 24px 8px;
                font-size: $cont_txt;
                font-family: $font_m;
                color: #29abe2;
                line-height: 1;
                background: #fff;
                border: 1px solid #29abe2;
            }
        }

        .bottom_area {
            text-align: right;

            .btn_apply {
                margin-right: 15px;
            }
        }
    }

    &.set_header {
        //상단설정 HP.1-1
        width: 1340px;

        .cont_area {
            height: 402px;
            padding: 30px;
            box-sizing: border-box;
            background-color: #ddd;

            .wrap_dsgn_list {
                overflow: auto;

                .header_dsgn li {
                    margin-bottom: 20px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    [class^='head'] {
                        display: block;
                        cursor: pointer;
                    }

                }
            }
        }

        .bottom_area {
            padding: 35px 15px 15px;
            text-align: right;

            // .complete {
            // 	padding: 9px 40px;
            // 	@include btn($blue);
            // 	letter-spacing: 0;
            // }
        }
    }
}
.table_shop {
    //쇼핑몰 대표 테이블 디자인
    width        : 100%;
    margin-bottom: 72px;
    table-layout : fixed;
    border-top   : 1px solid #b4b4b5;
    border-bottom: 1px solid #b4b4b5;
    font-size    : 1em;

    th {
        overflow        : hidden;
        padding         : 12px 16px;
        color           : #4d4d4d;
        font-size       : 1.4rem;
        font-weight     : 400;
        border-bottom   : 1px solid #b4b4b5;
        text-align      : center;
        background-color: #e7e7e7;
    }

    td {
        padding      : 12px 16px;
        color        : #333;
        font-size    : 1.4rem;
        border       : none;
        border-bottom: 1px solid #b4b4b5;
        white-space  : normal;
        word-break   : break-all;

        p {
            font-size: 1.4rem;
        }

        .more_info {
            color: #b4b4b5
        }
    }

    td.exchange {
        padding: 12px 30px;

        p {
            padding: 7px 0;
        }

        .tit {
            margin-left: -14px;
        }
    }

    &.sty2 {
        margin-top   : 10px;
        border-top   : none;
        border-bottom: none;

        th,
        td {
            padding  : 21px 16px 23px;
            font-size: 16px;
        }

        td.nodata {
            padding      : 68px 0;
            border-bottom: none;
            color        : #b4b4b5;
            font-size    : 2.4rem;
            text-align   : center;
        }
    }

    &.mb0 {
        margin-bottom: 0 !important;
    }
}

.product-review .num {
    color    : #ff4e60;
    font-size: 1.6rem;
}

.product-review .num {
    color    : #ff4e60;
    font-size: 1.6rem;
}
